<mat-toolbar color="primary" class="navbar">
  <span class="fill-remaining-space"></span>
  <span>Asesor Agil</span>
  <span class="fill-remaining-space"></span>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="openProfile()" class="example-icon favorite-icon">
    <mat-icon>assignment_ind</mat-icon>
  </button>
</mat-toolbar>

<div class="container">

  <div fxLayout="row wrap">
    <div class="gr" fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="40%">
      <button mat-raised-button color="accent" (click)="onInitSol()">Crear Solicitud</button>
    </div>
    <div class="gr" fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="40%">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
      </mat-form-field>
    </div>

    <!-- tabla -->
    <div class="mat-elevation-z8 table-sol">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="tipo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.asesor==1">
              <mat-icon>store</mat-icon>
            </ng-container>
            <ng-container *ngIf="row.asesor==2">
              <mat-icon>local_florist</mat-icon>
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="solicitud">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Solicitud</th>
          <td mat-cell *matCellDef="let row"> {{row.solicitud}} </td>
        </ng-container>

        <ng-container matColumnDef="gestion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="onGestion(element)" [disabled]="procesando">
              <mat-icon>play_circle_filled</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="onDelete(element)" [disabled]="procesando">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="upload">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent" (click)="onSend(element)" [disabled]="procesando">
              <mat-icon>cloud_upload</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No se encontraron datos "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

  </div>
  
  <ng-container *ngIf="datasol">
    <div style="display: none;">

      <ng-container *ngIf="datasol.asesor==1">
        <app-analisis [datossol]="datasol"></app-analisis>
      </ng-container>

      <ng-container *ngIf="datasol.asesor==2">
        <app-analisisagro [datossol]="datasol"></app-analisisagro>
        <app-flujocaja [datossol]="datasol"></app-flujocaja>
      </ng-container>

    </div>
  </ng-container>

</div>