<div class="container">
    <div fxLayout="row wrap">
        <div class="gr" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
            <mat-form-field>
                <mat-label>Buscar</mat-label>
                <input matInput autocomplete="off" [formControl]="nombre" placeholder="Nombre" #input>
            </mat-form-field>
        </div>
    </div>

    <div class="mat-elevation-z8">
        <mat-progress-bar *ngIf="aResponsables.length === 0" mode="query"></mat-progress-bar>
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
                <td mat-cell *matCellDef="let row"> {{row.Username}} </td>
            </ng-container>

            <ng-container matColumnDef="regional">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Regional</th>
                <td mat-cell *matCellDef="let row"> {{row.Regional.Nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="rol">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
                <td mat-cell *matCellDef="let row"> {{row.Rol.Nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="accent">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <button mat-mini-fab type="button" color="primary" (click)="onCreate()">
                        <mat-icon>add</mat-icon>
                    </button>
                </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10"></mat-paginator>
    </div>