<div class="container">
    <div class="row">
        <mat-card>

            <mat-card-header>
                <mat-card-title>Ventas</mat-card-title>
                <mat-card-subtitle>Ventas historicas</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="ventasForm" (ngSubmit)="saveVentas(ventasForm.value)">

                    <mat-form-field>
                        <input type="email" matInput placeholder="Email" formControlName="email">
                    </mat-form-field>

                    <mat-form-field>
                        <input type="number" (keyup)="keyPress(ventasForm.value)" matInput placeholder="Valor" formControlName="valor">
                    </mat-form-field>

                    <mat-form-field>
                        <input type="number" (keyup)="keyPress(ventasForm.value)" matInput placeholder="Cantidad" formControlName="venta">
                    </mat-form-field>

                    <mat-form-field>
                        <input type="number" matInput placeholder="Total" readonly formControlName="total">
                    </mat-form-field>
                    <button type="submit" mat-button color="primary">Enviar Correo</button>
                </form>
            </mat-card-content>
        </mat-card>
        <br>      
        <br>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Obligaciones</mat-card-title>
                <mat-card-subtitle>Cliente agricola</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-vertical-stepper [linear]="isLinear" #stepper>
                    <mat-step [stepControl]="firstFormGroup">
                        <form [formGroup]="firstFormGroup">
                            <ng-template matStepLabel>Entidad financiera</ng-template>
                            <mat-form-field>
                                <mat-label>Nombre</mat-label>
                                <input matInput placeholder="Last name, First name" formControlName="firstCtrl"
                                    required>
                            </mat-form-field>
                            <div>
                                <button mat-button matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup">
                        <form [formGroup]="secondFormGroup">
                            <ng-template matStepLabel>Obligacion</ng-template>
                            <mat-form-field>
                                <mat-label>Descripcion</mat-label>
                                <input matInput formControlName="secondCtrl" placeholder="¿En que uso el capital?" required>
                            </mat-form-field>
                            <div>
                                <button mat-button matStepperPrevious>Atras</button>
                                <button mat-button matStepperNext>Siguiente</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Finalizar</ng-template>
                        <p>Esta seguro de la informacion?.</p>
                        <div>
                            <button mat-button matStepperPrevious>Atras</button>
                            <button mat-button (click)="stepper.reset()">Reiniciar</button>
                        </div>
                    </mat-step>
                </mat-vertical-stepper>

            </mat-card-content>
        </mat-card>
    </div>
</div>