<form [formGroup]="pasivosForm">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Pasivos</mat-card-title>
            <mat-card-subtitle>las deudas del personaje</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

            <div formArrayName="pasivosRows" class="alternate">
                <div fxLayout="row wrap" class="contentinventario"
                    *ngFor="let itemrow of pasivosForm.controls.pasivosRows['controls']; let i=index"
                    [formGroupName]="i">

                    <div class="gr" fxFlex="20%" fxFlex.xs="90%" fxFlex.sm="90%">
                        <mat-form-field>
                            <mat-label>Tipo</mat-label>
                            <mat-select formControlName="tipo" id="tipo{{i}}" required>
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let tip of tipoPasivo" [value]="tip">
                                    {{tip.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <ng-container [ngSwitch]="itemrow.value.tipo.template">

                        <ng-container *ngSwitchCase="'entfinan'">

                            <div class="gr" fxFlex="10%" fxFlex.xs="25%" fxFlex.sm="25%">
                                <mat-form-field>
                                    <mat-label>Clase</mat-label>
                                    <mat-select formControlName="clase" id="clase{{i}}" required>
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let cla of clasePasivo" [value]="cla.id">
                                            {{cla.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="gr" fxFlex="15%" fxFlex.xs="26%" fxFlex.sm="26%">
                                <mat-form-field>
                                    <input type="text" matInput placeholder="Acreedor" id="acreedor{{i}}"
                                        formControlName="acreedor">
                                </mat-form-field>
                            </div>
                            <div class="gr" fxFlex="10%" fxFlex.xs="26%" fxFlex.sm="26%">
                                <mat-form-field>
                                    <input type="number" matInput placeholder="Monto" id="monto{{i}}"
                                        formControlName="monto">
                                </mat-form-field>
                            </div>
                            <div class="gr" fxFlex="5%" fxFlex.xs="26%" fxFlex.sm="26%">
                                <mat-form-field>
                                    <input type="number" matInput placeholder="Plazo" id="plazo{{i}}"
                                        formControlName="plazo">
                                </mat-form-field>
                            </div>
                            <div class="gr" fxFlex="10%" fxFlex.xs="26%" fxFlex.sm="26%">
                                <mat-form-field>
                                    <input type="number" matInput placeholder="Saldo" id="saldo{{i}}"
                                        formControlName="saldo">
                                </mat-form-field>
                            </div>

                            <div class="gr" fxFlex="10%" fxFlex.xs="26%" fxFlex.sm="26%">
                                <mat-form-field>
                                    <input type="number" matInput placeholder="# Cuota" id="cuota{{i}}"
                                        formControlName="cuota">
                                </mat-form-field>
                            </div>
                            <div class="gr" fxFlex="15%" fxFlex.xs="26%" fxFlex.sm="26%">
                                <mat-form-field>
                                    <input type="text" matInput placeholder="Destino" id="destino{{i}}"
                                        formControlName="destino">
                                </mat-form-field>
                            </div>
                            <div class="gr" fxFlex="15%" fxFlex.xs="26%" fxFlex.sm="26%">
                                <mat-form-field>
                                    <input type="number" matInput placeholder="Valor" id="valor{{i}}"
                                        formControlName="valor">
                                </mat-form-field>
                            </div>
                            <div class="gr" fxFlex="10%" fxFlex.xs="26%" fxFlex.sm="26%">
                                <mat-form-field>
                                    <mat-label>Periodo</mat-label>
                                    <mat-select formControlName="periodo" id="periodo{{i}}" required>
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let pe of periodo" [value]="pe">
                                            {{pe.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="gr" fxFlex="15%" fxFlex.xs="26%" fxFlex.sm="26%">
                                <mat-form-field>
                                    <input type="number" matInput placeholder="Proyeccion" id="proyeccion{{i}}"
                                        formControlName="proyeccion" readonly>
                                </mat-form-field>
                            </div>

                            <ng-container *ngIf="itemrow.value.clase ==2;then nego ;else fam"></ng-container>

                            <ng-template #nego>

                                <div class="gr" fxFlex="15%" fxFlex.xs="26%" fxFlex.sm="26%">
                                    <mat-form-field>
                                        <input type="number" matInput placeholder="Corriente" id="corriente{{i}}"
                                            formControlName="corrienteN" readonly>
                                    </mat-form-field>
                                </div>
                                <div class="gr" fxFlex="15%" fxFlex.xs="26%" fxFlex.sm="26%">
                                    <mat-form-field>
                                        <input type="number" matInput placeholder="No corriente" id="nocorriente{{i}}"
                                            formControlName="nocorrienteN" readonly>
                                    </mat-form-field>
                                </div>

                            </ng-template>

                            <ng-template #fam>

                                <div class="gr" fxFlex="15%" fxFlex.xs="26%" fxFlex.sm="26%">
                                    <mat-form-field>
                                        <input type="number" matInput placeholder="Corriente" id="corrienteF{{i}}"
                                            formControlName="corrienteF" readonly>
                                    </mat-form-field>
                                </div>
                                <div class="gr" fxFlex="15%" fxFlex.xs="26%" fxFlex.sm="26%">
                                    <mat-form-field>
                                        <input type="number" matInput placeholder="No corriente" id="nocorrienteF{{i}}"
                                            formControlName="nocorrienteF" readonly>
                                    </mat-form-field>
                                </div>
                            </ng-template>

                        </ng-container>

                        <ng-container *ngSwitchCase="'hipo'">
                            <div class="gr" fxFlex="90%" fxFlex.xs="90%" fxFlex.sm="90%">
                                <mat-slide-toggle formControlName="negociovivienda">¿El negocio queda ubicado en la
                                    vivienda
                                    hipotecada?</mat-slide-toggle>
                            </div>
                            <div class="gr" fxFlex="30%" fxFlex.xs="26%" fxFlex.sm="26%">
                                <mat-form-field>
                                    <input type="number" matInput placeholder="Sando Actual" id="saldo{{i}}"
                                        formControlName="saldo">
                                </mat-form-field>
                            </div>
                            <div class="gr" fxFlex="30%" fxFlex.xs="26%" fxFlex.sm="26%">
                                <mat-form-field>
                                    <input type="number" matInput placeholder="Cuota" id="cuotaN{{i}}"
                                        formControlName="cuotaN">
                                </mat-form-field>
                            </div>
                            <div class="gr" fxFlex="30%" fxFlex.xs="26%" fxFlex.sm="26%">
                                <mat-form-field>
                                    <input type="text" matInput placeholder="Acreedor" id="acreedorhipo{{i}}"
                                        formControlName="acreedor">
                                </mat-form-field>
                            </div>

                            <fieldset fxLayout="row wrap">
                                <legend>Negocio</legend>
                                <div class="gr" fxFlex="30%" fxFlex.xs="25%" fxFlex.sm="25%">
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Monto" id="cuotaN{{i}}"
                                            formControlName="cuotaN">
                                    </mat-form-field>
                                </div>
                                <div class="gr" fxFlex="30%" fxFlex.xs="25%" fxFlex.sm="25%">
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Corriente" id="corrienteN{{i}}"
                                            formControlName="corrienteN" readonly>
                                    </mat-form-field>
                                </div>
                                <div class="gr" fxFlex="30%" fxFlex.xs="25%" fxFlex.sm="25%">
                                    <mat-form-field>
                                        <input type="number" matInput placeholder="No Corriente" id="nocorrienteN{{i}}"
                                            formControlName="nocorrienteN" readonly>
                                    </mat-form-field>
                                </div>
                            </fieldset>
                            <fieldset fxLayout="row wrap">
                                <legend>Familia</legend>
                                <div class="gr" fxFlex="30%" fxFlex.xs="25%" fxFlex.sm="25%">
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Monto" id="cuotaF{{i}}"
                                            formControlName="cuotaF">
                                    </mat-form-field>
                                </div>
                                <div class="gr" fxFlex="30%" fxFlex.xs="25%" fxFlex.sm="25%">
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Corriente" id="corrienteF{{i}}"
                                            formControlName="corrienteF" readonly>
                                    </mat-form-field>
                                </div>
                                <div class="gr" fxFlex="30%" fxFlex.xs="25%" fxFlex.sm="25%">
                                    <mat-form-field>
                                        <input type="number" matInput placeholder="No Corriente" id="nocorrienteF{{i}}"
                                            formControlName="nocorrienteF" readonly>
                                    </mat-form-field>
                                </div>
                            </fieldset>
                        </ng-container>

                        <ng-container *ngSwitchCase="'periodicidad'">

                            <div class="gr" fxFlex="10%" fxFlex.xs="25%" fxFlex.sm="25%">
                                <mat-form-field>
                                    <mat-label>Clase</mat-label>
                                    <mat-select formControlName="clase" id="clase{{i}}" required>
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let cla of clasePasivo" [value]="cla.id">
                                            {{cla.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="gr" fxFlex="15%" fxFlex.xs="26%" fxFlex.sm="26%">
                                <mat-form-field>
                                    <input type="text" matInput placeholder="Acreedor" id="acreedor{{i}}"
                                        formControlName="acreedor">
                                </mat-form-field>
                            </div>
                            <div class="gr" fxFlex="10%" fxFlex.xs="26%" fxFlex.sm="26%">
                                <mat-form-field>
                                    <input type="number" matInput placeholder="Monto" id="monto{{i}}"
                                        formControlName="monto">
                                </mat-form-field>
                            </div>
                            <div class="gr" fxFlex="10%" fxFlex.xs="26%" fxFlex.sm="26%">
                                <mat-form-field>
                                    <input type="number" matInput placeholder="Saldo Actual" id="saldo{{i}}"
                                        formControlName="saldo">
                                </mat-form-field>
                            </div>
                            <div class="gr" fxFlex="5%" fxFlex.xs="26%" fxFlex.sm="26%">
                                <mat-form-field>
                                    <input type="number" matInput placeholder="Plazo" id="plazo{{i}}"
                                        formControlName="plazo">
                                </mat-form-field>
                            </div>
                            <div class="gr" fxFlex="10%" fxFlex.xs="26%" fxFlex.sm="26%">
                                <mat-form-field>
                                    <input type="number" matInput placeholder="# Cuota" id="cuota{{i}}"
                                        formControlName="cuota">
                                </mat-form-field>
                            </div>
                            <div class="gr" fxFlex="10%" fxFlex.xs="26%" fxFlex.sm="26%">
                                <mat-form-field>
                                    <mat-label>Periodo</mat-label>
                                    <mat-select formControlName="periodo" id="periodo{{i}}" required>
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let pe of periodo" [value]="pe">
                                            {{pe.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="gr" fxFlex="15%" fxFlex.xs="26%" fxFlex.sm="26%">
                                <mat-form-field>
                                    <input type="text" matInput placeholder="Destino" id="destino{{i}}"
                                        formControlName="destino">
                                </mat-form-field>
                            </div>
                            <div class="gr" fxFlex="15%" fxFlex.xs="26%" fxFlex.sm="26%">
                                <mat-form-field>
                                    <input type="number" max="4" matInput placeholder="Tasa" id="tasa{{i}}"
                                        formControlName="tasa">
                                </mat-form-field>
                            </div>
                            <div class="gr" fxFlex="90%" fxFlex.xs="90%" fxFlex.sm="90%">
                                <mat-radio-group formControlName="pago" aria-label="Select an option">
                                    <mat-radio-button value="1">Pago Periodico</mat-radio-button>
                                    <mat-radio-button (click)="addCuotas(i)" value="2">Pago Irregular</mat-radio-button>
                                </mat-radio-group>
                            </div>

                            <ng-container *ngIf="itemrow.value.pago ==2;then irregular ;else periodico"></ng-container>
                            <ng-container *ngIf="itemrow.value.clase ==2;then nego ;else fam"></ng-container>
                            
                            <ng-template #periodico>
                                <fieldset fxLayout="row wrap">
                                    <legend>Cuotas de interes Periodica</legend>

                                    <div class="gr" fxFlex="15%" fxFlex.xs="26%" fxFlex.sm="26%">
                                        <mat-form-field>
                                            <input type="number" matInput placeholder="Interes" id="calculoint{{i}}"
                                                formControlName="calculoint">
                                        </mat-form-field>
                                    </div>

                                    <div class="gr" fxFlex="10%" fxFlex.xs="26%" fxFlex.sm="26%">
                                        <mat-form-field>
                                            <mat-label>Periodo Interes</mat-label>
                                            <mat-select formControlName="periodoint" id="periodoint{{i}}" required>
                                                <mat-option>-Seleccione-</mat-option>
                                                <mat-option *ngFor="let pe of periodo" [value]="pe">
                                                    {{pe.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="gr" fxFlex="15%" fxFlex.xs="26%" fxFlex.sm="26%">
                                        <mat-form-field>
                                            <mat-label>Proximo</mat-label>
                                            <input matInput [matDatepicker]="dp3" formControlName="fechaproxint">
                                            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                                            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                </fieldset>
                                <fieldset fxLayout="row wrap">
                                    <legend>Cuotas de capital Periodica</legend>

                                    <div class="gr" fxFlex="15%" fxFlex.xs="26%" fxFlex.sm="26%">
                                        <mat-form-field>
                                            <input type="number" matInput placeholder="Capital" id="calculocap{{i}}"
                                                formControlName="calculocap">
                                        </mat-form-field>
                                    </div>
                                    <div class="gr" fxFlex="10%" fxFlex.xs="26%" fxFlex.sm="26%">
                                        <mat-form-field>
                                            <mat-label>Periodo Capital</mat-label>
                                            <mat-select formControlName="periodocap" id="periodocap{{i}}" required>
                                                <mat-option>-Seleccione-</mat-option>
                                                <mat-option *ngFor="let pe of periodo" [value]="pe">
                                                    {{pe.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="gr" fxFlex="15%" fxFlex.xs="26%" fxFlex.sm="26%">
                                        <mat-form-field>
                                            <mat-label>Proximo</mat-label>
                                            <input matInput [matDatepicker]="dp4" formControlName="fechaproxint">
                                            <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
                                            <mat-datepicker #dp4 disabled="false"></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </fieldset>
                            </ng-template>
                            
                            <ng-template #irregular>
                                <div fxLayout="row wrap" formArrayName="cuotasRow">
                                    <div *ngFor="let cuotaint of cuotas(i).controls; let cu=index">
                                        <div [formGroupName]="cu">
                                            <div class="gr" fxFlex="40%" fxFlex.xs="50%" fxFlex.sm="40%">
                                                <mat-form-field>
                                                    <input type="number" matInput placeholder="cuota"
                                                        formControlName="cuota">
                                                </mat-form-field>
                                            </div>
                                            <div class="gr" fxFlex="40%" fxFlex.xs="50%" fxFlex.sm="40%">
                                                <mat-form-field>
                                                    <mat-label>fecha</mat-label>
                                                    <input matInput [matDatepicker]="dp5" formControlName="fecha">
                                                    <mat-datepicker-toggle matSuffix [for]="dp5"></mat-datepicker-toggle>
                                                    <mat-datepicker #dp5 disabled="false"></mat-datepicker>
                                                </mat-form-field>                                         
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </ng-template>

                            <ng-template #nego>
                                <div class="gr" fxFlex="15%" fxFlex.xs="40%" fxFlex.sm="40%">
                                    <mat-form-field>
                                        <input type="number" matInput placeholder="Corriente" id="corriente{{i}}"
                                            formControlName="corrienteN" readonly>
                                    </mat-form-field>
                                </div>
                                <div class="gr" fxFlex="15%" fxFlex.xs="40%" fxFlex.sm="40%">
                                    <mat-form-field>
                                        <input type="number" matInput placeholder="No corriente" id="nocorriente{{i}}"
                                            formControlName="nocorrienteN" readonly>
                                    </mat-form-field>
                                </div>
                            </ng-template>

                            <ng-template #fam>

                                <div class="gr" fxFlex="15%" fxFlex.xs="40%" fxFlex.sm="40%">
                                    <mat-form-field>
                                        <input type="number" matInput placeholder="Corriente" id="corrienteF{{i}}"
                                            formControlName="corrienteF" readonly>
                                    </mat-form-field>
                                </div>
                                <div class="gr" fxFlex="15%" fxFlex.xs="40%" fxFlex.sm="40%">
                                    <mat-form-field>
                                        <input type="number" matInput placeholder="No corriente" id="nocorrienteF{{i}}"
                                            formControlName="nocorrienteF" readonly>
                                    </mat-form-field>
                                </div>

                            </ng-template>

                        </ng-container>
                    </ng-container>

                    <div class="gr" fxFlex="10%" fxFlex.xs="15%" fxFlex.sm="15%">
                        <button mat-fab type="button" color="warn" mat-mini-fab (click)="deleteRow(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <button mat-fab aria-label="add" mat-mini-fab class="btnadd" type="button" color="accent"
                (click)="addNewRow()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-content>
    </mat-card>
</form>