<div #reporte class="content" id="contentPDF">
    <!-- Encabezado -->
    <table>
        <tr>
            <td rowspan="3" style="text-align:center;width: 200px;">
                <img src="assets/pictures/Logo.png">
            </td>
            <td rowspan="3" style="text-align:center">Analisis de credito agropecuario</td>
            <td style="text-align:center">COL-FO-006</td>
        </tr>
        <tr>
            <td style="text-align:center">Versión 11</td>
        </tr>
        <tr>
            <td style="text-align:center">19/07/2021</td>
        </tr>
    </table>

    <!-- Documento y solicitud -->
    <table>
        <tr>
            <td>Documento de identidad del cliente</td>
            <td>{{datasolicitud.cedula}}</td>
            <td>solicitud</td>
            <td>{{datasolicitud.solicitud}}</td>
        </tr>
    </table>

    <!-- Mapa de ubicacion -->
    <ng-container *ngIf="datasolicitud.Ubicacion">
        <table>
            <tr>
                <th style="text-align:center" colspan=4> Mapa de ubicación (como llegar al predio)</th>
            </tr>
            <tr>
                <td colspan=1>tiempo recorrido</td>
                <td colspan=3>
                    {{datasolicitud.Ubicacion.tiempohora}}:{{datasolicitud.Ubicacion.tiempomin}}:{{datasolicitud.Ubicacion.tiemposeg}}
                </td>
            </tr>
            <tr>
                <td colspan=1>Punto de partida</td>
                <td colspan=1>{{datasolicitud.Ubicacion.puntopartida}}</td>
                <td colspan=1>Punto de llegada</td>
                <td colspan=1>{{datasolicitud.Ubicacion.puntollegada}}</td>
            </tr>
            <tr>
                <td colspan=1>Descripción punto de partida</td>
                <td colspan=1>{{datasolicitud.Ubicacion.descripcionppartida}}</td>
                <td colspan=1>Descripción punto de llegada</td>
                <td colspan=1>{{datasolicitud.Ubicacion.descripcionpllegada}}</td>
            </tr>
            <tr>
                <td rowspan="3" colspan=2>
                    <img [src]='transform(datasolicitud.Ubicacion.fotoppartida)' width="500px" height="400px">
                </td>
                <td rowspan="3" colspan=2>
                    <img [src]='transform(datasolicitud.Ubicacion.fotopllegada)' width="500px" height="400px">
            </tr>
        </table>
    </ng-container>
    <!-- Balance general -->
    <ng-container *ngIf="datasolicitud.Balance">

        <table>
            <tr>
                <th align="center" colspan=10>Balance general</th>
            </tr>
            <tr>
                <td>Efectivo disponible</td>
                <td style="text-align:right;" colspan=8>${{datasolicitud.Balance.efectivo}}</td>
            </tr>
            <tr>
                <td>Cuentas por cobrar</td>
                <td>N. de clientes</td>
                <td>{{datasolicitud.Balance.clienteCobrar}}</td>
                <td>Valor</td>
                <td style="width: 10%;text-align: right;">${{datasolicitud.Balance.valorCobrar}}</td>
                <td>Incobrable</td>
                <td style="text-align: right;">${{datasolicitud.Balance.incobrableCobrar}}</td>
                <td>Total</td>
                <td style="text-align: right;">${{datasolicitud.Balance.cobrarTotal}}</td>
            </tr>
            <tr>
                <td>Observaciones</td>
                <td colspan=8>{{datasolicitud.Balance.observacionesCobrar}}</td>
            </tr>
            <tbody *ngFor="let recu of datasolicitud.Balance.recuperacion; let cont=index">
                <tr>
                    <td>Recuperación de cartera</td>
                    <td style="text-align: right;" colspan=6>${{recu.valor}}</td>
                    <td>Mes de recuperación</td>
                    <td>{{equivalencia(recu.mes,'MesNombre')}}</td>

                </tr>
            </tbody>
        </table>
        <!-- Inventarios -->
        <table>
            <tr>
                <th align="center" colspan=10>Inventarios</th>
            </tr>
            <tr>
                <th style="width: 20%;">Tipo</th>
                <th style="width: 30%;">Descripción</th>
                <th style="width: 20%;">Cantidad</th>
                <th style="width: 20%;">Valor unitario</th>
                <th>Valor</th>
            </tr>
            <tbody *ngFor="let inven of datasolicitud.Balance.inventarioRow; let cont=index">
                <tr>
                    <td *ngIf="inven.tipo" style="width: 20%;">{{inven.tipo.name}}</td>
                    <td style="width: 30%;">{{inven.descripcion}}</td>
                    <td style="width: 20%;">{{inven.cantidad}}</td>
                    <td style="width: 20%;text-align:right;">${{inven.vlrUni}}</td>
                    <td align="right">${{inven.valor}}</td>
                </tr>
            </tbody>
            <tr>
                <td colspan=4>Total</td>
                <td align="right">${{datasolicitud.Balance.inventarioTotal}}</td>
            </tr>
        </table>
        <!-- Activos del negocio -->
        <table>
            <thead>
                <tr>
                    <th colspan=10>Activos Negocio</th>
                </tr>
                <tr>
                    <th style="width: 20%;text-align:center">Tipo</th>
                    <th style="width: 30%;text-align:center">Descripcion</th>
                    <th style="width: 20%;text-align:center">Cantidad</th>
                    <th style="width: 20%;text-align:center">Valor unitario</th>
                    <th style="text-align:center">Valor</th>
                </tr>
            </thead>
            <tbody *ngFor="let act of datasolicitud.Balance.actividadNegRows; let cont=index">
                <tr>
                    <td *ngIf="act.tipo" style="width: 20%;"> {{act.tipo.name}}</td>
                    <td style="width: 30%;">{{act.detalle}}</td>
                    <td style="width: 20%;">{{act.cantidad}}</td>
                    <td style="width: 20%;text-align:right">${{act.vlrUni}}</td>
                    <td align="right">${{act.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan=4>Total</td>
                    <td align="right">${{datasolicitud.Balance.actnegTotal}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- Activos de la familia -->
        <table>
            <thead>
                <tr>
                    <th colspan=10>Activos de la familia</th>
                </tr>
                <tr>
                    <th style="width: 20%;" style="text-align:center">Tipo</th>
                    <th style="width: 30%;" style="text-align:center">Descripción</th>
                    <th style="width: 20%;" style="text-align:center">Cantidad</th>
                    <th style="width: 20%;" style="text-align:center">Valor unitario</th>
                    <th style="text-align:center">Valor</th>
                </tr>
            </thead>
            <tbody *ngFor="let inv of datasolicitud.Balance.activosFamRows; let cont=index">
                <tr>
                    <td *ngIf="inv.tipo" style="width: 20%;">{{inv.tipo.name}}</td>
                    <td style="width: 30%;">{{inv.detalle}}</td>
                    <td style="width: 20%;">{{inv.cantidad}}</td>
                    <td style="width: 20%;text-align:right">${{inv.vlrUni}}</td>
                    <td align="right">${{inv.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan=4>Total</td>
                    <td align="right">${{datasolicitud.Balance.actfamTotal}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- Principales inversiones de la familia y el negocio en el ultimo año -->
        <table>
            <thead>
                <tr>
                    <th colspan=4>Principales inversiones de la familia y el negocio en el ultimo año</th>
                </tr>
                <tr>
                    <th style="text-align:center">Descripción</th>
                    <th style="text-align:center">Mes de compra</th>
                    <th style="text-align:center">Origen de los recursos</th>
                    <th style="text-align:center">Valor</th>
                </tr>
            </thead>
            <tbody *ngFor="let inv of datasolicitud.Balance.inversiones; let cont=index">
                <tr>
                    <td>{{inv.detalle}}</td>
                    <td>{{equivalencia(inv.mes,'MesNombre')}}</td>
                    <td>{{inv.origen}}</td>
                    <td align="right">${{inv.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td align="right" colspan=3>${{datasolicitud.Balance.totalInversiones}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- Creditos con fundacion dela mujer -->
        <table>
            <thead>
                <tr>
                    <th colspan=2>Créditos con Fundación delamujer</th>
                </tr>
                <tr>
                    <th style="text-align:right">Valor</th>
                </tr>
            </thead>
            <tbody *ngFor="let cred of datasolicitud.Balance.creditos; let cont=index">
                <tr>
                    <td align="right">${{cred.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td align="right"> Total ${{datasolicitud.Balance.totalCreditos}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- Creditos con proveedor -->
        <table>
            <thead>
                <tr>
                    <th colspan=12>Créditos con proveedor</th>
                </tr>
                <tr *ngIf="datasolicitud.Balance.proveedoresRow.length+1==0">
                    <td colspan=3>¿Cuenta actualmete con créditos con proveedores?</td>
                    <td style="text-align:center">NO</td>
                    <td colspan=3>¿Cuantos?</td>
                    <td>{{datasolicitud.Balance.proveedoresRow.length+1}}</td>
                    <td colspan=3>Total</td>
                    <td style="text-align:right">${{datasolicitud.Balance.proveedoresTotal}}</td>
                </tr>
                <tr *ngIf="datasolicitud.Balance.proveedoresRow.length+1!==0">
                    <td colspan=3>¿Cuenta actualmete con créditos con proveedores?</td>
                    <td style="text-align:center">SI</td>
                    <td colspan=3>¿Cuantos?</td>
                    <td>{{datasolicitud.Balance.proveedoresRow.length+1}}</td>
                    <td colspan=3>Total:</td>
                    <td style="text-align:right">${{datasolicitud.Balance.proveedoresTotal}}</td>
                </tr>
            </thead>
            <tbody *ngFor="let credpro of datasolicitud.Balance.proveedoresEstacionales; let cont=index">
                <tr>
                    <td style="text-align:center">Proveedor</td>
                    <td>{{credpro.nombre}}</td>
                    <td style="text-align:center">Numero de cuotas</td>
                    <td>{{credpro.numcuotas}}</td>
                    <td colspan=4 style="text-align:center">Total Proveedor</td>
                    <td colspan=4 align="right">${{credpro.total}}</td>
                </tr>
                <tr *ngFor="let credproMes of credpro.cuotas; let cont=index">
                    <td>Mes</td>
                    <td colspan=2>{{equivalencia(credproMes.mes,'MesNombre')}}</td>
                    <td>Valor</td>
                    <td colspan=8 style="text-align:right">${{credproMes.valor}}</td>
                </tr>
            </tbody>

        </table>
        <!-- pasivos del negocio -->
        <table>
            <thead>
                <tr>
                    <th colspan="9">Pasivos del negocio</th>
                </tr>
                <tr>
                    <th style="text-align:center">Tipo</th>
                    <th style="text-align:center">Acreedor</th>
                    <th style="text-align:center">Monto Apr</th>
                    <th style="text-align:center">Saldo Actual</th>
                    <th style="text-align:center">Plazo</th>
                    <th style="text-align:center">Destino</th>
                    <th style="text-align:center">Cuota</th>
                    <th style="text-align:center">Corriente</th>
                    <th style="text-align:center">No corriente</th>
                </tr>
            </thead>
            <tbody *ngFor="let pas of datasolicitud.Balance.pasivosRows; let cont=index">
                <tr *ngIf="pas.clase==2">
                    <td *ngIf="pas.tipo">{{pas.tipo.name}}</td>
                    <td>{{pas.acreedor}}</td>
                    <td style="text-align:right">${{pas.monto}}</td>
                    <td style="text-align:right">${{pas.saldo}}</td>
                    <td style="text-align:center">{{pas.cuota}} / {{pas.plazo}}</td>
                    <td>{{pas.destino}}</td>
                    <td style="text-align:right">${{pas.valor}}</td>
                    <td style="text-align:right">${{pas.corrienteN}}</td>
                    <td style="text-align:right">${{pas.nocorrienteN}}</td>
                </tr>
                <ng-container *ngIf="pas.clase==0">
                    <tr *ngIf="pas.negociovivienda">
                        <td *ngIf="pas.tipo">{{pas.tipo.name}}</td>
                        <td>{{pas.acreedor}}</td>
                        <td style="text-align:right">${{pas.saldoN}}</td>
                        <td style="text-align:right">${{pas.montoN}}</td>
                        <td style="text-align:center">{{pas.cuota}} / {{pas.plazo}}</td>
                        <td>{{pas.destino}}</td>
                        <td style="text-align:right">${{pas.valor}}</td>
                        <td style="text-align:right">${{pas.corrienteN}}</td>
                        <td style="text-align:right">${{pas.nocorrienteN}}</td>
                    </tr>
                </ng-container>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">Total</td>
                    <td style="text-align:right">{{datasolicitud.Balance.tcuotan | currency:'$': 'symbol' : '1.0-0' }}
                    </td>
                    <td style="text-align:right">{{datasolicitud.Balance.tcorrienten | currency:'$': 'symbol' :
                        '1.0-0'}} </td>
                    <td style="text-align:right">{{datasolicitud.Balance.tnocorrienten| currency:'$': 'symbol' :
                        '1.0-0'}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- pasivos de la familia -->
        <table>
            <thead>
                <tr>
                    <th colspan="9">Pasivos de la familia</th>
                </tr>
                <tr>
                    <th style="text-align:center">Tipo</th>
                    <th style="text-align:center">Acreedor</th>
                    <th style="text-align:center">Monto Apr</th>
                    <th style="text-align:center">Saldo Actual</th>
                    <th style="text-align:center">Plazo</th>
                    <th style="text-align:center">Destino</th>
                    <th style="text-align:center">Cuota</th>
                    <th style="text-align:center">Corriente</th>
                    <th style="text-align:center">No corriente</th>
                </tr>
            </thead>
            <tbody *ngFor="let pas of datasolicitud.Balance.pasivosRows; let cont=index">
                <tr *ngIf="pas.clase==1">
                    <td *ngIf="pas.tipo">{{pas.tipo.name}}</td>
                    <td>{{pas.acreedor}}</td>
                    <td style="text-align:right">${{pas.monto}}</td>
                    <td style="text-align:right">${{pas.saldo}}</td>
                    <td style="text-align:center">{{pas.cuota}} / {{pas.plazo}}</td>
                    <td>{{pas.destino}}</td>
                    <td style="text-align:right">${{pas.valor}}</td>
                    <td style="text-align:right">${{pas.corrienteF}}</td>
                    <td style="text-align:right">${{pas.nocorrienteF}}</td>
                </tr>
                <ng-container *ngIf="pas.clase==0">
                    <tr>
                        <td *ngIf="pas.tipo">{{pas.tipo.name}}</td>
                        <td>{{pas.acreedor}}</td>
                        <td style="text-align:right">${{pas.saldoF}}</td>
                        <td style="text-align:right">${{pas.montoF}}</td>
                        <td style="text-align:center">{{pas.cuota}} / {{pas.plazo}}</td>
                        <td>{{pas.destino}}</td>
                        <td style="text-align:right">${{pas.valor}}</td>
                        <td style="text-align:right">${{pas.corrienteF}}</td>
                        <td style="text-align:right">${{pas.nocorrienteF}}</td>
                    </tr>
                </ng-container>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">Total</td>
                    <td style="text-align:right">{{datasolicitud.Balance.tcuotaf | currency:'$': 'symbol' : '1.0-0'}}
                    </td>
                    <td style="text-align:right">{{datasolicitud.Balance.tcorrientef | currency:'$': 'symbol' :
                        '1.0-0'}}</td>
                    <td style="text-align:right">{{datasolicitud.Balance.tnocorrientef | currency:'$': 'symbol' :
                        '1.0-0'}}</td>
                </tr>
            </tfoot>
        </table>
    </ng-container>

    <ng-container *ngIf="datasolicitud.Gastos">

        <!-- Remuneracion del personal -->
        <table>
            <thead>
                <tr>
                    <th colspan=4>Remuneración del personal</th>
                </tr>
                <tr>
                    <th style="text-align:center">Proveedor</th>
                    <th style="text-align:center">Valor</th>
                </tr>
            </thead>
            <tbody *ngFor="let remu of datasolicitud.Gastos.remuneracionRow; let cont=index">
                <tr>
                    <td>{{remu.cargo}}</td>
                    <td align="right">${{remu.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td align="right" colspan=3>${{datasolicitud.Gastos.totalRemuneracion}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- Gastos del Negocio Mensual -->
        <table>
            <thead>
                <tr>
                    <th colspan=9>Gastos del Negocio Mensual</th>
                </tr>
                <tr>
                    <th style="text-align:center">Alquiler</th>
                    <th style="text-align:center">Servicios</th>
                    <th style="text-align:center">Transporte</th>
                    <th style="text-align:center">Flete</th>
                    <th style="text-align:center">Impuestos</th>
                    <th style="text-align:center">Mantenimiento</th>
                    <th style="text-align:center">Imprevistos</th>
                    <th style="text-align:center">Otros</th>
                    <th style="text-align:center">Total</th>
                </tr>
            </thead>
            <tr>
                <td style="text-align:right">${{datasolicitud.Gastos.alquilerN}}</td>
                <td style="text-align:right">${{datasolicitud.Gastos.serviciosN}}</td>
                <td style="text-align:right">${{datasolicitud.Gastos.transporteN}}</td>
                <td style="text-align:right">${{datasolicitud.Gastos.fletesN}}</td>
                <td style="text-align:right">${{datasolicitud.Gastos.imprevistosN}}</td>
                <td style="text-align:right">${{datasolicitud.Gastos.mantenimientoN}}</td>
                <td style="text-align:right">${{datasolicitud.Gastos.imprevistosN}}</td>
                <td style="text-align:right">${{datasolicitud.Gastos.otrosN}}</td>
                <td align="right">${{datasolicitud.Gastos.totalN}}</td>
            </tr>
        </table>
        <!-- Gastos del Negocio Estacional -->
        <table>
            <thead>
                <tr>
                    <th colspan=3>Gastos del Negocio Estacional</th>
                </tr>
                <tr>
                    <th style="text-align:center">Concepto</th>
                    <th style="text-align:center">Mes</th>
                    <th style="text-align:center">Valor</th>
                </tr>
            </thead>
            <tbody *ngFor="let GasEst of datasolicitud.Gastos.estacionalesN; let cont=index">
                <tr>
                    <td>{{GasEst.concepto}}</td>
                    <td>{{Mes(GasEst.mes)}}</td>
                    <td align="right">${{GasEst.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan=2>Total</td>
                    <td align="right">${{datasolicitud.Gastos.totalEstacionalesN}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- Gastos de la Familia -->
        <table>
            <thead>
                <tr>
                    <th colspan=10>Gastos de la Familia</th>
                </tr>
                <tr>
                    <th style="text-align:center">Arriendo</th>
                    <th style="text-align:center">Alimentación</th>
                    <th style="text-align:center">Educación</th>
                    <th style="text-align:center">Vestuario</th>
                    <th style="text-align:center">Salud</th>
                    <th style="text-align:center">Transporte</th>
                    <th style="text-align:center">Servicios</th>
                    <th style="text-align:center">Entretimiento</th>
                    <th style="text-align:center">Otros</th>
                    <th style="text-align:center">Total</th>
                </tr>
            </thead>
            <tr>
                <td style="text-align:right">${{datasolicitud.Gastos.arriendoF}}</td>
                <td style="text-align:right">${{datasolicitud.Gastos.alimentacionF}}</td>
                <td style="text-align:right">${{datasolicitud.Gastos.educacionF}}</td>
                <td style="text-align:right">${{datasolicitud.Gastos.vestuarioF}}</td>
                <td style="text-align:right">${{datasolicitud.Gastos.saludF}}</td>
                <td style="text-align:right">${{datasolicitud.Gastos.transporteF}}</td>
                <td style="text-align:right">${{datasolicitud.Gastos.serviciosF}}</td>
                <td style="text-align:right">${{datasolicitud.Gastos.entretenimientoF}}</td>
                <td style="text-align:right">${{datasolicitud.Gastos.otrosF}}</td>
                <td align="right">${{datasolicitud.Gastos.totalF}}</td>
            </tr>


        </table>
        <!-- Gastos de la familia Estacional -->
        <table>
            <thead>
                <tr>
                    <th colspan=4>Gastos de la familia Estacional</th>
                </tr>
                <tr>
                    <th style="text-align:center">Concepto</th>
                    <th style="text-align:center">Mes</th>
                    <th style="text-align:center">Valor</th>
                </tr>
            </thead>
            <tbody *ngFor="let gastF of datasolicitud.Gastos.estacionalesF; let cont=index">
                <tr>
                    <td>{{gastF.concepto}}</td>
                    <td>{{Mes(gastF.mes)}}</td>
                    <td align="right">${{gastF.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan=2>Total</td>
                    <td align="right">${{datasolicitud.Gastos.totalEstacionalesF}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- Otros Ingresos Familiares -->
        <table>
            <thead>
                <tr>
                    <th colspan=4>Otros Ingresos Familiares</th>
                </tr>
                <tr>
                    <th style="text-align:center">Concepto</th>
                    <th style="text-align:center">Valor</th>
                    <th style="text-align:center">Observación</th>
                </tr>
            </thead>
            <tbody *ngFor="let OtrosIn of datasolicitud.Gastos.otrosIngresosRow; let cont=index">
                <tr>
                    <td>{{equivalencia(OtrosIn.ingreso,'tipoingreso')}}</td>
                    <td style="text-align:right">${{OtrosIn.valor}}</td>
                    <td align="right">{{OtrosIn.observacion}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td> Total</td>
                    <td align="right">${{datasolicitud.Gastos.totalOtros}}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </ng-container>

    <br>
    <mat-divider></mat-divider>
    <br>

    <table>
        <thead>
            <tr>
                <th style="text-align: center;height: 40px;"><b>Actividades del cliente</b></th>
            </tr>
        </thead>
    </table>

    <!-- Actividades del cliente -->
    <div *ngFor="let act of datasolicitud.CrucesAgro" id="actividades">

        <!--
        ....###.....######...########..####..######...#######..##..........###...
        ...##.##...##....##..##.....##..##..##....##.##.....##.##.........##.##..
        ..##...##..##........##.....##..##..##.......##.....##.##........##...##.
        .##.....##.##...####.########...##..##.......##.....##.##.......##.....##
        .#########.##....##..##...##....##..##.......##.....##.##.......#########
        .##.....##.##....##..##....##...##..##....##.##.....##.##.......##.....##
        .##.....##..######...##.....##.####..######...#######..########.##.....##
        -->
        <ng-container *ngIf="act.tipo==1">
            <!-- Transitorio -->
            <div *ngIf="act.nombre.tipoproducto=='Transitorio'">
                <table>
                    <thead>
                        <tr>
                            <td style="text-align: center;">
                                <mat-icon class="mat-18">local_florist</mat-icon>
                            </td>
                            <td *ngIf="act.nombre" colspan="5">
                                Actividad {{equivalencia(act.tipo,'TipoActividad')}} de <b>{{act.nombre.name}}</b>
                            </td>
                            <td *ngIf="act.nombre" style="text-align:center">
                                Tipo de producción: <b>{{act.nombre.tipoproducto}}</b>
                            </td>
                            <th style="text-align:center">Ingreso</th>
                            <td style="text-align:right">${{totalingreso(act)}}</td>
                            <th style="text-align:center">Egreso</th>
                            <td style="text-align:right">${{totalegreso(act)}}</td>
                        </tr>
                        <tr>
                            <td style="text-align:center">Unidad de venta</td>
                            <td colspan=3 *ngIf="act.unidadventa" style="text-align:center">{{act.unidadventa.name}}
                            </td>
                            <td style="text-align:center">Precio minimo</td>
                            <td style="text-align:center">${{act.preciomin}}</td>
                            <td style="text-align:center">Precio actual</td>
                            <td style="text-align:center">${{act.precioactual}}</td>
                            <td style="text-align:center">Precio promedio</td>
                            <td style="text-align:center">${{act.preciopromedio}}</td>
                        </tr>
                    </thead>
                </table>

                <!-- Lote 1 -->
                <div *ngFor="let lt of act.lotesAgro; let cont=index">
                    <table>
                        <tr>
                            <th colspan=12>Lote {{cont+1}}</th>
                        </tr>
                        <tr>
                            <td style="text-align:center">Edad del cultivo</td>
                            <td style="text-align:center">{{lt.edadcult}} {{equivalencia(lt.periodoedad,'PeriodoEdad')}}
                            </td>
                            <td style="text-align:center">Área cultivada</td>
                            <td style="text-align:center">{{lt.areacult}} m²</td>
                            <td style="text-align:center">Distacia entre surcos</td>
                            <td style="text-align:center">{{lt.dsurcos}}</td>
                            <td style="text-align:center">Distacia entre plantas</td>
                            <td style="text-align:center">{{lt.dplantas}}</td>
                            <td style="text-align:center">Distacia entre siembra</td>
                            <td style="text-align:center">{{lt.diastancia}}</td>
                            <td style="text-align:center"># plantas/semillas del lote</td>
                            <td style="text-align:center">{{lt.numplantas}}</td>
                        </tr>
                    </table>

                    <!-- INGRESO Ciclo de la producción Transitorias -->
                    <table>
                        <thead>
                            <tr>
                                <th colspan=7>Ingreso Lote
                                    <ng-container *ngIf="cont==0">Principal</ng-container>
                                    <ng-container *ngIf="cont>0">{{cont+1}}</ng-container>
                                    <ng-container *ngIf="act.nombre">
                                        {{act.nombre.name}}
                                    </ng-container>
                                </th>
                            </tr>
                            <tr>
                                <td *ngIf="act.unidadventa" style="text-align:center">Rendimiento por lote
                                    {{act.unidadventa.name}}</td>
                                <td *ngIf="act.unidadventa" style="text-align:center">
                                    Unidades Totales para la Venta {{act.unidadventa.name}}
                                </td>
                                <td style="text-align:center">% de perdida / consumo familiar</td>
                                <td style="text-align:center">Próxima cosecha</td>
                                <td style="text-align:center">Meses de producción</td>
                                <td style="text-align:center">Meses de no producción</td>
                                <th style="text-align:center">Total</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td align="right">${{lt.rendiemientolote}}</td>
                                <td align="right">${{lt.unidadestotales}}</td>
                                <td align="right">{{lt.perdida}}%</td>
                                <td align="right">{{equivalencia(lt.proxcocecha,'MesNombre')}}</td>
                                <td align="right">{{lt.cantmesescocecha}}</td>
                                <td align="right">{{lt.cantmesesnoproduccion}}</td>
                                <td align="right">${{lt.totalIngreso}}</td>
                            </tr>
                        </tfoot>
                    </table>

                    <!-- Egresos Transitorios -->
                    <table>
                        <thead>
                            <tr>
                                <th colspan=12>Egresos Transitorios</th>
                            </tr>
                            <tr>
                                <th style="text-align:center">Fase</th>
                                <th style="text-align:center">Descripción</th>
                                <th style="text-align:center">Detalle</th>
                                <th style="text-align:center">Cantidad</th>
                                <th style="text-align:center">Valor unitario</th>
                                <th style="text-align:center">Valor total mes</th>
                                <th style="text-align:center">Mes</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let egTrans of lt.egresosAdecuacion; let cont=index">
                            <tr>
                                <th style="text-align:center">Adecuación- preparación terreno</th>
                                <td style="text-align:center" *ngIf="egTrans.descripcion">
                                    {{equivalencia(egTrans.descripcion,'descripcionegreso')}}
                                </td>
                                <td align="right">{{egTrans.detalle}}</td>
                                <td align="right">{{egTrans.cantidad}}</td>
                                <td align="right">${{egTrans.valorunitario}}</td>
                                <td align="right">${{egTrans.total}}</td>
                                <td align="right" *ngIf="egTrans.mes">{{Mes(egTrans.mes)}}</td>
                            </tr>
                        </tbody>
                        <tbody *ngFor="let egTransSiem of lt.egresosSiembra; let cont=index">
                            <tr>
                                <th style="text-align:center">Siembra</th>
                                <td style="text-align:center" *ngIf="egTransSiem.descripcion">
                                    {{equivalencia(egTransSiem.descripcion,'descripcionegreso')}}
                                </td>
                                <td align="right">{{egTransSiem.detalle}}</td>
                                <td align="right">{{egTransSiem.cantidad}}</td>
                                <td align="right">${{egTransSiem.valorunitario}}</td>
                                <td align="right">${{egTransSiem.total}}</td>
                                <td align="right" *ngIf="egTransSiem.mes">{{Mes(egTransSiem.mes)}}</td>
                            </tr>
                        </tbody>
                        <tbody *ngFor="let egTransMan of lt.egresosMante; let cont=index">
                            <tr>
                                <th style="text-align:center">Mantenimiento</th>
                                <td align="right" *ngIf="egTransMan.descripcion">
                                    {{equivalencia(egTransMan.descripcion,'descripcionegreso')}}</td>
                                <td align="right">{{egTransMan.detalle}}</td>
                                <td align="right">{{egTransMan.cantidad}}</td>
                                <td align="right">${{egTransMan.valorunitario}}</td>
                                <td align="right">${{egTransMan.total}}</td>
                                <td align="right" *ngIf="egTransMan.mes">{{Mes(egTransMan.mes)}}</td>
                            </tr>
                        </tbody>
                        <tbody *ngFor="let egTransCos of lt.egresosCocecha; let cont=index">
                            <tr>
                                <th style="text-align:center">Cosecha y recolección</th>
                                <td align="right" *ngIf="egTransCos.descripcion">
                                    {{equivalencia(egTransCos.descripcion,'descripcionegreso')}}</td>
                                <td align="right">{{egTransCos.detalle}}</td>
                                <td align="right">{{egTransCos.cantidad}}</td>
                                <td align="right">${{egTransCos.valorunitario}}</td>
                                <td align="right">${{egTransCos.total}}</td>
                                <td align="right" *ngIf="egTransCos.mes">{{Mes(egTransCos.mes)}}</td>
                            </tr>
                        </tbody>
                        <tr>
                            <th style="text-align:center" colspan=5>Total</th>
                            <td align="right">${{totalegreso(act)}}</td>
                            <td></td>

                        </tr>

                    </table>
                </div>
            </div>
            <!-- Permanente -->
            <div *ngIf="act.nombre.tipoproducto=='Permanente'">
                <table>
                    <thead>
                        <tr>
                            <td style="text-align: center;">
                                <mat-icon class="mat-18">local_florist</mat-icon>
                            </td>
                            <td colspan="5">
                                Actividad {{equivalencia(act.tipo,'TipoActividad')}} de <b>{{act.nombre.name}}</b>
                            </td>
                            <td style="text-align:center">
                                Tipo de producción: <b>{{act.nombre.tipoproducto}}</b>
                            </td>
                            <td style="text-align:center"><b>Ingreso</b></td>
                            <td style="text-align:center">${{totalingreso(act)}}</td>
                            <td style="text-align:center"><b>Egreso</b></td>
                            <td style="text-align:center">${{totalegreso(act)}}</td>
                        </tr>
                        <tr>
                            <td style="text-align:center"><b>Unidad de venta</b></td>
                            <td *ngIf="act.unidadventa" colspan=3 style="text-align:center">{{act.unidadventa.name}}
                            </td>
                            <td style="text-align:center"><b>Precio minimo</b></td>
                            <td style="text-align:center">${{act.preciomin}}</td>
                            <td style="text-align:center"><b>Precio actual</b></td>
                            <td colspan=2 style="text-align:center">${{act.precioactual}}</td>
                            <td style="text-align:center"><b>Precio promedio</b></td>
                            <td colspan=2 style="text-align:center">${{act.preciopromedio}}</td>
                        </tr>
                        <tr>
                            <th style="text-align:center">Cosecha</th>
                            <td colspan=4 style="text-align:center">{{Mes(act.mesCos)}}</td>
                            <th style="text-align:center">Traviesa</th>
                            <td colspan=3 style="text-align:center">{{Mes(act.mesTra)}}</td>
                            <th style="text-align:center">Pepeo</th>
                            <td colspan=2 style="text-align:center">{{Mes(act.mesPepeo)}}</td>
                        </tr>
                    </thead>
                </table>
                <div *ngFor="let lte of act.lotesAgro; let cont=index">
                    <table>
                        <tr>
                            <th colspan=12>Lote {{cont+1}} </th>
                        </tr>
                        <tr>
                            <th style="text-align:center">Edad del cultivo</th>
                            <td style="text-align:center">{{lte.edadcult}} {{equivalencia(lte.periodoedad,'Periodo')}}
                            </td>
                            <td style="text-align:center"><b>Area cultivada</b></td>
                            <td style="text-align:center">{{lte.areacult}} m²</td>
                            <td style="text-align:center"><b>Distancia entre surcos</b></td>
                            <td style="text-align:center">{{lte.dsurcos}}</td>
                            <td style="text-align:center"><b>Distancia entre plantas</b></td>
                            <td style="text-align:center">{{lte.dplantas}}</td>
                            <td style="text-align:center"><b>Distancia entre siembra</b></td>
                            <td style="text-align:center">{{lte.diastancia}}</td>
                            <td style="text-align:center"><b># plantas/semillas del lote</b></td>
                            <td style="text-align:center">{{lte.planatasinformacli}}</td>
                        </tr>
                    </table>
                    <table>
                        <thead>
                            <tr>
                                <th colspan=7>Ingreso Lote
                                    <ng-container *ngIf="cont==0">Principal</ng-container>
                                    <ng-container *ngIf="cont>0">{{cont+1}}</ng-container>
                                    {{act.nombre.name}}
                                </th>
                            </tr>
                            <tr>
                                <th style="text-align:center">Ciclo</th>
                                <th style="text-align:center">Rendimiento por lote</th>
                                <th style="text-align:center">Unidades totales para la venta</th>
                                <th style="text-align:center">% de perdida/consumo familiar</th>
                                <th style="text-align:center">% ciclo</th>
                                <th style="text-align:center">TOTAL COSECHA</th>
                            </tr>

                            <tr>
                                <td style="text-align:center">Cosecha</td>
                                <td style="text-align:center">{{lte.rendimientoCos}}</td>
                                <td style="text-align:center">{{lte.unidadesCos}}</td>
                                <td style="text-align:center">{{lte.perdidaCos}}</td>
                                <td style="text-align:center">{{lte.procentageCos}}</td>
                                <td style="text-align:right">${{lte.totalCos}}</td>
                            </tr>
                            <tr>
                                <td style="text-align:center">Traviesa</td>
                                <td style="text-align:center">{{lte.rendimientoTra}}</td>
                                <td style="text-align:center">{{lte.unidadesTra}}</td>
                                <td style="text-align:center">{{lte.perdidaTra}}</td>
                                <td style="text-align:center">{{lte.procentageTra}}</td>
                                <td style="text-align:right">${{lte.totalTra}}</td>
                            </tr>
                            <tr>
                                <td style="text-align:center">Pepeo</td>
                                <td style="text-align:center">{{lte.rendimientoPepeo}}</td>
                                <td style="text-align:center">{{lte.unidadesPepeo}}</td>
                                <td style="text-align:center">{{lte.perdidaPepeo}}</td>
                                <td style="text-align:center">{{lte.procentagePepeo}}</td>
                                <td style="text-align:right">${{lte.totalPepeo}}</td>
                            </tr>
                            <tr>
                                <td style="text-align:center">Total anual</td>
                                <td style="text-align:center">{{lte.totalUnidades}}</td>
                                <td style="text-align:center">
                                    {{totales(lte.unidadesPepeo,lte.unidadesTra,lte.unidadesCos)}}
                                </td>
                                <td style="text-align:center">
                                    {{totales(lte.perdidaPepeo,lte.perdidaTra,lte.perdidaCos)}}
                                </td>
                                <td style="text-align:center">100</td>
                                <td style="text-align:right">${{lte.totalLoteAunual}}</td>
                            </tr>

                        </thead>
                    </table>
                    <!-- Egresos permanentes -->
                    <table>
                        <tr>
                            <th colspan=7>Egresos Lote
                                <ng-container *ngIf="cont==0">Principal</ng-container>
                                <ng-container *ngIf="cont>0">{{cont+1}}</ng-container>
                                {{act.nombre.name}}
                            </th>
                        </tr>
                        <tr>
                            <th style="text-align:center">Fase</th>
                            <th style="text-align:center">Descripcion</th>
                            <th style="text-align:center">Detalle</th>
                            <th style="text-align:center">Cantidad</th>
                            <th style="text-align:center">Vlr unitario</th>
                            <th style="text-align:center">Vlr total mes</th>
                            <th style="text-align:center">Mes</th>
                        </tr>
                        <tbody *ngFor="let egre of lte.egresosMante; let cont=index">
                            <tr>
                                <td style="text-align:center">Mantenimiento</td>
                                <td style="text-align:center">{{equivalencia(egre.descripcion,'descripcionegreso')}}
                                </td>
                                <td style="text-align:center">{{egre.detalle}}</td>
                                <td style="text-align:center">{{egre.cantidad}}</td>
                                <td style="text-align:right">${{egre.valorunitario}}</td>
                                <td style="text-align:right">${{egre.total}}</td>
                                <td style="text-align:center">{{Mes(egre.mes)}}</td>
                            </tr>
                        </tbody>

                        <tbody *ngFor="let egreCos of lte.egresosCocecha; let cont=index">
                            <tr>
                                <td style="text-align:center">Cosecha y recoleccion</td>
                                <td style="text-align:center">{{equivalencia(egreCos.descripcion,'descripcionegreso')}}
                                </td>
                                <td style="text-align:center">{{egreCos.detalle}}</td>
                                <td style="text-align:center">{{egreCos.cantidad}}</td>
                                <td style="text-align:right">${{egreCos.valorunitario}}</td>
                                <td style="text-align:right">${{egreCos.total}}</td>
                                <td style="text-align:center">{{Mes(egreCos.mes)}}</td>
                            </tr>
                        </tbody>
                        <tr>
                            <td colspan="5" style="text-align:right">Total</td>
                            <td colspan="2" style="text-align:right">${{lte.totalEgresos}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </ng-container>
        <!--
        .########..########..######..##.....##....###....########..####..#######.
        .##.....##.##.......##....##.##.....##...##.##...##.....##..##..##.....##
        .##.....##.##.......##.......##.....##..##...##..##.....##..##..##.....##
        .########..######...##.......##.....##.##.....##.########...##..##.....##
        .##........##.......##.......##.....##.#########.##...##....##..##.....##
        .##........##.......##....##.##.....##.##.....##.##....##...##..##.....##
        .##........########..######...#######..##.....##.##.....##.####..#######.
        -->
        <div *ngIf="act.tipo==2">
            <table>
                <thead>
                    <tr>
                        <td style="text-align: center;">
                            <mat-icon class="mat-18">pets</mat-icon>
                        </td>
                        <td colspan="4">
                            Actividad {{equivalencia(act.tipo,'TipoActividad')}} de <b>{{act.nombre.name}}</b>
                        </td>
                        <td style="text-align:center">
                            Tipo de producción: <b>{{act.nombre.tipoproducto}}</b>
                        </td>
                        <th style="text-align:center">Ingreso</th>
                        <td style="text-align:center">{{totalingresoP(act)}}</td>
                        <th style="text-align:center">Egreso</th>
                        <td style="text-align:center">{{totalegresoP(act)}}</td>
                    </tr>
                    <tr>
                        <th style="text-align:center">Unidad de venta</th>
                        <td colspan="3" *ngIf="act.unidadventa" style="text-align:center">{{act.unidadventa.name}}</td>
                        <th style="text-align:center">Precio minimo</th>
                        <td style="text-align:center">${{act.preciomin}}</td>
                        <th style="text-align:center">Precio actual</th>
                        <td style="text-align:center">${{act.precioactual}}</td>
                        <th style="text-align:center">Precio promedio</th>
                        <td style="text-align:center">${{act.preciopromedio}}</td>

                    </tr>
                </thead>
            </table>
            <div *ngFor="let ltePec of act.lotesPecuario; let cont=index">
                <table>
                    <thead>
                        <tr>
                            <th colspan=11>Lote
                                <ng-container *ngIf="cont==0">Principal</ng-container>
                                <ng-container *ngIf="cont>0">{{cont+1}}</ng-container>
                            </th>
                        </tr>
                        <tr>
                            <th colspan=11>Ingresos Lote
                                <ng-container *ngIf="cont==0">Principal</ng-container>
                                <ng-container *ngIf="cont>0">{{cont+1}}</ng-container>
                                <ng-container *ngIf="act.nombre">{{cont+1}}
                                    {{act.nombre.name}}
                                </ng-container>

                            </th>
                        </tr>
                        <tr>
                            <th style="text-align:center">Producto derivado</th>
                            <th style="text-align:center">Número de animales por lote</th>
                            <th *ngIf="act.unidadventa" style="text-align:center">Cantidad producida por animal
                                {{act.unidadventa.name}}</th>
                            <th style="text-align:center">Frecuencia</th>
                            <th *ngIf="act.unidadventa" style="text-align:center">Cantidad producida total
                                {{act.unidadventa.name}}</th>
                            <th *ngIf="act.unidadventa" style="text-align:center">Unidades totales para la venta
                                {{act.unidadventa.name}}</th>
                            <th style="text-align:center">% de mortalidad /perdida/consumo familiar</th>
                            <th style="text-align:center">Proximo mes de ingreso</th>
                            <th style="text-align:center">Meses de producción</th>
                            <th style="text-align:center">Meses de no produccion</th>
                            <th style="text-align:center">Total</th>
                        </tr>
                        <tr>
                            <td style="text-align:center">{{ltePec.prodderivado}}</td>
                            <td style="text-align:center">{{ltePec.numanimales}}</td>
                            <td style="text-align:center">{{ltePec.cantidadxanimal}}</td>
                            <td style="text-align:center" *ngIf="ltePec.frecuencia">{{ltePec.frecuencia.name}}</td>
                            <td style="text-align:center">{{ltePec.cantproducida}}</td>
                            <td style="text-align:center">{{ltePec.unitotalesventa}}</td>
                            <td style="text-align:center">{{ltePec.perdida}}%</td>
                            <td style="text-align:center">{{equivalencia(ltePec.mesingreso,'MesNombre')}}</td>
                            <td style="text-align:center">{{ltePec.produccion}}</td>
                            <td style="text-align:center">{{ltePec.noproduccion}}</td>
                            <td style="text-align:center">{{ltePec.unitotalesventa}}</td>

                        </tr>
                    </thead>
                </table>
                <!-- Egreso -->
                <table>
                    <tr>
                        <th colspan=6>Egresos Lote
                            <ng-container *ngIf="cont==0">Principal</ng-container>
                            <ng-container *ngIf="cont>0">{{cont+1}}</ng-container>
                            {{act.nombre.name}}
                        </th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Descripción</th>
                        <th style="text-align:center">Detalle</th>
                        <th style="text-align:center">Cantidad</th>
                        <th style="text-align:center">Valor unitario</th>
                        <th style="text-align:center">Valor total mes</th>
                        <th style="text-align:center">Mes</th>
                    </tr>
                    <tbody *ngFor="let egrePec of ltePec.egresos; let cont=index">
                        <tr>
                            <td style="text-align:center">
                                {{equivalencia(egrePec.descripcion,'DescripcionEgresosPec')}}
                            </td>
                            <td style="text-align:center">{{egrePec.detalle}}</td>
                            <td style="text-align:center">{{egrePec.cantidad}}</td>
                            <td style="text-align:right">${{egrePec.valorunitario}}</td>
                            <td style="text-align:right">${{egrePec.total}}</td>
                            <td style="text-align:center">{{Mes(egrePec.mes)}}</td>
                        </tr>
                    </tbody>
                    <tr>
                        <th colspan=4 style="text-align:right">Total</th>
                        <td style="text-align:right">${{ltePec.totalEgresos}}</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

        <!--ventas buenas -->
        <ng-container *ngIf="act.tipo==3">
            <table>
                <thead>
                    <tr>
                        <td style="text-align:center">Actividad</td>
                        <td style="text-align:center">{{act.tipo}}</td>
                        <td style="text-align:center">Nombre de la actividad</td>
                        <td style="text-align:center">{{act.nombre}}</td>
                        <td style="text-align:center">Tipo de producción</td>
                        <td style="text-align:center">{{act.tipoproduccion}}</td>
                        <td style="text-align:center">Ingreso</td>
                        <td style="text-align:center">Mirar este 0</td>
                        <td style="text-align:center">Egreso</td>
                        <td style="text-align:center">;Mirar este 0</td>
                    </tr>
                </thead>
            </table>
            <table>
                <thead>
                    <tr>
                        <th colspan=10>Ventas buenas/ regulares/ malas</th>
                    </tr>
                    <tr>
                        <td style="text-align:center">Ventas</td>
                        <td style="text-align:center">Dias</td>
                        <td style="text-align:center">Numero</td>
                        <td style="text-align:center">Dias</td>
                        <td style="text-align:center">Valor</td>
                        <td style="text-align:center">Total</td>
                        <td style="text-align:center">Total compras</td>
                        <td colspan=3 style="text-align:center"></td>
                    </tr>

                    <tr>
                        <td style="text-align:center">Buenas</td>
                        <td style="text-align:center">{{act.diasB}}</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">{{act.diasB}}</td>
                        <td style="text-align:center">${{act.valorB}}</td>
                        <td style="text-align:center">${{act.totalB}}</td>
                        <td style="text-align:center">Ventas estimadas</td>
                        <td colspan=3 style="text-align:center">{{act.ventasEstimadas}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">Regulares</td>
                        <td style="text-align:center">{{act.diasR}}</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">{{act.diasR}}</td>
                        <td style="text-align:center">${{act.valorR}}</td>
                        <td style="text-align:center">${{act.totalR}}</td>
                        <td style="text-align:center">Margen bruto</td>
                        <td colspan=3 style="text-align:center">{{act.margenBruto}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">Malas</td>
                        <td style="text-align:center">{{act.diasM}}</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">{{act.diasM}}</td>
                        <td style="text-align:center">${{act.valorM}}</td>
                        <td style="text-align:center">${{act.totalM}}</td>
                        <td style="text-align:center">Otros gastos</td>
                        <td colspan=3 style="text-align:center">{{act.otrosGastos}}</td>
                    </tr>
                    <tr>
                        <th style="text-align:center">Total</th>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">{{act.totalDias}}</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">${{act.totalVentas}}</td>
                        <td style="text-align:center">Ingreso liquido estimado</td>
                        <td colspan=3 style="text-align:center">{{act.ingresoLiquido}}</td>
                    </tr>

                </thead>
            </table>
        </ng-container>

        <br>
        <mat-divider></mat-divider>
        <br>
    </div>
</div>