<div class="breadcrum">
    <mat-chip-list aria-label="Fish selection">            
        <mat-chip color="primary" [routerLink]="['../']" selected>Solicitudes</mat-chip>/
        <mat-chip>Gestion Solicitud</mat-chip>
      </mat-chip-list>
</div>
<mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="registroForm" [editable]="true">
        <form [formGroup]="registroForm">
            <ng-template matStepLabel>Registro Solicitud</ng-template>
            <mat-card>                
                <mat-card-header>
                    <mat-card-title>{{ identificador }}</mat-card-title>
                    <mat-card-subtitle>Todos los campo son obligatorio para radicar la solicitud</mat-card-subtitle>                   
                </mat-card-header>
                <mat-card-content>
                    <div fxLayout="row wrap">
                        <div class="gr" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%">
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre</mat-label>
                                <input matInput formControlName="nombre" readonly>
                            </mat-form-field>
                        </div>
                        <div class="gr" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%">
                            <mat-form-field appearance="outline">
                                <mat-label>Cargo</mat-label>
                                <input matInput formControlName="cargo" readonly>
                            </mat-form-field>
                        </div>
                        <div class="gr" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%">
                            <mat-form-field appearance="outline">
                                <mat-label>Oficina</mat-label>
                                <input matInput formControlName="oficina" readonly>
                            </mat-form-field>
                        </div>
                        <div class="gr" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%" *ngIf="tipos">
                            <mat-form-field appearance="outline">
                                <mat-label>Tipo Solicitud</mat-label>
                                <mat-select formControlName="tipo" [compareWith]="compareFunction" required>
                                    <mat-option *ngFor="let item of tipos" [value]="item">
                                        {{item.Nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="gr" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%">
                            <mat-form-field appearance="outline">
                                <mat-label>Asesores Actual</mat-label>
                                <input required matInput autocomplete="off" formControlName="asesoresactual"
                                    type="number">
                            </mat-form-field>
                        </div>
                        <div class="gr" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%">
                            <mat-form-field appearance="outline">
                                <mat-label>Asesores Aprobados</mat-label>
                                <input required matInput autocomplete="off" formControlName="asesoresaprobados"
                                    type="number">
                            </mat-form-field>
                        </div>

                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div style="width: 100%;" fxLayout="row center wrap">
                        <div fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%" *ngIf="!dataSolicitud.Id">
                            <button type="button" mat-button mat-raised-button (click)="onRegistro()"
                                [disabled]="!registroForm.valid" color="primary">
                                REGISTRAR
                            </button>
                        </div>
                        <div fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%" *ngIf="dataSolicitud.Id">
                            <button mat-button mat-raised-button (click)="onGestion(3)" color="accent">APROBAR</button>
                        </div>
                        <div fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%" *ngIf="dataSolicitud.Id">
                            <button type="button" mat-button (click)="onGestion(2)" mat-raised-button block
                                color="warn">RECHAZAR</button>
                        </div>
                    </div>
                </mat-card-actions>
                <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
            </mat-card>
        </form>
    </mat-step>
    <form [formGroup]="formNiveles">
        <div formArrayName="niveles" fxFlex="100%">
            <div *ngFor="let niv of nivel().controls; let ni=index" fxFlex="100%">
                <mat-step [stepControl]="niv" [editable]="niv.value.isEditable">
                    <form [formGroup]="niv">
                        <ng-template matStepLabel>{{niv.value.Nombre}}</ng-template>

                        <div fxLayout="row wrap">
                            <div class="gr" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                                <mat-list style="width: 100%;">
                                    <div mat-subheader>Observaciones</div>
                                    <mat-list-item class="content-obser mat-elevation-z1"
                                        *ngFor="let his of niv.value.Historial">
                                        <mat-icon mat-list-icon>account_circle</mat-icon>
                                        <div mat-line>{{his.Comentario}}</div>
                                        <div mat-line><small> {{his.Fecha | date:'yyyy-MM-dd HH:mm'}}</small> </div>
                                    </mat-list-item>
                                </mat-list>
                            </div>
                            <div *ngIf="niv.value.isEditable" class="gr" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                                <mat-form-field>
                                    <mat-label>Nueva Observacion</mat-label>
                                    <textarea formControlName="Observacion" matInput></textarea>
                                </mat-form-field>
                            </div>

                            <div *ngIf="niv.value.isEditable" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%">
                                <button mat-raised-button color="primary">APROBAR</button>
                            </div>
                            <div *ngIf="niv.value.isEditable" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%">
                                <button mat-raised-button color="warn">DEVOLVER</button>
                            </div>

                        </div>
                    </form>
                </mat-step>
            </div>
        </div>
    </form>
</mat-horizontal-stepper>
<ng-container>
    
</ng-container>

<app-registro-form *ngIf="dataSolicitud.Id" [solicitud]="dataSolicitud"></app-registro-form>
