<div class="content" #reporte id="contentFlujo">

    <table>
        <tr>
            <td style="width: 200px;" rowspan="3" style="text-align:center">
                <img src="assets/pictures/Logo.png">
            </td>
            <td colspan="5" rowspan="3" style="text-align:center">Flujo de caja proyectado Agropecuario</td>
            <td colspan="2" style="text-align:center">COL-FO-017</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">Version 11</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">12/04/2021</td>
        </tr>
        <tr>
            <td>Numero de solicitud</td>
            <td>{{datasolicitud.solicitud}}</td>
            <td>Numero de cedula</td>
            <td>{{datasolicitud.cedula}}</td>
            <td>Actividad Principal</td>
            <td>{{actividadPrincipal}}</td>
            <td>Fecha de estudio</td>
            <td>{{fechahoy}}</td>
        </tr>
    </table>

    <table class="salto">
        <thead>
            <tr>
                <th [attr.colspan]="cantidadTotalAct" style="text-align:center">Resumen proyectado de Ingresos y Egresos
                    Agropecuarios</th>
            </tr>
            <tr>
                <th rowspan="3" colspan="3">Mes / Producto</th>
                <th [attr.colspan]="cantidadActividades">Ingresos Act Agropecuaria</th>
                <th rowspan="3">Total Mensual</th>
                <th [attr.colspan]="cantidadActividades">Egresos Act Agropecuaria</th>
                <th rowspan="3">Total Mensual</th>
            </tr>
            <tr>

                <th *ngFor="let act of datosCruces;let ac=index">Actividad {{ac}}</th>
                <th *ngFor="let act of datosCruces;let ac=index">Costo {{ac}}</th>
            </tr>
            <tr>
                <th *ngFor="let act of datosCruces">{{act.nombre.name}}</th>
                <th *ngFor="let act of datosCruces">{{act.nombre.name}}</th>
            </tr>
        </thead>
        <tr *ngFor="let item of dataFlujo;let j=index">

            <td *ngFor="let col of dataFlujo[0];let i=index ">
                <ng-container *ngIf="i > 2">
                    {{item[i] | currency:'$': 'symbol' : '1.0-0'}}
                </ng-container>
                <ng-container *ngIf="i <= 2">
                    {{item[i]}}
                </ng-container>
            </td>


        </tr>
    </table>
    <table>
        <tr>
            <th style="text-align:center">Flujo de caja acumulado</th>
        </tr>
    </table>
    <ng-container *ngIf="datasolicitud.Propuesta">

        <table>
            <tr>
                <td>Plazo Total del Crédito Actual(MESES)</td>
                <td>{{datasolicitud.Propuesta.plazo}}</td>
                <td>Forma de Pago</td>
                <td>
                    <ng-container *ngIf="datasolicitud.Propuesta.tipocuota==1">
                        <ng-container *ngIf="datasolicitud.Propuesta.formapgo">
                            {{datasolicitud.Propuesta.formapgo.name}}
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="datasolicitud.Propuesta.tipocuota==2">
                        Irregular
                    </ng-container>
                </td>
                <td>Monto recomendado</td>
                <td>{{datasolicitud.Propuesta.montorecomendado}}</td>
                <td>Efectivo Disponible</td>
                <td *ngIf="datasolicitud.Balance"> {{datasolicitud.Balance.efectivo}} </td>
                <td>Plan de Inversión (Activos Fijos)</td>
                <td>{{datasolicitud.Propuesta.valor}}</td>
                <td>{{datasolicitud.Propuesta.detalle}}</td>
                <td>Plan de Inversión (capital de trabajo)</td>
                <td>{{datasolicitud.Propuesta.valorcapital}}</td>
                <td>{{datasolicitud.Propuesta.detallecapital}}</td>
            </tr>
        </table>
    </ng-container>

    <table class="salto">
        <thead>
            <tr>
                <th style="width: 9%;" colspan="3">Proyección</th>
                <th style="width: 13%;">In. Agro Efectivo</th>
                <th style="width: 13%;">Recuperación de cartera (cuentas por cobrar)</th>
                <th style="width: 13%;">Costos Agro</th>
                <th style="width: 13%;">Remuneración personal</th>
                <th style="width: 13%;">Gastos del negocio</th>
                <th style="width: 13%;">Imprevistos Operativos</th>
                <th style="width: 13%;">Obligaciones Finacieras</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataFlujoAcumulado1">
                <td [ngClass]="{'error': i >2 && item[i] <0}" *ngFor="let col of dataFlujoAcumulado1[0];let i=index">
                    <ng-container *ngIf="i > 2">
                        {{item[i] | currency:'$': 'symbol' : '1.0-0'}}
                    </ng-container>
                    <ng-container *ngIf="i <= 2">
                        {{item[i]}}
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>


    <table class="salto">
        <thead>
            <tr>
                <th style="width: 9%;" colspan="3">Proyección</th>
                <th style="width: 9%;">Ingresos Líquidos Agropecuarios</th>
                <th style="width: 9%;">Ingresos Líquidos Otras actividades comerciales </th>
                <th style="width: 9%;">Otros Ingresos familiares (Independientes)</th>
                <th style="width: 9%;">Gastos y obligaciones familiares</th>
                <th style="width: 9%;">Flujo de caja antes financiación (sin acumular)</th>
                <th style="width: 9%;">Flujo de caja antes financiación acumulable 85%</th>
                <th style="width: 9%;">Cuota del crédito</th>
                <th style="width: 9%;">Flujo de caja descontando cuota de crédito</th>
                <th style="width: 9%;">Flujo de caja con financiación</th>
                <th style="width: 9%;">Relación cuota liquidez</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataFlujoAcumulado2">
                <td [ngClass]="{'error': i >2 && item[i] <0}" *ngFor="let col of dataFlujoAcumulado2[0];let i=index">
                    <ng-container *ngIf="i > 2  && i < 12">
                        {{item[i] | currency:'$': 'symbol' : '1.0-0'}}
                    </ng-container>
                    <ng-container *ngIf="i <= 2">
                        {{item[i]}}
                    </ng-container>
                    <ng-container *ngIf="i == 12">
                        {{item[i]}} %
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>


</div>