<mat-toolbar color="primary" class="navbar">
    <span color="primary" (click)="drawer.toggle()">
        <mat-icon class="mat-18">menu</mat-icon>
    </span>
    <span class="fill-remaining-space"></span>
    <span>{{titulo}} Ágil</span>
    <span class="fill-remaining-space"></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" (click)="goHome()" >
        <mat-icon>home</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container class="menu-container" hasBackdrop="true">
    <mat-drawer #drawer mode="over">
        <mat-list>
            <mat-list-item routerLink="ubicacion" [queryParams]= "{solicitud:sol}">
                <mat-icon mat-list-icon>location_on</mat-icon>
                <div mat-line>Ubicacion</div>
            </mat-list-item>
            <mat-list-item routerLink="balance" [queryParams]= "{solicitud:sol}">
                <mat-icon mat-list-icon>assessment</mat-icon>
                <div mat-line>Balance</div>
            </mat-list-item>
            <mat-list-item [routerLink]="['ventas']" [queryParams]= "{solicitud:sol}">
                <mat-icon mat-list-icon>work</mat-icon>
                <div mat-line>Cruces</div>
            </mat-list-item>
            <mat-list-item [routerLink]="['gastos']" [queryParams]= "{solicitud:sol}">
                <mat-icon mat-list-icon>payment</mat-icon>
                <div mat-line>Gastos</div>
            </mat-list-item>
            <mat-list-item [routerLink]="['analisis']" [queryParams]= "{solicitud:sol}">
                <mat-icon mat-list-icon>web</mat-icon>
                <div mat-line>Analisis</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon mat-list-icon>exit_to_app</mat-icon>
                <div mat-line>Cerrar Session</div>
            </mat-list-item>
        </mat-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>