.container {
  width: 100%;

  mat-form-field {
    width: 100%;
  }

  .gr {
    padding-right: 10px;
  }
  
  .fileUpload {
    position: absolute;
    z-index: 9;
    opacity: 0;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    cursor: pointer;
  }
}
