<mat-toolbar color="{{color}}" class="navbar">
    <span *ngIf="rout != 'home' && rout != 'lobby'" color="primary" (click)="action()">
        <mat-icon class="mat-18">menu</mat-icon>
    </span>

    <button *ngIf="rout == 'home'" routerLink="/" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
    </button>

    <span class="fill-remaining-space"></span>
    <span>{{titulo}} </span>
    <span class="fill-remaining-space"></span>
    <span class="example-spacer"></span>

    <button *ngIf="rout == 'home' || rout == 'lobby' || rout =='agil'" mat-icon-button (click)="openProfile()"
        class="example-icon favorite-icon">
        <mat-icon>assignment_ind</mat-icon>
    </button>
    <button *ngIf="rout != 'home' && rout != 'lobby'" mat-icon-button class="example-icon favorite-icon"
        routerLink="home">
        <mat-icon>home</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container class="menu-container" (backdropClick)="action()">

    <mat-sidenav fxFlex="30%" fxFlex.xs="60%" mode="push" #sidenav (keydown.escape)="action()">
        <mat-list>
            <div fxLayout="row" fxLayoutAlign="center center">
                <img fxFlex="30%" fxFlex.xs="30%" src="assets/pictures/profile.png">
            </div>
            <mat-list-item *ngIf="perfil">
                <div mat-line><b>{{perfil.Nombre}}</b></div>
                <div mat-line><small>{{perfil.Sucursales.Nombre }}</small></div>
                <div mat-line> {{perfil.Rol.Nombre }} </div>          
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
        <mat-nav-list (click)="action()">

            <ng-container *ngIf="modul=='agil'">

                <mat-list-item *ngIf="tipo==2" routerLinkActive="active-list-item" routerLink="ubicacion"
                    [queryParams]="{cedula:ced}">
                    <mat-icon mat-list-icon>location_on</mat-icon>
                    <div mat-line>Ubicacion</div>
                </mat-list-item>
                <mat-list-item routerLink="balance" routerLinkActive="active-list-item" [queryParams]="{cedula:ced}">
                    <mat-icon mat-list-icon>assessment</mat-icon>
                    <div mat-line>Balance</div>
                </mat-list-item>
                <mat-list-item [routerLink]="['ventas']" routerLinkActive="active-list-item"
                    [queryParams]="{cedula:ced}">
                    <mat-icon mat-list-icon>work</mat-icon>
                    <div mat-line>Cruces</div>
                </mat-list-item>
                <mat-list-item [routerLink]="['gastos']" routerLinkActive="active-list-item"
                    [queryParams]="{cedula:ced}">
                    <mat-icon mat-list-icon>payment</mat-icon>
                    <div mat-line>Gastos</div>
                </mat-list-item>
                <ng-container *ngIf="tipo==2">
                    <mat-list-item [routerLink]="['analisisagro']" routerLinkActive="active-list-item"
                        [queryParams]="{cedula:ced}">
                        <mat-icon mat-list-icon>web</mat-icon>
                        <div mat-line>Analisis</div>
                    </mat-list-item>
                </ng-container>
                <ng-container *ngIf="tipo==1">
                    <mat-list-item [routerLink]="['analisis']" routerLinkActive="active-list-item"
                        [queryParams]="{cedula:ced}">
                        <mat-icon mat-list-icon>web</mat-icon>
                        <div mat-line>Analisis</div>
                    </mat-list-item>
                </ng-container>
                <mat-list-item [routerLink]="['resultado']" routerLinkActive="active-list-item"
                    [queryParams]="{cedula:ced}">
                    <mat-icon mat-list-icon>phone_android</mat-icon>
                    <div mat-line>Resultado Formiik</div>
                </mat-list-item>
                <mat-list-item [routerLink]="['propuesta']" routerLinkActive="active-list-item" *ngIf="tipo==2"
                    [queryParams]="{cedula:ced}">
                    <mat-icon mat-list-icon>thumb_up</mat-icon>
                    <div mat-line>Propuesta</div>
                </mat-list-item>
                <mat-list-item [routerLink]="['flujocaja']" routerLinkActive="active-list-item" *ngIf="tipo==2"
                    [queryParams]="{cedula:ced}">
                    <mat-icon mat-list-icon>receipt</mat-icon>
                    <div mat-line>Flujo de Caja</div>
                </mat-list-item>
            </ng-container>

            <ng-container *ngIf="modul=='meba'">

                <mat-list-item [routerLink]="['sensibilidad']" routerLinkActive="active-list-item"
                    [queryParams]="{cedula:ced}">
                    <mat-icon mat-list-icon>eco</mat-icon>
                    <div mat-line>Sensibilidad</div>
                </mat-list-item>
                <mat-list-item [routerLink]="['adaptativa']" routerLinkActive="active-list-item"
                    [queryParams]="{cedula:ced}">
                    <mat-icon mat-list-icon>chalet</mat-icon>
                    <div mat-line>Capacidad Adaptativa</div>
                </mat-list-item>
                <mat-list-item [routerLink]="['verificacion']" routerLinkActive="active-list-item"
                    [queryParams]="{cedula:ced}">
                    <mat-icon mat-list-icon>agriculture</mat-icon>
                    <div mat-line>Verificación EbA</div>
                </mat-list-item>
                <mat-list-item [routerLink]="['resultado-meba']" routerLinkActive="active-list-item"
                    [queryParams]="{cedula:ced}">
                    <mat-icon mat-list-icon>donut_small</mat-icon>
                    <div mat-line>Resultado</div>
                </mat-list-item>
            </ng-container>

            <ng-container *ngIf="modul=='admin'">

                <mat-list-item [routerLink]="['produccion']" routerLinkActive="active-list-item"
                    [queryParams]="{cedula:ced}">
                    <mat-icon mat-list-icon>category</mat-icon>
                    <div mat-line>Produccion</div>
                </mat-list-item>

                <mat-list-item [routerLink]="['cuestionario']" routerLinkActive="active-list-item"
                    [queryParams]="{cedula:ced}">
                    <mat-icon mat-list-icon>ballot</mat-icon>
                    <div mat-line>Cuestionario</div>
                </mat-list-item>
                <mat-list-item [routerLink]="['rol']" routerLinkActive="active-list-item">
                    <mat-icon mat-list-icon>manage_accounts</mat-icon>
                    <div mat-line>Roles</div>
                </mat-list-item>
            </ng-container>

            <ng-container *ngIf="modul=='zona'">
                <mat-list-item [routerLink]="['solicitudes']" routerLinkActive="active-list-item">
                    <mat-icon mat-list-icon>category</mat-icon>
                    <div mat-line>Solicitudes</div>
                </mat-list-item>           

                <mat-list-item [routerLink]="['nivel']" routerLinkActive="active-list-item">
                    <mat-icon mat-list-icon>switch_account</mat-icon>
                    <div mat-line>Niveles</div>
                </mat-list-item>

                <mat-list-item [routerLink]="['flujo']" routerLinkActive="active-list-item">
                    <mat-icon mat-list-icon>alt_route</mat-icon>
                    <div mat-line>Flujo</div>
                </mat-list-item>
                <mat-list-item [routerLink]="['responsables']" routerLinkActive="active-list-item">
                    <mat-icon mat-list-icon>badge</mat-icon>
                    <div mat-line>Responsables</div>
                </mat-list-item>
            </ng-container>

            <mat-divider></mat-divider>
            <mat-list-item (click)="onLogout()">
                <mat-icon mat-list-icon>power_settings_new</mat-icon>
                <div mat-line>Cerrar Session</div>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content fxLayout="row" fxLayoutAlign="center start">
        <div fxFlex="80%" fxFlex.xs="100%">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>