mat-form-field {
  width: 100%;
}

.gr {
  padding-right: 10px;
}

.action-buttons {
  padding-bottom: 20px;
}
mat-panel-title{
  width: 80%;
}

.content{
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}