<mat-list>
    <div fxLayout="row" fxLayoutAlign="center center">
        <img fxFlex="50%" fxFlex.xs="30%" src="assets/pictures/profile.png">
    </div>
    <mat-list-item>
        <div mat-line><b>{{perfil.Nombre}}</b></div>
        <div mat-line><small>{{perfil.Sucursales.Nombre }}</small></div>
        <div mat-line> {{perfil.Grupo }} </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item (click)="onLogout()">        
        <div mat-line>Cerrar sesion</div>
        <mat-icon mat-list-icon>power_settings_new</mat-icon>
    </mat-list-item>
</mat-list>