<div class="content" id="contentPDF">
    <!-- Encabezado -->
    <table>
        <tr>
            <td style="width: 200px;" rowspan="3" style="text-align:center">
                <img src="assets/pictures/Logo.png">
            </td>
            <td rowspan="3" style="text-align:center">Analisis de credito agropecuario</td>
            <td style="text-align:center">COL-FO-006</td>
        </tr>
        <tr>
            <td style="text-align:center">Versión 11</td>
        </tr>
        <tr>
            <td style="text-align:center">Fecha</td>
        </tr>
    </table>
    <ng-container *ngIf="datasolicitud.solicitud">
        <!-- Documento y solicitud -->
        <table>
            <tr>
                <td>Documento de identidad del cliente</td>
                <td>{{datasolicitud.cedula}}</td>
                <td>solicitud</td>
                <td>{{datasolicitud.solicitud}}</td>
            </tr>
        </table>
    </ng-container>
    <!-- Mapa de ubicacion -->
    <ng-container *ngIf="datasolicitud.Ubicacion">
        <table>
            <tr>
                <th style="text-align:center" colspan=4> Mapa de ubicación (como llegar al predio)</th>
            </tr>
            <tr>
                <td colspan=1>tiempo recorrido</td>
                <td colspan=3>
                    {{datasolicitud.Ubicacion.tiempohora}}:{{datasolicitud.Ubicacion.tiempomin}}:{{datasolicitud.Ubicacion.tiemposeg}}
                </td>
            </tr>
            <tr>
                <td colspan=1>Punto de partida</td>
                <td colspan=1>{{datasolicitud.Ubicacion.puntopartida}}</td>
                <td colspan=1>Punto de llegada</td>
                <td colspan=1>{{datasolicitud.Ubicacion.puntollegada}}</td>
            </tr>
            <tr>
                <td colspan=1>Descripción punto de partida</td>
                <td colspan=1>{{datasolicitud.Ubicacion.descripcionppartida}}</td>
                <td colspan=1>Descripción punto de llegada</td>
                <td colspan=1>{{datasolicitud.Ubicacion.descripcionpllegada}}</td>
            </tr>
            <tr>
                <td rowspan="3" colspan=2>
                    <img [src]='transform(datasolicitud.Ubicacion.fotoppartida)' width="500px" height="400px">
                </td>
                <td rowspan="3" colspan=2>
                    <img [src]='transform(datasolicitud.Ubicacion.fotopllegada)' width="500px" height="400px">
            </tr>
        </table>
    </ng-container>
    <!-- Balance general -->
    <ng-container *ngIf="datasolicitud.Balance">
        <table>
            <tr>
                <th align="center" colspan=10>Balance general</th>
            </tr>
            <tr>
                <td>Efectivo disponible</td>
                <td colspan=8>{{datasolicitud.Balance.efectivo}}</td>
            </tr>
            <tr>
                <td>Cuentas por cobrar</td>
                <td>N. de clientes</td>
                <td>{{datasolicitud.Balance.clienteCobrar}}</td>
                <td>Valor</td>
                <td>{{datasolicitud.Balance.valorCobrar}}</td>
                <td>Incobrable</td>
                <td>{{datasolicitud.Balance.incobrableCobrar}}</td>
                <td>Total</td>
                <td>{{datasolicitud.Balance.cobrarTotal}}</td>
            </tr>
            <tr>
                <td>Observaciones</td>
                <td colspan=8>{{datasolicitud.Balance.observacionesCobrar}}</td>
            </tr>
            <tbody *ngFor="let recu of datasolicitud.Balance.recuperacion; let cont=index">
                <tr>
                    <td>Recuperación de cartera</td>
                    <td>{{recu.mes}}</td>
                    <td>Mes de recuperación</td>
                    <td colspan=6>{{recu.valor}}</td>
                </tr>
            </tbody>
        </table>
        <!-- Inventarios -->
        <table>
            <tr>
                <th align="center" colspan=10>Inventarios</th>
            </tr>
            <tr>
                <th>Tipo</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Valor unitario</th>
                <th>Valor</th>
            </tr>
            <tbody *ngFor="let inven of datasolicitud.Balance.inventarioRow; let cont=index">
                <tr>
                    <td>{{equivalencia(inven.tipo,'tipoinventario')}}</td>
                    <td>{{inven.descripcion}}</td>
                    <td>{{inven.cantidad}}</td>
                    <td>${{inven.vlrUni}}</td>
                    <td>${{inven.valor}}</td>
                </tr>
            </tbody>
            <tr>
                <td colspan=4>Total</td>
                <td align="right">${{datasolicitud.Balance.inventarioTotal}}</td>
            </tr>
        </table>
        <!-- Activos del negocio -->
        <table>
            <thead>
                <tr>
                    <th colspan=5>Activos Negocio</th>
                </tr>
                <tr>
                    <th style="text-align:center">Tipo</th>
                    <th style="text-align:center">Descripcion</th>
                    <th style="text-align:center">Cantidad</th>
                    <th style="text-align:center">Valor unitario</th>
                    <th style="text-align:center">Valor</th>
                </tr>
            </thead>
            <tbody *ngFor="let act of datasolicitud.Balance.actividadNegRows; let cont=index">
                <tr>
                    <td>{{act.tipo.name}}</td>
                    <td>{{act.detalle}}</td>
                    <td>{{act.cantidad}}</td>
                    <td>${{act.vlrUni}}</td>
                    <td align="right">${{act.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan=4>Total</td>
                    <td align="right">${{datasolicitud.Balance.actnegTotal}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- Activos de la familia -->
        <table>
            <thead>
                <tr>
                    <th colspan=5>Activos de la familia</th>
                </tr>
                <tr>
                    <th style="text-align:center">Tipo</th>
                    <th style="text-align:center">Descripción</th>
                    <th style="text-align:center">Cantidad</th>
                    <th style="text-align:center">Valor unitario</th>
                    <th style="text-align:center">Valor</th>
                </tr>
            </thead>
            <tbody *ngFor="let inv of datasolicitud.Balance.activosFamRows; let cont=index">
                <tr>
                    <td>{{inv.tipo.name}}</td>
                    <td>{{inv.detalle}}</td>
                    <td>{{inv.cantidad}}</td>
                    <td>${{inv.vlrUni}}</td>
                    <td align="right">${{inv.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan=4>Total</td>
                    <td align="right">${{datasolicitud.Balance.actfamTotal}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- Principales inversiones de la familia y el negocio en el ultimo año -->
        <table>
            <thead>
                <tr>
                    <th colspan=4>Principales inversiones de la familia y el negocio en el ultimo año</th>
                </tr>
                <tr>
                    <th style="text-align:center">Descripción</th>
                    <th style="text-align:center">Mes de compra</th>
                    <th style="text-align:center">Origen de los recursos</th>
                    <th style="text-align:center">Valor</th>
                </tr>
            </thead>
            <tbody *ngFor="let inv of datasolicitud.Balance.inversiones; let cont=index">
                <tr>
                    <td>{{inv.detalle}}</td>
                    <td>{{MesNombre(inv.mes,'MesNombre')}}</td>
                    <td>{{inv.origen}}</td>
                    <td align="right">${{inv.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td align="right" colspan=3>${{datasolicitud.Balance.totalInversiones}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- Creditos con fundacion dela mujer -->
        <table>
            <thead>
                <tr>
                    <th colspan=4>Créditos con Fundación delamujer</th>
                </tr>
                <tr>
                    <th style="text-align:center">Obligación</th>
                    <th style="text-align:center">Valor</th>
                </tr>
            </thead>
            <tbody *ngFor="let cred of datasolicitud.Balance.creditos; let cont=index">
                <tr>
                    <td>${{cred.valor}}</td>
                    <td align="right">${{cred.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td align="right" colspan=3>${{datasolicitud.Balance.totalCreditos}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- Creditos con proveedor -->
        <table>
            <thead>
                <tr>
                    <th colspan=4>Créditos con proveedor</th>
                </tr>
                <tr>
                    <th style="text-align:center">Proveedor</th>
                    <th style="text-align:center">Valor</th>
                </tr>
            </thead>
            <tbody *ngFor="let credpro of datasolicitud.Balance.proveedoresRow; let cont=index">
                <tr>
                    <td>{{credpro.descripcion}}</td>
                    <td align="right">${{credpro.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td align="right" colspan=3>${{datasolicitud.Balance.proveedoresTotal}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- Pasivo del negocio -->
        <table>
            <thead>
                <tr>
                    <th colspan=8>Pasivo del Negocio</th>
                </tr>
                <tr>
                    <th style="text-align:center">Acreedor</th>
                    <th style="text-align:center">Monto inicial</th>
                    <th style="text-align:center">Saldo actual</th>
                    <th style="text-align:center">Destino</th>
                    <th style="text-align:center">Periodicidad</th>
                    <th style="text-align:center">Valor cuota</th>
                    <th style="text-align:center">Pasivo Corriente</th>
                    <th style="text-align:center">Pasivo no Corriente</th>
                </tr>
            </thead>
            <tbody *ngFor="let pasNeg of datasolicitud.Balance.pasivosRows; let cont=index">
                <tr *ngIf="pasNeg.clase==2">
                    <td>{{pasNeg.acreedor}}</td>
                    <td>{{pasNeg.monto}}</td>
                    <td>{{pasNeg.saldo}}</td>
                    <td>{{pasNeg.destino}}</td>
                    <td>{{pasNeg.periodo.name}}</td>
                    <td>{{pasNeg.cuota}}</td>
                    <td>{{pasNeg.corrienteN}}</td>
                    <td align="right">${{pasNeg.nocorrienteN}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan=5>Total</td>
                    <td align="right" colspan=1>${{datasolicitud.Balance.tcuotan}}</td>
                    <td align="right" colspan=1>${{datasolicitud.Balance.tcorrienten}}</td>
                    <td align="right" colspan=1>${{datasolicitud.Balance.tnocorrienten}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- Pasivo de la familia -->
        <table>
            <thead>
                <tr>
                    <th colspan=8>Pasivo de la familia</th>
                </tr>
                <tr>
                    <th style="text-align:center">Acreedor</th>
                    <th style="text-align:center">Monto inicial</th>
                    <th style="text-align:center">Saldo actual</th>
                    <th style="text-align:center">Destino</th>
                    <th style="text-align:center">Periodicidad</th>
                    <th style="text-align:center">Valor cuota</th>
                    <th style="text-align:center">Pasivo Corriente</th>
                    <th style="text-align:center">Pasivo no Corriente</th>
                </tr>
            </thead>
            <tbody *ngFor="let pasfa of datasolicitud.Balance.pasivosRows; let cont=index">
                <tr *ngIf="pasfa.clase==1">
                    <td>{{pasfa.acreedor}}</td>
                    <td>{{pasfa.monto}}</td>
                    <td>{{pasfa.saldo}}</td>
                    <td>{{pasfa.destino}}</td>
                    <td>
                        <ng-container *ngIf="pasfa.periodo"> {{pasfa.periodo.name}}</ng-container>
                    </td>
                    <td>{{pasfa.cuota}}</td>
                    <td>{{pasfa.corrienteF}}</td>
                    <td align="right">${{pasfa.nocorrienteF}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan=5>Total</td>
                    <td align="right" colspan=1>${{datasolicitud.Balance.tcuotaf}}</td>
                    <td align="right" colspan=1>${{datasolicitud.Balance.tcorrientef}}</td>
                    <td align="right" colspan=1>${{datasolicitud.Balance.tnocorrientef}}</td>
                </tr>
            </tfoot>
        </table>
    </ng-container>
    <ng-container *ngIf="datasolicitud.Gastos">
        <!-- Remuneracion del personal -->
        <table>
            <thead>
                <tr>
                    <th colspan=4>Remuneración del personal</th>
                </tr>
                <tr>
                    <th style="text-align:center">Proveedor</th>
                    <th style="text-align:center">Valor</th>
                </tr>
            </thead>
            <tbody *ngFor="let remu of datasolicitud.Gastos.remuneracionRow; let cont=index">
                <tr>
                    <td>{{remu.cargo}}</td>
                    <td align="right">${{remu.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td align="right" colspan=3>${{datasolicitud.Gastos.totalRemuneracion}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- Gastos del Negocio Mensual -->
        <table>
            <thead>
                <tr>
                    <th colspan=9>Gastos del Negocio Mensual</th>
                </tr>
                <tr>
                    <th style="text-align:center">Alquiler</th>
                    <th style="text-align:center">Servicios</th>
                    <th style="text-align:center">Transporte</th>
                    <th style="text-align:center">Flete</th>
                    <th style="text-align:center">Impuestos</th>
                    <th style="text-align:center">Mantenimiento</th>
                    <th style="text-align:center">Imprevistos</th>
                    <th style="text-align:center">Otros</th>
                    <th style="text-align:center">Total</th>
                </tr>
            </thead>

            <tr>
                <td>{{datasolicitud.Gastos.alquilerN}}</td>
                <td>{{datasolicitud.Gastos.serviciosN}}</td>
                <td>{{datasolicitud.Gastos.transporteN}}</td>
                <td>{{datasolicitud.Gastos.fletesN}}</td>
                <td>{{datasolicitud.Gastos.imprevistosN}}</td>
                <td>{{datasolicitud.Gastos.mantenimientoN}}</td>
                <td>{{datasolicitud.Gastos.imprevistosN}}</td>
                <td>{{datasolicitud.Gastos.otrosN}}</td>
                <td align="right">${{datasolicitud.Gastos.totalN}}</td>
            </tr>


        </table>
        <!-- Gastos del Negocio Estacional -->
        <table>
            <thead>
                <tr>
                    <th colspan=4>Gastos del Negocio Estacional</th>
                </tr>
                <tr>
                    <th style="text-align:center">Concepto</th>
                    <th style="text-align:center">Descripción</th>
                    <th style="text-align:center">Mes</th>
                    <th style="text-align:center">Valor</th>
                </tr>
            </thead>
            <tbody *ngFor="let GasEst of datasolicitud.Gastos.estacionalesN; let cont=index">
                <tr>
                    <td>{{GasEst.concepto}}</td>
                    <td>{{GasEst.descripcion}}</td>
                    <td>{{GasEst.mes}}</td>
                    <td align="right">${{GasEst.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan=3>Total</td>
                    <td align="right">${{datasolicitud.Gastos.totalEstacionalesN}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- Gastos de la Familia -->
        <table>
            <thead>
                <tr>
                    <th colspan=10>Gastos de la Familia</th>
                </tr>
                <tr>
                    <th style="text-align:center">Arriendo</th>
                    <th style="text-align:center">Alimentación</th>
                    <th style="text-align:center">Educación</th>
                    <th style="text-align:center">Vestuario</th>
                    <th style="text-align:center">Salud</th>
                    <th style="text-align:center">Transporte</th>
                    <th style="text-align:center">Servicios</th>
                    <th style="text-align:center">Entretimiento</th>
                    <th style="text-align:center">Otros</th>
                    <th style="text-align:center">Total</th>
                </tr>
            </thead>

            <tr>
                <td>{{datasolicitud.Gastos.arriendoF}}</td>
                <td>{{datasolicitud.Gastos.alimentacionF}}</td>
                <td>{{datasolicitud.Gastos.educacionF}}</td>
                <td>{{datasolicitud.Gastos.vestuarioF}}</td>
                <td>{{datasolicitud.Gastos.saludF}}</td>
                <td>{{datasolicitud.Gastos.transporteF}}</td>
                <td>{{datasolicitud.Gastos.serviciosF}}</td>
                <td>{{datasolicitud.Gastos.entretenimientoF}}</td>
                <td>{{datasolicitud.Gastos.otrosF}}</td>
                <td align="right">${{datasolicitud.Gastos.totalF}}</td>
            </tr>


        </table>
        <!-- Gastos de la familia Estacional -->
        <table>
            <thead>
                <tr>
                    <th colspan=4>Gastos de la familia Estacional</th>
                </tr>
                <tr>
                    <th style="text-align:center">Concepto</th>
                    <th style="text-align:center">Descripción</th>
                    <th style="text-align:center">Mes</th>
                    <th style="text-align:center">Valor</th>
                </tr>
            </thead>
            <tbody *ngFor="let gastF of datasolicitud.Gastos.estacionalesF; let cont=index">
                <tr>
                    <td>{{gastF.concepto}}</td>
                    <td>{{gastF.descripcion}}</td>
                    <td>{{gastF.mes}}</td>
                    <td align="right">${{gastF.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan=3>Total</td>
                    <td align="right">${{datasolicitud.Gastos.totalEstacionalesF}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- Otros Ingresos Familiares -->
        <table>
            <thead>
                <tr>
                    <th colspan=4>Otros Ingresos Familiares</th>
                </tr>
                <tr>
                    <th style="text-align:center">Concepto</th>
                    <th style="text-align:center">Valor</th>
                    <th style="text-align:center">Observación</th>
                </tr>
            </thead>
            <tbody *ngFor="let OtrosIn of datasolicitud.Gastos.otrosIngresosRow; let cont=index">
                <tr>
                    <td>{{TipoIngreso(OtrosIn.ingreso,'tipoingreso')}}</td>
                    <td>${{OtrosIn.valor}}</td>
                    <td align="right">{{OtrosIn.observacion}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td> Total</td>
                    <td align="right">${{datasolicitud.Gastos.totalOtros}}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </ng-container>

    <!-- Actividades del cliente -->
    <div *ngFor="let act of datasolicitud.CrucesAgro" id="actividades">

        <div *ngIf="act.tipoproduccion=='Transitorio'">
            <table>
                <thead>
                    <tr>
                        <th colspan=11>Actividades del cliente</th>
                    </tr>
                    <tr>
                        <td style="text-align:center">Actividad</td>
                        <td style="text-align:center">{{act.tipo}}</td>
                        <td style="text-align:center">Nombre de la actividad</td>
                        <td style="text-align:center">{{act.nombre.name}}</td>
                        <td style="text-align:center">Tipo de producción</td>
                        <td style="text-align:center">{{act.tipoproduccion}}</td>
                        <td style="text-align:center">Ingreso</td>
                        <td style="text-align:center">Mirar este 0</td>
                        <td style="text-align:center">Egreso</td>
                        <td style="text-align:center">Mirar este 0</td>
                    </tr>
                </thead>
            </table>

            <!-- Lote 1 -->
            <div *ngFor="let lt of act.lotesAgro; let cont=index">
                <table>

                    <tr>
                        <th colspan=12>Lote1</th>
                    </tr>

                    <tr>
                        <td style="text-align:center">Edad del cultivo</td>
                        <td style="text-align:center">{{lt.edadcult}}</td>
                        <td style="text-align:center">{{lt.periodoedad}}</td>
                        <td style="text-align:center">Área cultivada</td>
                        <td style="text-align:center">{{lt.areacult}}</td>
                        <td style="text-align:center">{{lt.periodoedad}}</td>
                        <td style="text-align:center">Distancia de siembra ó # plantas/semillas del lote que informa el
                            cliente
                        </td>
                        <td style="text-align:center">{{lt.diastancia}}</td>
                        <td style="text-align:center"># plantas/semillas del lote</td>
                        <td style="text-align:center">{{lt.dplantas}}</td>      
                    </tr>
                </table>

                <!-- INGRESO Ciclo de la producción Transitorias -->

                <table>
                    <thead>
                        <tr>
                            <th colspan=12>INGRESO Ciclo de la producción Transitorias</th>
                        </tr>
                        <tr>
                            <td style="text-align:center">Rendimiento por lote bulto</td>
                            <td style="text-align:center">Unidades Totales para la Venta bulto</td>
                            <td style="text-align:center">% de perdida/consumo familiar</td>
                            <td style="text-align:center">Precio mínimo</td>
                            <td style="text-align:center">Precio actual</td>
                            <td style="text-align:center">Precio Promedio</td>
                            <th style="text-align:center">Total</th>
                            <td style="text-align:center">Meses de ingreso</td>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td align="right">${{lt.rendiemientolote}}</td>
                            <td align="right">${{lt.unidadestotales}}</td>
                            <td align="right">{{lt.perdida}}%</td>
                            <!-- <td align="right">${{lt.preciomin}}</td>
                            <td align="right">${{lt.precioactual}}</td>
                            <td align="right">${{lt.preciopromedio}}</td> -->
                            <td align="right">$Se acuerda que ese falta por calcular</td>
                            <td align="right">$Se acuerda que ese falta por calcular</td>
                        </tr>
                    </tfoot>
                </table>

                <!-- Egresos Transitorios -->

                <table>
                    <thead>
                        <tr>
                            <th colspan=12>Egresos Transitorios</th>
                        </tr>

                        <tr>
                            <th style="text-align:center">Fase</th>
                            <th style="text-align:center">Descripción</th>
                            <th style="text-align:center">Detalle</th>
                            <th style="text-align:center">Cantidad</th>
                            <th style="text-align:center">Vlr unitario</th>
                            <th style="text-align:center">Vlr total mes</th>
                            <th style="text-align:center">Mes</th>
                        </tr>
                    </thead>

                    <tbody *ngFor="let egTrans of lt.egresosAdecuacion; let cont=index">

                        <tr>
                            <th style="text-align:center">Adecuación- preparación terreno</th>
                            <td align="right">{{DescripcionEgresos(egTrans.descripcion,'descripcionegreso')}}</td>
                            <td align="right">{{egTrans.detalle}}</td>
                            <td align="right">{{egTrans.cantidad}}</td>
                            <td align="right">${{egTrans.valorunitario}}</td>
                            <td align="right">${{egTrans.total}}</td>
                            <td align="right">{{egTrans.mes}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngFor="let egTransSiem of lt.egresosSiembra; let cont=index">
                        <tr>
                            <th style="text-align:center">Siembra</th>
                            <td align="right">{{DescripcionEgresos(egTransSiem.descripcion,'descripcionegreso')}}</td>
                            <td align="right">{{egTransSiem.detalle}}</td>
                            <td align="right">{{egTransSiem.cantidad}}</td>
                            <td align="right">${{egTransSiem.valorunitario}}</td>
                            <td align="right">${{egTransSiem.total}}</td>
                            <td align="right">{{egTransSiem.mes}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngFor="let egTransMan of lt.egresosMante; let cont=index">
                        <tr>
                            <th style="text-align:center">Mantenimiento</th>
                            <td align="right">{{DescripcionEgresos(egTransMan.descripcion,'descripcionegreso')}}</td>
                            <td align="right">{{egTransMan.detalle}}</td>
                            <td align="right">{{egTransMan.cantidad}}</td>
                            <td align="right">${{egTransMan.valorunitario}}</td>
                            <td align="right">${{egTransMan.total}}</td>
                            <td align="right">{{egTransMan.mes}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngFor="let egTransCos of lt.egresosCocecha; let cont=index">
                        <tr>
                            <th style="text-align:center">Cosecha y recolección</th>
                            <td align="right">{{DescripcionEgresos(egTransCos.descripcion,'descripcionegreso')}}</td>
                            <td align="right">{{egTransCos.detalle}}</td>
                            <td align="right">{{egTransCos.cantidad}}</td>
                            <td align="right">${{egTransCos.valorunitario}}</td>
                            <td align="right">${{egTransCos.total}}</td>
                            <td align="right">{{egTransCos.mes}}</td>
                        </tr>
                    </tbody>
                    <tr>
                        <th style="text-align:center" colspan=5>Total</th>
                        <td align="right">${{lt.totalCos}}</td>
                        <td></td>

                    </tr>

                </table>
            </div>
        </div>

        <!-- INGRESO Ciclo de la producción Permanentes unidades -->
        <div *ngIf="act.tipoproduccion=='Permanente'">

            <table>
                <thead>

                    <tr>
                        <td style="text-align:center">Actividad</td>
                        <td style="text-align:center">{{act.tipo}}</td>
                        <td style="text-align:center">Nombre de la actividad</td>
                        <td style="text-align:center">{{act.nombre.name}}</td>
                        <td style="text-align:center">Tipo de producción</td>
                        <td style="text-align:center">{{act.tipoproduccion}}</td>
                        <td style="text-align:center">Ingreso</td>
                        <td style="text-align:center">Mirar este 0</td>
                        <td style="text-align:center">Egreso</td>
                        <td style="text-align:center">Mirar este 0</td>
                    </tr>
                </thead>
            </table>
            <div *ngFor="let lte of act.lotesAgro; let cont=index">

                <table>
                    <thead>
                        <tr>
                            <th colspan=10>INGRESO Ciclo de la producción Permanentes unidades</th>
                        </tr>

                        <tr>
                            <th style="text-align:center">Precio mínimo</th>
                            <!-- <td style="text-align:center">{{lte.preciomin}}</td> -->
                            <th style="text-align:center">Precio actual</th>
                            <!-- <td style="text-align:center">{{lte.precioactual}}</td> -->
                            <th style="text-align:center">Precio promedio</th>
                            <!-- <td style="text-align:center">{{lte.preciopromedio}}</td> -->
                            <th style="text-align:center">Unidades de venta totales anual</th>
                            <td style="text-align:center">{{lte.unidadestotales}}</td>
                            <th style="text-align:center">TOTAL LOTE ANUAL</th>
                            <td style="text-align:center">{{lte.totalLoteAunual}}</td>
                        </tr>
                        <tr>
                            <th style="text-align:center">Ciclo</th>
                            <th colspan="2" style="text-align:center">Meses de ingreso de venta</th>
                            <th colspan="2" style="text-align:center">Rendimiento por lote bulto</th>
                            <th colspan="2" style="text-align:center">Unidades totales para la venta</th>
                            <th style="text-align:center">% perdida/consumo familiar</th>
                            <th style="text-align:center">% Ciclo</th>
                            <th style="text-align:center">Total cosecha</th>
                        </tr>
                        <tr>
                            <td style="text-align:center">Cosecha</td>
                            <!-- <td colspan="2" style="text-align:center">{{lte.mesCos}}</td> -->
                            <td colspan="2" style="text-align:center">{{lte.rendimientoCos}}</td>
                            <td colspan="2" style="text-align:center">{{lte.unidadesCos}}</td>
                            <td style="text-align:center">{{lte.perdidaCos}}%</td>
                            <td style="text-align:center">{{lte.procentageCos}}%</td>
                            <td style="text-align:center">${{lte.totalCos}}</td>
                        </tr>
                        <tr>
                            <td style="text-align:center">Traviesa</td>
                            <!-- <td colspan="2" style="text-align:center">{{lte.mesTra}}</td> -->
                            <td colspan="2" style="text-align:center">{{lte.rendimientoTra}}</td>
                            <td colspan="2" style="text-align:center">{{lte.unidadesTra}}</td>
                            <td style="text-align:center">{{lte.perdidaTra}}%</td>
                            <td style="text-align:center">{{lte.procentageTra}}%</td>
                            <td style="text-align:center">${{lte.totalTra}}</td>
                        </tr>
                        <tr>
                            <td style="text-align:center">Pepeo</td>
                            <!-- <td colspan="2" style="text-align:center">{{lte.mesPepeo}}</td> -->
                            <td colspan="2" style="text-align:center">{{lte.rendimientoPepeo}}</td>
                            <td colspan="2" style="text-align:center">{{lte.unidadesPepeo}}</td>
                            <td style="text-align:center">{{lte.perdidaPepeo}}%</td>
                            <td style="text-align:center">{{lte.procentagePepeo}}%</td>
                            <td style="text-align:center">${{lte.totalPepeo}}</td>
                        </tr>

                        <tr>
                            <td colspan="8" style="text-align:left">Total</td>
                            <td style="text-align:center">100%</td>
                            <td style="text-align:center">{{lte.totalUnidades}}</td>
                        </tr>

                    </thead>


                </table>


                <!-- Egresos permanentes -->

                <table>
                    <tr>
                        <th colspan=7>Egresos Permanentes</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Fase</th>
                        <th style="text-align:center">Descripcion</th>
                        <th style="text-align:center">Detalle</th>
                        <th style="text-align:center">Cantidad</th>
                        <th style="text-align:center">Vlr unitario</th>
                        <th style="text-align:center">Vlr total mes</th>
                        <th style="text-align:center">Mes</th>
                    </tr>
                    <tbody *ngFor="let egre of lte.egresosMante; let cont=index">
                        <tr>
                            <td style="text-align:center">Mantenimiento</td>
                            <td style="text-align:center">{{egre.descripcion}}</td>
                            <td style="text-align:center">{{egre.detalle}}</td>
                            <td style="text-align:center">{{egre.cantidad}}</td>
                            <td style="text-align:center">${{egre.valorunitario}}</td>
                            <td style="text-align:center">${{egre.total}}</td>
                            <td style="text-align:center">{{egre.mes}}</td>
                        </tr>
                    </tbody>

                    <tbody *ngFor="let egreCos of lte.egresosCocecha; let cont=index">
                        <tr>
                            <td style="text-align:center">Cosecha y recoleccion</td>
                            <td style="text-align:center">{{egreCos.descripcion}}</td>
                            <td style="text-align:center">{{egreCos.detalle}}</td>
                            <td style="text-align:center">{{egreCos.cantidad}}</td>
                            <td style="text-align:center">${{egreCos.valorunitario}}</td>
                            <td style="text-align:center">${{egreCos.total}}</td>
                            <td style="text-align:center">{{egreCos.mes}}</td>
                        </tr>
                    </tbody>
                    <tr>
                        <td colspan="5" style="text-align:left">Total</td>
                        <td colspan="2" style="text-align:center">${{lte.totalEgresos}}</td>
                    </tr>
                </table>
            </div>

        </div>

        <div *ngIf="act.tipo==2">
            <table>
                <thead>
                    <tr>
                        <td style="text-align:center">Actividad</td>
                        <td style="text-align:center">{{act.tipo}}</td>
                        <td style="text-align:center">Nombre de la actividad</td>
                        <td colspan="2" style="text-align:center">{{act.nombre.name}}</td>
                        <td style="text-align:center">Tipo de producción</td>
                        <td colspan="2" style="text-align:center">{{act.tipoproduccion}}</td>
                        <td style="text-align:center">Ingreso</td>
                        <td style="text-align:center">Mirar este 0</td>
                        <td style="text-align:center">Egreso</td>
                        <td style="text-align:center">Mirar este 0</td>
                    </tr>
                </thead>
            </table>
            <div *ngFor="let ltePec of act.lotesPecuario; let cont=index">
                <table>
                    <thead>
                        <tr>
                            <th colspan=12>Lote1</th>
                        </tr>
                        <tr>
                            <th colspan=12>Ingreso</th>
                        </tr>
                        <tr>
                            <td style="text-align:center">Número de animales por lote</td>
                            <td style="text-align:center">{{ltePec.numanimales}}</td>
                            <td style="text-align:center">Producto derivado</td>
                            <td style="text-align:center">{{ltePec.prodderivado}}</td>           
                            <td style="text-align:center">Cantidad producida por animal (libra)</td>
                            <td style="text-align:center">{{ltePec.cantidadxanimal}}</td>
                            <td style="text-align:center">Frecuencia</td>
                            <td style="text-align:center">{{ltePec.frecuencia}}</td>
                            <td style="text-align:center">Cantidad producida total (libra)</td>
                            <td style="text-align:center">{{ltePec.cantproducida}}</td>

                        </tr>
                        <tr>
                            <td style="text-align:center">Unidades Totales para la Venta (libra)</td>
                            <td style="text-align:center">{{ltePec.unitotalesventa}}</td>
                            <td style="text-align:center">% de mortalidad /perdida/consumo familiar</td>
                            <td style="text-align:center">{{ltePec.perdida}}%</td>                            
                            <th style="text-align:center">Meses de ingreso de venta</th>
                            <td style="text-align:center">{{ltePec.mesingreso}}</td>
                        </tr>
                    </thead>
                </table>



                <!-- Egreso -->
                <table>
                    <tr>
                        <th colspan=6 style="text-align:center">Egreso</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Descripción</th>
                        <th style="text-align:center">Detalle</th>
                        <th style="text-align:center">Cantidad</th>
                        <th style="text-align:center">Vlr unitario</th>
                        <th style="text-align:center">Vlr TOTAL MES</th>
                        <th style="text-align:center">Mes</th>
                    </tr>
                    <tbody *ngFor="let egrePec of ltePec.egresos; let cont=index">
                        <tr>
                            <td style="text-align:center">
                                {{DescripcionEgresosPec(egrePec.descripcion,'DescripcionEgresosPec')}}</td>
                            <td style="text-align:center">{{egrePec.detalle}}</td>
                            <td style="text-align:center">{{egrePec.cantidad}}</td>
                            <td style="text-align:center">${{egrePec.valorunitario}}</td>
                            <td style="text-align:center">${{egrePec.total}}</td>
                            <td style="text-align:center">{{egrePec.mes}}</td>
                        </tr>
                    </tbody>
                    <tr>
                        <th colspan=4 style="text-align:left">Total</th>
                        <td style="text-align:center">${{ltePec.totalEgresos}}</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

        <!--ventas buenas -->
        <ng-container *ngIf="act.tipo==3">
            <table>
                <thead>
                    <tr>
                        <td style="text-align:center">Actividad</td>
                        <td style="text-align:center">{{act.tipo}}</td>
                        <td style="text-align:center">Nombre de la actividad</td>
                        <td style="text-align:center">{{act.nombre}}</td>
                        <td style="text-align:center">Tipo de producción</td>
                        <td style="text-align:center">{{act.tipoproduccion}}</td>
                        <td style="text-align:center">Ingreso</td>
                        <td style="text-align:center">Mirar este 0</td>
                        <td style="text-align:center">Egreso</td>
                        <td style="text-align:center">;Mirar este 0</td>
                    </tr>
                </thead>
            </table>
            <table>
                <thead>
                    <tr>
                        <th colspan=10>Ventas buenas/ regulares/ malas</th>
                    </tr>
                    <tr>
                        <td style="text-align:center">Ventas</td>
                        <td style="text-align:center">Dias</td>
                        <td style="text-align:center">Numero</td>
                        <td style="text-align:center">Dias</td>
                        <td style="text-align:center">Valor</td>
                        <td style="text-align:center">Total</td>
                        <td style="text-align:center">Total compras</td>
                        <td colspan=3 style="text-align:center"></td>
                    </tr>

                    <tr>
                        <td style="text-align:center">Buenas</td>
                        <td style="text-align:center">{{act.diasB}}</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">{{act.diasB}}</td>
                        <td style="text-align:center">${{act.valorB}}</td>
                        <td style="text-align:center">${{act.totalB}}</td>
                        <td style="text-align:center">Ventas estimadas</td>
                        <td colspan=3 style="text-align:center">{{act.ventasEstimadas}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">Regulares</td>
                        <td style="text-align:center">{{act.diasR}}</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">{{act.diasR}}</td>
                        <td style="text-align:center">${{act.valorR}}</td>
                        <td style="text-align:center">${{act.totalR}}</td>
                        <td style="text-align:center">Margen bruto</td>
                        <td colspan=3 style="text-align:center">{{act.margenBruto}}</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">Malas</td>
                        <td style="text-align:center">{{act.diasM}}</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">{{act.diasM}}</td>
                        <td style="text-align:center">${{act.valorM}}</td>
                        <td style="text-align:center">${{act.totalM}}</td>
                        <td style="text-align:center">Otros gastos</td>
                        <td colspan=3 style="text-align:center">{{act.otrosGastos}}</td>
                    </tr>
                    <tr>
                        <th style="text-align:center">Total</th>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">{{act.totalDias}}</td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center"></td>
                        <td style="text-align:center">${{act.totalVentas}}</td>
                        <td style="text-align:center">Ingreso liquido estimado</td>
                        <td colspan=3 style="text-align:center">{{act.ingresoLiquido}}</td>
                    </tr>

                </thead>
            </table>
        </ng-container>

    </div>
</div>