<form [formGroup]="otrosForm">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Otros Ingresos Familiares</mat-card-title>
            <mat-card-subtitle>Otros ingresos familiares</mat-card-subtitle>
            <mat-chip-list class="pull-right">
                <mat-chip color="accent" selected>{{total}}</mat-chip>
            </mat-chip-list>
        </mat-card-header>
        <mat-card-content>
            <input readonly style="display: none;" formControlName="total" />
            <div formArrayName="itemRows" class="alternate">
                <div fxLayout="row wrap" class="content"
                    *ngFor="let itemrow of otrosForm.controls.itemRows['controls']; let i=index"
                    [formGroupName]="i">

                    <div class="gr" fxFlex="30%" fxFlex.xs="25%" fxFlex.sm="26%">
                        <mat-form-field>
                            <mat-label>Ingreso</mat-label>
                            <mat-select formControlName="ingreso" id="ingreso{{i}}" required>
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let ing of otroIngreso" [value]="ing.id">
                                    {{ing.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="gr" fxFlex="30%" fxFlex.xs="25%" fxFlex.sm="26%">
                        <mat-form-field>
                            <input type="tel" pattern="^\d+(\.|\,)\d{2}$" matInput placeholder="Valor" id="valor{{i}}" formControlName="valor">
                        </mat-form-field>
                    </div>

                    <div class="gr" fxFlex="30%" fxFlex.xs="25%" fxFlex.sm="26%">
                        <mat-form-field>
                            <input type="text" matInput placeholder="Observacion" id="observacion{{i}}" formControlName="observacion">
                        </mat-form-field>
                    </div>

                    <div class="gr" fxFlex="10%" fxFlex.xs="10%" fxFlex.sm="10%">
                        <button mat-fab type="button" color="warn" mat-mini-fab (click)="deleteRow(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <button mat-fab aria-label="add" mat-mini-fab class="btnadd" type="button" color="accent"
                (click)="addNewRow()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-card-content>
    </mat-card>
</form>