mat-form-field {
  width: 100%;
}
.gr {
  padding-right: 10px;
}
.radioperiodo {
  width: 100%;
  margin-bottom: 8px;
}
.totalstep{
  right: 50px;
  position: absolute;
}
.mat-card-fases {
  margin-bottom: 25px;
  margin-top: 10px;
  padding: 8px;
}
.mat-stepper-vertical {
  margin-top: 2px;
}
.cardlote {
  margin-bottom: 8px;
}

div.alternate>div:nth-of-type(odd) {
  background: rgba(239, 239, 239, 0.58);
}

.contentingresos {
  background: rgba(239, 239, 239, 0.58);
  border-radius: 8px;
  width: 100%;
}

.content {
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
}

.encabezado {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 23px;
}

.btnadd {
  position: absolute;
  left: 24px;
  bottom: -20px;
}

.btndelete {
  position: absolute;
  right: 10px;
  margin-top: -12px;
  margin-right: -4px;
}

.addact {
  position: absolute;
  right: 10px;
  top: 10px;
}

.deleteact {
  position: absolute;
  right: 1px;
  top: 2px;
}

.pull-right {
  position: absolute;
  right: 20px;
  top: 10px;
}

.titulo {
  width: 40%;
  float: left;
}

.chip-titulo {
  width: 50%;
  float: right;
}

::ng-deep .tabs .mat-tab-header {
  width: 60%;
}

::ng-deep .mat-radio-label-content {
  margin-right: 10px;
}

::ng-deep .mat-tab-header {
  width: 85%;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
  margin-left: 8px;
}
