table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}
table, th, td {
    border: none;
}
td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
table.striped>tbody>tr:nth-child(odd) {
    background-color: rgba(233, 233, 233, 0.5);
}
table.striped tr {
    border-bottom: none;
}