<h2>Datos de la zonificacion</h2>
<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                1. ARC-FO-003
            </mat-panel-title>
            <mat-panel-description>
                Novedades de asesores y barrios
                <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-cartera-inicial *ngIf="datasolicitud" [datasolicitud]="solicitud"></app-cartera-inicial>

    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2. Adjuntos
            </mat-panel-title>
            <mat-panel-description>
                POT-EOT-Recibos Publicos-UPZ
                <mat-icon>attach_file</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-adjuntos [idSolicitud]="id"></app-adjuntos>

    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                3. Zona Oficina - Mapa
            </mat-panel-title>
            <mat-panel-description>
                Type the country name
                <mat-icon>map</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-mapa></app-mapa>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                4. Limite
            </mat-panel-title>
            <mat-panel-description>
                Inform the date you wish to travel
                <mat-icon>date_range</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-gestion-limite></app-gestion-limite>
    </mat-expansion-panel>
</mat-accordion>