<form [formGroup]="initForm">
    <div fxLayout="row wrap">
        <div class="gr" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
            <mat-form-field>
                <input type="number" autocomplete="off" matInput placeholder="# Solicitud" formControlName="solicitud">
            </mat-form-field>
        </div>
        <div class="gr" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
            <mat-form-field>
                <input type="number" autocomplete="off" matInput [readonly]="datos.cedula" placeholder="Cédula" formControlName="cedula">
            </mat-form-field>
        </div>
        <div class="gr" fxFlex="100%" *ngIf="datos.fechades" fxFlex.xs="100%" fxFlex.sm="100%">
            <mat-form-field>
                <input type="datetime" matInput
                readonly placeholder="Fecha Desembolso" value="{{datos.fechades}}">
            </mat-form-field>
        </div>
        <div class="btntoggle" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
            <mat-button-toggle-group name="fontStyle" formControlName="asesor" aria-label="Font Style">
                <mat-button-toggle value="1" [disabled]="datos.asesor">Comercial</mat-button-toggle>
                <mat-button-toggle value="2" [disabled]="datos.asesor">Agropecuario</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <br>
        <div class="btnsoli" fxFlex="40%" fxFlex.xs="40%" fxFlex.sm="40%">
            <button *ngIf="!datos.cedula" type="button" (click)="onSave()" mat-raised-button [disabled]="!initForm.valid" color="primary">Guardar</button>
            <button *ngIf="datos.cedula" type="button" (click)="onEdit()" mat-raised-button [disabled]="!initForm.valid" color="warn">Editar</button>
        </div>
        <div class="btnsoli" fxFlex="40%" fxFlex.xs="40%" fxFlex.sm="40%">
            <button mat-raised-button color="accent" mat-dialog-close>Cerrar</button>
        </div>
    </div>
</form>