<form [formGroup]="respuestasForm" (ngSubmit)="onSave()">
    <div fxLayout="row wrap">

        <div class="gr" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
            <mat-form-field>
                <mat-label>Texto</mat-label>
                <textarea matInput formControlName="Texto" placeholder="Texto"></textarea>
            </mat-form-field>
        </div>
        <div class="gr" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
            <mat-form-field>
                <input type="number" matInput placeholder="Puntaje" formControlName="Puntaje">
            </mat-form-field>
        </div>

        <br>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        <div style="width: 100%; margin-top: 25px;">
            <div class="btnsoli" fxFlex="40%" fxFlex.xs="40%" fxFlex.sm="40%">
                <button type="submit" mat-raised-button [disabled]="!respuestasForm.valid" *ngIf="!loading"
                    color="primary">Guardar</button>
            </div>
            <div class="btnsoli" fxFlex="40%" fxFlex.xs="40%" fxFlex.sm="40%">
                <button mat-raised-button color="accent" mat-dialog-close *ngIf="!loading">Cerrar</button>
            </div>
        </div>
    </div>
</form>