<div fxLayout="row wrap">

    <div class="gr" fxFlex="20%" fxFlex.xs="33%" fxFlex.sm="33%">
        <mat-card (click)="onRouter('agil')">
            <h2>Asesores</h2>
            <img matCardImage src="assets/pictures/dollar.png">
        </mat-card>
    </div>
    <div class="gr" fxFlex="20%" fxFlex.xs="33%" fxFlex.sm="33%">
        <mat-card (click)="onRouter('meba')">
            <h2>MEBA</h2>
            <img matCardImage src="assets/pictures/el-planeta-tierra.png">
        </mat-card>
    </div>
    <div class="gr" fxFlex="20%" fxFlex.xs="33%" fxFlex.sm="33%">
        <mat-card (click)="onRouter('admin')">
            <h2>ADMIN</h2>
            <img matCardImage src="assets/pictures/web-management.png">
        </mat-card>
    </div>
</div>