
<div fxLayout="row wrap">

    <div class="gr" fxFlex="20%" fxFlex.xs="33%" fxFlex.sm="33%">
        <mat-card (click)="onRouter('agil')">
            <mat-card-header>
                <mat-card-title>Asesores</mat-card-title>
                <mat-card-subtitle>Asesor Agil</mat-card-subtitle>
            </mat-card-header>
            <img matCardImage src="assets/pictures/dollar.png">            
        </mat-card>
    </div>
    <div class="gr" fxFlex="20%" fxFlex.xs="33%" fxFlex.sm="33%">
        <mat-card (click)="onRouter('meba')">
            <mat-card-header>
                <mat-card-title>MEBA</mat-card-title>
                <mat-card-subtitle>Subtitle</mat-card-subtitle>
            </mat-card-header>
            <img matCardImage src="assets/pictures/el-planeta-tierra.png">          
        </mat-card>
    </div>
    <div class="gr" fxFlex="20%" fxFlex.xs="33%" fxFlex.sm="33%">
        <mat-card (click)="onRouter('admin')">
            <mat-card-header>
                <mat-card-title>ADMIN</mat-card-title>
                <mat-card-subtitle>Administrador</mat-card-subtitle>
            </mat-card-header>
            <img matCardImage src="assets/pictures/web-management.png">          
        </mat-card>
    </div>
</div>

