<mat-card>
  <mat-card-header>
    <mat-card-title>Inventario</mat-card-title>
    <mat-card-subtitle>inventario</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="inventarioForm" (ngSubmit)="onSubmit(inventarioForm.value)">
      <div class="row">
        <div class="col-sm-12 table-responsive" formArrayName="itemRows">
          <table class="table">
            <tbody>
              <tr *ngFor="let itemrow of inventarioForm.controls.itemRows['controls']; let i=index" [formGroupName]="i">
                <td style="white-space: nowrap;">
                  <mat-form-field>
                    <input type="text" matInput placeholder="Tipo" id="tipo{{i}}" formControlName="tipo">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input type="number" matInput placeholder="Cantidad" id="cantidad{{i}}" formControlName="cantidad">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input type="text" matInput placeholder="descripcion" id="descripcion{{i}}" formControlName="descripcion">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input type="number" matInput placeholder="Valor" id="valor{{i}}" formControlName="valor">
                  </mat-form-field>
                </td>
                <td>
                  <button mat-fab type="button" (click)="deleteRow(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <button mat-fab aria-label="add" type="button" color="accent" (click)="addNewRow()">
        <mat-icon>add</mat-icon>
      </button>
      <mat-card-actions>
        <button mat-raised-button color="primary">Guardar</button>
      </mat-card-actions>
    </form>
  </mat-card-content>


</mat-card>