<div class="container">
    <div fxLayout="row wrap">
        <div class="gr" fxFlex="45%" fxFlex.xs="45%" fxFlex.sm="45%">
            <mat-form-field>
                <mat-label>Buscar</mat-label>
                <input matInput autocomplete="off" [(ngModel)]="nombre" placeholder="Nombre" #input>
            </mat-form-field>
        </div>
        <div class="gr" fxFlex="45%" fxFlex.xs="45%" fxFlex.sm="45%">
            <mat-form-field>
                <mat-label>Flujo</mat-label>
                <mat-select [(ngModel)]="flujo" (selectionChange)="changeFlujo($event.value)"
                    [compareWith]="compareFunction">
                    <mat-option *ngFor="let flu of aFlujo" [value]="flu">
                        {{flu.Nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="gr" fxFlex="10%" fxFlex.xs="10%" fxFlex.sm="10%">
            <button mat-mini-fab type="button" color="primary" (click)="onCreate()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <div cdkDropList class="example-list mat-elevation-z8"
        (cdkDropListDropped)="drop($event)">
        <div fxLayout="row wrap" style="width: 100%;">
            <div class="hea" fxFlex="20%" fxFlex.xs="20%" fxFlex.sm="20%">
                Orden
            </div>
            <div class="hea" fxFlex="30%" fxFlex.xs="30%" fxFlex.sm="30%">
                Nombre
            </div>
            <div class="hea" fxFlex="40%" fxFlex.xs="40%" fxFlex.sm="40%">
                Rol
            </div>
        </div>
        <div class="example-box" *ngFor="let item of aNiveles" [cdkDragData]="item" cdkDrag>
            <div fxLayout="row wrap" style="width: 100%;">
                <div class="gr" fxFlex="20%" fxFlex.xs="20%" fxFlex.sm="20%">
                    <mat-chip-list>
                        <mat-chip>{{item.Orden}}</mat-chip>
                    </mat-chip-list>
                </div>
                <div class="gr" fxFlex="30%" fxFlex.xs="30%" fxFlex.sm="30%">
                    {{item.Nombre}}
                </div>
                <div class="gr" fxFlex="40%" fxFlex.xs="40%" fxFlex.sm="40%">
                    {{item.Rol.Nombre}}
                </div>
                <div class="gr" fxFlex="10%" fxFlex.xs="10%" fxFlex.sm="10%">
                    <button mat-icon-button color="accent">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>

            </div>

        </div>
    </div>