mat-form-field {
  width: 100%;
}
.gr {
  padding-right: 10px;
}
.mat-card-cruce {
  margin-bottom: 25px;
  margin-top: 10px;
  padding: 8px;
}
div.alternate>div:nth-of-type(odd) {
  background: rgba(239, 239, 239, 0.58);
}
.mat-radio-button~.mat-radio-button {
  margin-left: 5px;
}
.encabezado{
  margin-top: 10px;
  margin-bottom: 10px;
}
.content {
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
}
.btnadd {
  position: absolute;
  left: 24px;
  bottom: -20px;
}
.btndelete {
  position: absolute;
  right: 10px;
  margin-top: -12px;
  margin-right: -4px;
}
.addact {
  position: absolute;
  right: 10px;
  top: 10px;
}
.deleteact{
  position: absolute;
  right: 1px;
  top: 2px;
}
.pull-right {
  position: absolute;
  right: 20px;
  top: 10px;
}
::ng-deep .tabs .mat-tab-header {
  width: 60%;
}
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}
::ng-deep .mat-expansion-panel-body {
  padding: 0 14px 16px;
}
::ng-deep .mat-radio-label-content {
  margin-right: 32px;
}
::ng-deep .mat-tab-header {
  width: 85%; 
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
  margin-left: 8px;
}
