mat-form-field {
    width: 100%;
}

.gr {
    margin-right: 20px;
}

div.alternate>div:nth-of-type(odd) {
    background: rgba(239, 239, 239, 0.58);
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 5px;
  }

.content {
    border-radius: 8px;
    padding: 8px 8px 8px 8px;
}

.btnadd {
    position: absolute;
    right: 24px;
    bottom: -20px;
}
.addact {
    position: absolute;
    right: 10px;
    top: 2px;
}
::ng-deep .tabs .mat-tab-header { 
    width: 60%;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
