<form [formGroup]="verificacionForm">
    <div formArrayName="verificacion">
        <div fxLayout="row wrap" *ngFor="let itemrow of verificacion().controls; let pre=index" [formGroupName]="pre">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        {{itemrow.value.Nombre}}
                        <mat-slide-toggle (change)="clear($event,pre)" formControlName="aplicapregunta">
                        </mat-slide-toggle>

                    </mat-card-title>
                </mat-card-header>
                <ng-container *ngIf="itemrow.value.aplicapregunta">
                    <mat-card-content>
                        <div style="width: 100%;" formArrayName="Preguntas">
                            <div fxLayout="row wrap" *ngFor="let respu of preguntas(pre).controls; let res=index"
                                [formGroupName]="res">
                                <div class="gr" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                                    {{respu.value.Titulo}}
                                </div>
                                <div class="gr" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                                    <mat-form-field>
                                        <mat-label>Respuesta</mat-label>
                                        <mat-select formControlName="Resultado" [multiple]="respu.value.Multiple"
                                            required>
                                            <mat-option disabled>--</mat-option>
                                            <mat-option *ngFor="let res of respu.value.Respuestas" [value]="res">
                                                {{res.Texto}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-chip-list>
                        <mat-chip>Total: {{itemrow.value.totalAcumulado}}</mat-chip>
                    </mat-chip-list>
                </ng-container>
            
            </mat-card>
        </div>
    </div>
</form>