<div class="content" id="contentFlujo">

    <table>
        <tr>
            <td style="width: 200px;" rowspan="3" style="text-align:center">
                <img src="assets/pictures/Logo.png">
            </td>
            <td colspan="5" rowspan="3" style="text-align:center">Flujo de caja proyectado Agropecuario</td>
            <td colspan="2" style="text-align:center">COL-FO-017</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">Version 11</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">12/04/2021</td>
        </tr>
        <tr>
            <td>Numero de solicitud</td>
            <td>{{datasolicitud.solicitud}}</td>
            <td>Numero de cedula</td>
            <td>{{datasolicitud.cedula}}</td>
            <td>Actividad Principal</td>
            <td>{{actividadPrincipal}}</td>
            <td>Fecha de estudio</td>
            <td>{{fechahoy}}</td>
        </tr>
    </table>

    <table>
        <thead>
            <tr>
                <th [attr.colspan]="cantidadTotalAct" style="text-align:center">Resumen proyectado de Ingresos y Egresos
                    Agropecuarios</th>
            </tr>
            <tr>
                <th rowspan="3" colspan="3">Producto</th>
                <th [attr.colspan]="cantidadActividades">Ingresos Act Agropecuaria</th>
                <th rowspan="3">Total Mensual</th>
                <th [attr.colspan]="cantidadActividades">Egresos Act Agropecuaria</th>
                <th rowspan="3">Total Mensual</th>
            </tr>
            <tr>

                <th *ngFor="let act of datasolicitud.CrucesAgro;let ac=index">Actividad {{ac}}</th>
                <th *ngFor="let act of datasolicitud.CrucesAgro;let ac=index">Costo {{ac}}</th>
            </tr>
            <tr>
                <th *ngFor="let act of datasolicitud.CrucesAgro">{{act.nombre.name}}</th>
                <th *ngFor="let act of datasolicitud.CrucesAgro">{{act.nombre.name}}</th>
            </tr>
        </thead>
        <tr *ngFor="let item of dataFlujo;let j=index">

            <td *ngFor="let col of dataFlujo[0];let i=index ">
                <ng-container *ngIf="i > 2">
                    {{item[i] |currency:"$":'symbol':'4.2-2'}}
                </ng-container>
                <ng-container *ngIf="i <= 2">
                    {{item[i]}}
                </ng-container>
            </td>


        </tr>
    </table>
    <table>
        <tr>
            <th style="text-align:center">Flujo de caja acumulado</th>
        </tr>
    </table>
    <ng-container *ngIf="datasolicitud.Propuesta">

        <table>
            <tr>
                <td>Plazo Total del Crédito Actual(MESES)</td>
                <td>{{datasolicitud.Propuesta.plazo}}</td>
                <td>Forma de Pago</td>
                <td>{{datasolicitud.Propuesta.formapgo}} </td>
                <td>Monto recomendado</td>
                <td>0</td>
                <td>Efectivo Disponible</td>
                <td *ngIf="datasolicitud.Balance"> {{datasolicitud.Balance.efectivo}} </td>
                <td>Plan de Inversión (Activos Fijos)</td>
                <td>0</td>
                <td>Plan de Inversión (capital de trabajo)</td>
                <td>0</td>
            </tr>
        </table>
    </ng-container>

    <table>
        <thead>
            <tr>
                <th colspan="3">Proyección</th>
                <th>In. Agro Efectivo</th>
                <th>Recuperación de cartera (cuentas por cobrar)</th>
                <th>Costos Agro</th>
                <th>Remuneración personal</th>
                <th>Gastos del negocio</th>
                <th>Imprevistos Operativos</th>
                <th>Obligaciones Finacieras</th>
                <th>Ingresos Líquidos Agropecuarios</th>
                <th>Ingresos Líquidos Otras actividades comerciales </th>
                <th>Otros Ingresos familiares (Independientes)</th>
                <th>Gastos y obligaciones familiares</th>
                <th>Flujo de caja antes financiación (sin acumular)</th>
                <th>Flujo de caja antes financiación acumulable 70%</th>
                <th>Cuota del crédito</th>
                <th>Flujo de caja descontando cuota de crédito</th>
                <th>Flujo de caja con financiación</th>
                <th>Relación cuota liquidez</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of dataFlujoAcumulado">
                <td [ngClass]="{'error': i ==10 && item[i] <0}" *ngFor="let col of dataFlujoAcumulado[0];let i=index">
                    <ng-container *ngIf="i > 2">
                        {{item[i] |currency:"$":'symbol':'4.2-2'}}
                    </ng-container>
                    <ng-container *ngIf="i <= 2">
                        {{item[i]}}
                    </ng-container>
                </td>
            </tr>

        </tbody>

    </table>

</div>