table,
td,
th {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
  margin-bottom: 15px;
  page-break-inside: auto;
}

tr {
  page-break-inside: avoid;
  page-break-after: auto
}

.mediod {
  width: 50%;
  float: right;
  margin-bottom: 15px;
}

.medioi {
  width: 47%;
  margin-right: 5px;
  float: left;
  margin-bottom: 15px;
}

.content {
  width: 1403px;
}

.error {
  color: red;
  background-color: #cfcfcf;
}

.warn {
  color: orange;
}

.success {
  color: green;
}

.none {
  color: white;
}