mat-form-field {
  width: 100%;
}
.content-obser{
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
}
.gr {
  padding-right: 10px;
}

.example-action-buttons {
  padding-bottom: 20px;
}

table {
  width: 100%;
}