<mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="registroForm" [editable]="true">
        <form [formGroup]="registroForm">
            <ng-template matStepLabel>Registro Solicitud</ng-template>
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle>Todos los campo son obligatorio para radicar la solicitud</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div fxLayout="row wrap">
                        <div class="gr" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%">
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre</mat-label>
                                <input matInput formControlName="nombre" readonly>
                            </mat-form-field>
                        </div>
                        <div class="gr" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%">
                            <mat-form-field appearance="outline">
                                <mat-label>Cargo</mat-label>
                                <input matInput formControlName="cargo" readonly>
                            </mat-form-field>
                        </div>
                        <div class="gr" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%">
                            <mat-form-field appearance="outline">
                                <mat-label>Oficina</mat-label>
                                <input matInput formControlName="oficina" readonly>
                            </mat-form-field>
                        </div>
                        <div class="gr" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%">
                            <mat-form-field appearance="outline">
                                <mat-label>Tipo Solicitud</mat-label>
                                <mat-select formControlName="tipo" required>
                                    <mat-option *ngFor="let item of tipos" [value]="item">
                                        {{item.Nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="gr" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%">
                            <mat-form-field appearance="outline">
                                <mat-label>Asesores Actual</mat-label>
                                <input required matInput autocomplete="off" formControlName="asesoresactual"
                                    type="number">
                            </mat-form-field>
                        </div>
                        <div class="gr" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%">
                            <mat-form-field appearance="outline">
                                <mat-label>Asesores Aprobados</mat-label>
                                <input required matInput autocomplete="off" formControlName="asesoresaprobados"
                                    type="number">
                            </mat-form-field>
                        </div>

                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div style="width: 100%;" fxLayout="row center wrap">
                        <div fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%">
                            <button  type="button" mat-button mat-raised-button (click)="onRegistro()"
                            [disabled]="!registroForm.valid" color="primary">
                                REGISTRAR
                            </button>
                        </div>
                        <div fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%">
                            <button mat-button mat-raised-button color="accent">APROBAR</button>
                        </div>
                        <div fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%">
                            <button type="button" mat-button mat-raised-button block color="warn">RECHAZAR</button>
                        </div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </form>
    </mat-step>
    <form [formGroup]="formNiveles">
        <div formArrayName="niveles" fxFlex="100%">
            <div *ngFor="let niv of nivel().controls; let ni=index" fxFlex="100%">
                <mat-step [stepControl]="niv" [editable]="niv.value.isEditable">
                    <form [formGroup]="niv">
                        <ng-template matStepLabel>{{niv.value.Nombre}}</ng-template>
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="Estado" placeholder="Last name, First name" required>
                        </mat-form-field>
                        <div>
                            <button mat-raised-button color="primary">APROBAR</button>
                            <button mat-raised-button color="warn">DEVOLVER</button>
                        </div>
                    </form>
                </mat-step>
            </div>
        </div>
    </form>
</mat-horizontal-stepper>

<div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expandir</button>
    <button mat-button (click)="accordion.closeAll()">Contraer</button>
</div>
<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                1. ARC-FO-003
            </mat-panel-title>
            <mat-panel-description>
                Novedades de asesores y barrios
                <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Age</mat-label>
            <input matInput type="number" min="1">
        </mat-form-field>

    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2. Adjuntos
            </mat-panel-title>
            <mat-panel-description>
                POT-EOT-Recibos Publicos-UPZ
                <mat-icon>map</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
            <mat-label>Country</mat-label>
            <input matInput>
        </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                3. Zona Oficina - Mapa
            </mat-panel-title>
            <mat-panel-description>
                Type the country name
                <mat-icon>map</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
            <mat-label>Country</mat-label>
            <input matInput>
        </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                4. Limite de la Oficina
            </mat-panel-title>
            <mat-panel-description>
                Inform the date you wish to travel
                <mat-icon>date_range</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>
    </mat-expansion-panel>
</mat-accordion>


<!--
<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>

-->