<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="registroForm" [editable]="true">
        <form [formGroup]="registroForm">
            <ng-template matStepLabel>Registro Solicitud</ng-template>
            <mat-card>
                <mat-card-header>             
                    <mat-card-subtitle>Todos los campo son obligatorio para radicar la solicitud</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div fxLayout="row wrap">
                        <div class="gr" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%">
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre</mat-label>
                                <input matInput formControlName="nombre" readonly>
                            </mat-form-field>
                        </div>
                        <div class="gr" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%">
                            <mat-form-field appearance="outline">
                                <mat-label>Cargo</mat-label>
                                <input matInput formControlName="cargo" readonly>
                            </mat-form-field>
                        </div>
                        <div class="gr" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%">
                            <mat-form-field appearance="outline">
                                <mat-label>Oficina</mat-label>
                                <input matInput formControlName="oficina" readonly>
                            </mat-form-field>
                        </div>
                        <div class="gr" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%">
                            <mat-form-field appearance="outline">
                                <mat-label>Tipo Solicitud</mat-label>
                                <mat-select placeholder="">
                                    <mat-option></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="gr" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%">
                            <mat-form-field appearance="outline">
                                <mat-label>Asesores Actual</mat-label>
                                <input matInput formControlName="asesoresactual" readonly>
                            </mat-form-field>
                        </div>
                        <div class="gr" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="33%">
                            <mat-form-field appearance="outline">
                                <mat-label>Asesores Aprobados</mat-label>
                                <input matInput formControlName="asesoresaprobados" readonly>
                            </mat-form-field>
                        </div>
                        
                    </div>
                </mat-card-content>
                <mat-card-actions align="start">
                    <button mat-button matStepperNext>Next</button>
                </mat-card-actions>
            </mat-card>
        </form>
    </mat-step>
    <form [formGroup]="formNiveles">
        <div formArrayName="niveles" fxFlex="100%">
            <div *ngFor="let niv of nivel().controls; let ni=index" fxFlex="100%">
                <mat-step [stepControl]="niv" [editable]="niv.value.isEditable">
                    <form [formGroup]="niv">
                        <ng-template matStepLabel>{{niv.value.Nombre}}</ng-template>
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="Estado" placeholder="Last name, First name" required>
                        </mat-form-field>
                        <div>
                            <button mat-raised-button color="primary">APROBAR</button>
                            <button mat-raised-button color="warn">DEVOLVER</button>
                        </div>
                    </form>
                </mat-step>
            </div>
        </div>
    </form>
</mat-horizontal-stepper>


<!--
<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>

-->