.container{
  padding-top: 5px;
}
.table-sol {
    width: 100%;
  }
  table {
    width: 100%;
  }
  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 10px;
  }
  .mat-column-tipo {   
    width: 30% !important;   
  }
  .mat-column-sucursal {   
    width: 40% !important;   
  }
  .mat-column-estado {   
    width: 20% !important;   
  }
  .mat-column-gestion {   
    width: 10% !important;   
  }
  .mat-column-upload {   
    width: 10% !important;   
  }
  .btnadd {
    position: absolute;
    right: 20px;
    top: 20px;
  }
