<mat-card>
    <mat-card-title-group>
        <mat-card-title>Valores Formiik</mat-card-title>
        <mat-card-subtitle>Los valores que se vinculan con formiik</mat-card-subtitle>
        <span *ngIf="loadResultado()"></span>
    </mat-card-title-group>

    <mat-card-content>
        <table class="striped">
            <tbody>
                <tr>
                    <td>2- Efectivo/Balance</td>
                    <td>
                        <mat-chip-list>
                            <mat-chip>${{efectivo}}</mat-chip>
                        </mat-chip-list>
                    </td>
                </tr>
                <tr>
                    <td>3- Cuentas por cobrar</td>
                    <td>
                        <mat-chip-list>
                            <mat-chip>${{totalcuentascobrar}}</mat-chip>
                        </mat-chip-list>
                    </td>
                </tr>
                <tr>
                    <td>4-Total Inventarios </td>
                    <td>
                        <mat-chip-list>
                            <mat-chip>{{totalinventarios| currency:'$' : 'symbol' : '1.0-0'}}</mat-chip>
                        </mat-chip-list>
                    </td>
                </tr>
                <tr>
                    <td>6- Total Activo fijo</td>
                    <td>
                        <mat-chip-list>
                            <mat-chip>{{totalactivosneg| currency:'$' : 'symbol' : '1.0-0'}}</mat-chip>
                        </mat-chip-list>
                    </td>
                </tr>
                <tr>
                    <td>8- Créditos con proveedores</td>
                    <td>
                        <mat-chip-list>
                            <mat-chip>${{creditosproveedores}}</mat-chip>
                        </mat-chip-list>
                    </td>
                </tr>
                <tr>
                    <td>10- Otros pasivos corrientes</td>
                    <td>
                        <mat-chip-list>
                            <mat-chip>{{otraspasivoscor| currency:'$' : 'symbol' : '1.0-0'}}</mat-chip>
                        </mat-chip-list>
                    </td>
                </tr>
                <tr>
                    <td>13- Otros pasivos no corrientes</td>
                    <td>
                        <mat-chip-list>
                            <mat-chip>{{otraspasivosNocor| currency:'$' : 'symbol' : '1.0-0'}} </mat-chip>
                        </mat-chip-list>
                    </td>
                </tr>
                <tr>
                    <td>17- Total Activos familiar </td>
                    <td>
                        <mat-chip-list>
                            <mat-chip>{{totalactivosfam | currency:'$' : 'symbol' : '1.0-0'}}</mat-chip>
                        </mat-chip-list>
                    </td>
                </tr>
                <tr>
                    <td>18- Total pasivos familiar </td>
                    <td>
                        <mat-chip-list>
                            <mat-chip>{{totalpasivosfam| currency:'$' : 'symbol' : '1.0-0'}}</mat-chip>
                        </mat-chip-list>
                    </td>
                </tr>
                <!-- comercial -->
                <ng-container *ngIf="tiposol==1">
                    <tr>
                        <td>21- Ventas de contado</td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>{{VentasContado| currency:'$' : 'symbol' : '1.0-0'}}</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td>22-Recuperación de cartera</td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>{{recuperacion| currency:'$' : 'symbol' : '1.0-0'}}</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td>23-costo de venta</td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>{{Costodeventa| currency:'$' : 'symbol' : '1.0-0'}}</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td>24-salarios</td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>${{salarios}}</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td>25-Gastos generales </td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>${{gastosgenerales}}</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td>26- Obligaciones Financieras</td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>{{obligacionesfin| currency:'$' : 'symbol' : '1.0-0'}}</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td>28- Otros ingresos familiares </td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>${{totalotrosingresosfam}}</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td>29- Gastos y obligaciones familiares</td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>{{totalgastosfam| currency:'$' : 'symbol' : '1.0-0'}}</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                </ng-container>
                <!-- agropecuario -->
                <ng-container *ngIf="tiposol==2">

                    <div style="display: none;">
                        <app-flujocaja *ngIf="tiposol" [datossol]="datasolicitud"></app-flujocaja>
                    </div>

                    <tr>
                        <td>21- Ventas de contado</td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>{{totalingreosflujo| currency:'$' : 'symbol' : '1.0-0'}}</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td>22-Recuperación de cartera</td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>{{totalrecuperacioncartera| currency:'$' : 'symbol' : '1.0-0'}}</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td>23-costo de venta</td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>{{costodeventaA| currency:'$' : 'symbol' : '1.0-0'}}</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td>24-salarios</td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>{{salariosA| currency:'$' : 'symbol' : '1.0-0'}}</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td>25-Gastos generales </td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>{{gastosGeneralesA| currency:'$' : 'symbol' : '1.0-0'}}</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td>26- Obligaciones Financieras</td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>{{obligacionesA| currency:'$' : 'symbol' : '1.0-0'}}</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td>28- Otros ingresos familiares </td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>{{otrosIngresosA| currency:'$' : 'symbol' : '1.0-0'}}</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                    <tr>
                        <td>29- Gastos y obligaciones familiares</td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>{{gastosFamiliaresA| currency:'$' : 'symbol' : '1.0-0'}}</mat-chip>
                            </mat-chip-list>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>