<!-- <button mat-raised-button color="accent" (click)="download()">Descarga provisional</button> -->
<div #reporte class="content" id="contentPDF">
    <table>
        <tr>
            <td rowspan="3" style="width: 20%;" colspan="1" align="center">
                <img src="assets/pictures/Logo.png">
            </td>
            <td rowspan="3" style="width: 60%;" align="center" colspan="3">Analisis de credito</td>
            <td align="center" style="width: 20%;" colspan="2">COL-FO-006</td>
        </tr>
        <tr>
            <td align="center" colspan="2">Versión 11</td>
        </tr>
        <tr>
            <td align="center" colspan="2">{{fechahoy}}</td>
        </tr>
    </table>

    <table>
        <tr>
            <td>Analisis de credito</td>
            <td>Solicitud</td>
            <td>{{datasolicitud.solicitud}}</td>
            <td>Fecha</td>
            <td>{{fechahoy}}</td>
        </tr>
    </table>
    <ng-container *ngIf="datasolicitud.Balance">
        <!-- encabezado balance -->
        <table>
            <thead>
                <tr>
                    <th colspan="9" align="center">Balance General</th>
                </tr>
            </thead>
            <tr>
                <td style="text-align:center">Efectivo Disponible</td>
                <td align="center" colspan="8">${{datasolicitud.Balance.efectivo}}</td>
            </tr>
            <tr>
                <td style="text-align:center">Cuentas por cobrar</td>
                <td style="text-align:center">No. clientes</td>
                <td>{{datasolicitud.Balance.clienteCobrar}}</td>
                <td style="text-align:center">Valor</td>
                <td align="right">$ {{datasolicitud.Balance.valorCobrar}}</td>
                <td style="text-align:center">Incobrable</td>
                <td align="right">$ {{datasolicitud.Balance.incobrableCobrar}}</td>
                <td style="text-align:center">Total</td>
                <td align="right">${{datasolicitud.Balance.cobrarTotal}}</td>
            </tr>
            <tr>
                <td style="text-align:center">Observaciones</td>
                <td colspan="3">{{datasolicitud.Balance.observacionesCobrar}}</td>
                <td colspan="2">Recuperación de cartera</td>
                <td align="right" colspan="3">${{datasolicitud.Balance.recuperacionCobrar}}</td>
            </tr>
        </table>
        <!-- inventario -->
        <table>
            <thead>
                <tr>
                    <th colspan=5>Inventario</th>
                </tr>
                <tr>
                    <th style="text-align:center;width: 20%">Tipo</th>
                    <th style="text-align:center;width: 30%">Descripcion</th>
                    <th style="text-align:center;width: 10%">Cantidad</th>
                    <th style="text-align:center;width: 20%">Valor U</th>
                    <th style="text-align:center;width: 20%">Valor</th>
                </tr>
            </thead>
            <tbody *ngFor="let inv of datasolicitud.Balance.inventarioRow; let cont=index">
                <tr>
                    <td *ngIf="inv.tipo">{{inv.tipo.name}}</td>
                    <td>{{inv.descripcion}}</td>
                    <td>{{inv.cantidad}}</td>
                    <td align="right"> ${{inv.vlrUni}}</td>
                    <td align="right"> ${{inv.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td style="text-align:right" colspan=5>${{datasolicitud.Balance.inventarioTotal}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- Activos Negocio -->
        <table>
            <thead>
                <tr>
                    <th colspan=5>Activos Negocio</th>
                </tr>
                <tr>
                    <th style="text-align:center;width: 20%">Tipo</th>
                    <th style="text-align:center;width: 30%">Descripcion</th>
                    <th style="text-align:center;width: 10%">Cantidad</th>
                    <th style="text-align:center;width: 20%">Valor U</th>
                    <th style="text-align:center;width: 20%">Valor</th>
                </tr>
            </thead>
            <tbody *ngFor="let act of datasolicitud.Balance.actividadNegRows; let cont=index">
                <tr>
                    <td *ngIf="act.tipo">{{act.tipo.name}}</td>
                    <td *ngIf="act.detalle">{{act.detalle}}</td>
                    <td>{{act.cantidad}}</td>
                    <td style="text-align: right;">{{act.vlrUni}}</td>
                    <td align="right">${{act.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td align="right" colspan=4>${{datasolicitud.Balance.actnegTotal}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- Activos Familiares -->
        <table>
            <thead>
                <tr>
                    <th colspan=5>Activos Familiares</th>
                </tr>
                <tr>
                    <th style="text-align:center;width: 20%">Tipo</th>
                    <th style="text-align:center;width: 30%">Descripcion</th>
                    <th style="text-align:center;width: 10%">Cantidad</th>
                    <th style="text-align:center;width: 20%">Valor U</th>
                    <th style="text-align:center;width: 20%">Valor</th>
                </tr>
            </thead>
            <tbody *ngFor="let act of datasolicitud.Balance.activosFamRows; let cont=index">
                <tr>
                    <td *ngIf="act.tipo">{{act.tipo.name}}</td>
                    <td>{{act.detalle}}</td>
                    <td>{{act.cantidad}}</td>
                    <td style="text-align: right;">{{act.vlrUni}}</td>
                    <td align="right">${{act.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td align="right" colspan=4>${{datasolicitud.Balance.actfamTotal}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- Principales inversiones -->
        <table>
            <thead>
                <tr>
                    <th colspan=4>Principales inversiones de la familia y el negocio en el último año</th>
                </tr>
                <tr>
                    <th style="text-align:center">Descripcion</th>
                    <th style="text-align:center">Mes</th>
                    <th style="text-align:center">Origen</th>
                    <th style="text-align:right">Valor</th>
                </tr>
            </thead>
            <tbody *ngFor="let inv of datasolicitud.Balance.inversiones; let cont=index">
                <tr>
                    <td>{{inv.detalle}}</td>
                    <td>{{MesNombre(inv.mes,'MesNombre')}}</td>
                    <td>{{inv.origen}}</td>
                    <td align="right">${{inv.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td align="right" colspan=3>${{datasolicitud.Balance.totalInversiones}}</td>
                </tr>
            </tfoot>
        </table>
        <!--Créditos con Fundación delamujer -->
        <table>
            <thead>
                <tr>
                    <th colspan=2>Créditos con Fundación delamujer</th>
                </tr>
                <tr>
                    <td style="text-align: center;" colspan=2>
                        <small>
                            <i>El total de otros créditos de Fundación delamujer se sumará con las cuotas de pasivos</i>
                        </small>
                    </td>
                </tr>
                <tr>
                    <th style="text-align:center">Obligación</th>
                    <th style="text-align:center">Valor</th>
                </tr>
            </thead>
            <tbody *ngFor="let cre of datasolicitud.Balance.creditos; let cont=index">
                <tr>
                    <td style="text-align:center">{{cre.obligacion}}</td>
                    <td align="right">${{cre.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td style="text-align:center">Total</td>
                    <td align="right">${{datasolicitud.Balance.totalCreditos}}</td>
                </tr>
            </tfoot>
        </table>
        <!--Créditos con proveedores -->
        <table>
            <thead>
                <tr>
                    <th colspan="6">Créditos con proveedor</th>
                </tr>
                <tr>
                    <th colspan="2">¿Cuenta actualmente con créditos con proveedores?</th>
                    <td>SI <ng-container *ngIf="datasolicitud.Balance.aplicaproveedores">X</ng-container>
                    </td>
                    <td>NO <ng-container *ngIf="!datasolicitud.Balance.aplicaproveedores">X</ng-container>
                    </td>
                    <th>Total:</th>
                    <td>${{datasolicitud.Balance.proveedoresTotal}}</td>
                </tr>
            </thead>
            <tbody *ngFor="let pro of datasolicitud.Balance.proveedoresRow; let cont=index">
                <tr>
                    <td>Proveedor</td>
                    <td colspan="2">{{pro.descripcion}}</td>
                    <td colspan="2">Valor</td>
                    <td align="right">${{pro.valor}}</td>
                </tr>
            </tbody>
        </table>
        <!-- pasivos del negocio -->
        <table>
            <thead>
                <tr>
                    <th colspan="9">Pasivos del negocio</th>
                </tr>
                <tr>
                    <th style="text-align:center">Tipo</th>
                    <th style="text-align:center">Acreedor</th>
                    <th style="text-align:center">Monto Apr</th>
                    <th style="text-align:center">Saldo Actual</th>
                    <th style="text-align:center">Plazo</th>
                    <th style="text-align:center">Destino</th>
                    <th style="text-align:center">Cuota</th>
                    <th style="text-align:center">Corriente</th>
                    <th style="text-align:center">No corriente</th>
                </tr>
            </thead>
            <tbody *ngFor="let pas of datasolicitud.Balance.pasivosRows; let cont=index">
                <tr *ngIf="pas.clase==2">
                    <td *ngIf="pas.tipo">{{pas.tipo.name}}</td>
                    <td>{{pas.acreedor}}</td>
                    <td style="text-align:right">${{pas.monto}}</td>
                    <td style="text-align:right">${{pas.saldo}}</td>
                    <td style="text-align:center">{{pas.cuota}} / {{pas.plazo}}</td>
                    <td>{{pas.destino}}</td>
                    <td style="text-align:right">${{pas.valor}}</td>
                    <td style="text-align:right">${{pas.corrienteN}}</td>
                    <td style="text-align:right">${{pas.nocorrienteN}}</td>
                </tr>
                <ng-container *ngIf="pas.clase==0">
                    <tr *ngIf="pas.negociovivienda">
                        <td *ngIf="pas.tipo">{{pas.tipo.name}}</td>
                        <td>{{pas.acreedor}}</td>
                        <td style="text-align:right">${{pas.saldoN}}</td>
                        <td style="text-align:right">${{pas.montoN}}</td>
                        <td style="text-align:center">{{pas.cuota}} / {{pas.plazo}}</td>
                        <td>{{pas.destino}}</td>
                        <td style="text-align:right">${{pas.valor}}</td>
                        <td style="text-align:right">${{pas.corrienteN}}</td>
                        <td style="text-align:right">${{pas.nocorrienteN}}</td>
                    </tr>
                </ng-container>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">Total</td>
                    <td style="text-align:right">{{datasolicitud.Balance.tcuotan | currency:'$': 'symbol' : '1.0-0' }}
                    </td>
                    <td style="text-align:right">{{datasolicitud.Balance.tcorrienten | currency:'$': 'symbol' :
                        '1.0-0'}} </td>
                    <td style="text-align:right">{{datasolicitud.Balance.tnocorrienten| currency:'$': 'symbol' :
                        '1.0-0'}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- pasivos de la familia -->
        <table>
            <thead>
                <tr>
                    <th colspan="9">Pasivos de la familia</th>
                </tr>
                <tr>
                    <th style="text-align:center">Tipo</th>
                    <th style="text-align:center">Acreedor</th>
                    <th style="text-align:center">Monto Apr</th>
                    <th style="text-align:center">Saldo Actual</th>
                    <th style="text-align:center">Plazo</th>
                    <th style="text-align:center">Destino</th>
                    <th style="text-align:center">Cuota</th>
                    <th style="text-align:center">Corriente</th>
                    <th style="text-align:center">No corriente</th>
                </tr>
            </thead>
            <tbody *ngFor="let pas of datasolicitud.Balance.pasivosRows; let cont=index">
                <tr *ngIf="pas.clase==1">
                    <td *ngIf="pas.tipo">{{pas.tipo.name}}</td>
                    <td>{{pas.acreedor}}</td>
                    <td style="text-align:right">${{pas.monto}}</td>
                    <td style="text-align:right">${{pas.saldo}}</td>
                    <td style="text-align:center">{{pas.cuota}} / {{pas.plazo}}</td>
                    <td>{{pas.destino}}</td>
                    <td style="text-align:right">${{pas.valor}}</td>
                    <td style="text-align:right">${{pas.corrienteF}}</td>
                    <td style="text-align:right">${{pas.nocorrienteF}}</td>
                </tr>
                <ng-container *ngIf="pas.clase==0">
                    <tr>
                        <td *ngIf="pas.tipo">{{pas.tipo.name}}</td>
                        <td>{{pas.acreedor}}</td>
                        <td style="text-align:right">${{pas.saldoF}}</td>
                        <td style="text-align:right">${{pas.montoF}}</td>
                        <td style="text-align:center">{{pas.cuota}} / {{pas.plazo}}</td>
                        <td>{{pas.destino}}</td>
                        <td style="text-align:right">${{pas.valor}}</td>
                        <td style="text-align:right">${{pas.corrienteF}}</td>
                        <td style="text-align:right">${{pas.nocorrienteF}}</td>
                    </tr>
                </ng-container>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">Total</td>
                    <td style="text-align:right">{{datasolicitud.Balance.tcuotaf | currency:'$': 'symbol' : '1.0-0'}}
                    </td>
                    <td style="text-align:right">{{datasolicitud.Balance.tcorrientef | currency:'$': 'symbol' :
                        '1.0-0'}}</td>
                    <td style="text-align:right">{{datasolicitud.Balance.tnocorrientef | currency:'$': 'symbol' :
                        '1.0-0'}}</td>
                </tr>
            </tfoot>
        </table>

    </ng-container>
    <ng-container *ngIf="datasolicitud.Gastos">
        <!-- gatos del negocio -->
        <table>
            <thead>
                <tr>
                    <th colspan="9">Gastos del Negocio</th>
                </tr>
                <tr>
                    <th>Alquiler</th>
                    <th>Servicios</th>
                    <th>Transporte</th>
                    <th>Flete</th>
                    <th>Impuestos</th>
                    <th>Mantenimiento</th>
                    <th>Imprevistos</th>
                    <th>Otros</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="datasolicitud.Gastos">
                    <tr>
                        <td style="text-align:right">${{datasolicitud.Gastos.alquilerN}}</td>
                        <td style="text-align:right">${{datasolicitud.Gastos.serviciosN}}</td>
                        <td style="text-align:right">${{datasolicitud.Gastos.transporteN}}</td>
                        <td style="text-align:right">${{datasolicitud.Gastos.fletesN}}</td>
                        <td style="text-align:right">${{datasolicitud.Gastos.impuestosN}}</td>
                        <td style="text-align:right">${{datasolicitud.Gastos.mantenimientoN}}</td>
                        <td style="text-align:right">${{datasolicitud.Gastos.imprevistosN}}</td>
                        <td style="text-align:right">${{datasolicitud.Gastos.otrosN}}</td>
                        <td style="text-align:right">${{datasolicitud.Gastos.totalN}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <!-- gatos de la familia -->
        <table>
            <thead>
                <tr>
                    <th colspan="10">Gastos de la Familia</th>
                </tr>
                <tr>
                    <th>Arriendo</th>
                    <th>Alimentación</th>
                    <th>Educación</th>
                    <th>Vestuario</th>
                    <th>Salud</th>
                    <th>Transporte</th>
                    <th>Servicios</th>
                    <th>Entretanimiento</th>
                    <th>Otros</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>${{datasolicitud.Gastos.arriendoF}}</td>
                    <td>${{datasolicitud.Gastos.alimentacionF}}</td>
                    <td>${{datasolicitud.Gastos.educacionF}}</td>
                    <td>${{datasolicitud.Gastos.vestuarioF}}</td>
                    <td>${{datasolicitud.Gastos.saludF}}</td>
                    <td>${{datasolicitud.Gastos.transporteF}}</td>
                    <td>${{datasolicitud.Gastos.serviciosF}}</td>
                    <td>${{datasolicitud.Gastos.entretenimientoF}}</td>
                    <td>${{datasolicitud.Gastos.otrosF}}</td>
                    <td>${{datasolicitud.Gastos.totalF}}</td>
                </tr>
            </tbody>
        </table>
        <!-- Remuneración de personal -->
        <table>
            <thead>
                <tr>
                    <th colspan="2">Remuneración de personal</th>
                </tr>
                <tr>
                    <th style="text-align:center">Cargo</th>
                    <th style="text-align:center">Cantidad</th>
                    <th style="text-align:center">Valor Unitario</th>
                    <th style="text-align:center">Valor</th>

                </tr>
            </thead>
            <tbody *ngFor="let rem of datasolicitud.Gastos.remuneracionRow; let cont=index">
                <tr>
                    <td>{{rem.cargo}}</td>
                    <td>{{rem.cantidad}}</td>
                    <td>{{rem.valoru}}</td>
                    <td style="text-align:right">${{rem.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td align="right" colspan=3>${{datasolicitud.Gastos.totalRemuneracion}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- Otros Ingresos Familiares -->
        <table>
            <thead>
                <tr>
                    <th colspan="3">Otros Ingresos Familiares</th>
                </tr>
                <tr>
                    <th style="text-align:center">Concepto</th>
                    <th style="text-align:center">Valor</th>
                    <th style="text-align:center">Observacion</th>
                </tr>
            </thead>
            <tbody *ngFor="let otr of datasolicitud.Gastos.otrosIngresosRow; let cont=index">
                <tr>
                    <td>{{TipoIngreso(otr.ingreso,'tipoingreso')}}</td>
                    <td style="text-align:right">${{otr.valor}}</td>
                    <td>{{otr.observacion}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td style="text-align:right" colspan="2">${{datasolicitud.Gastos.totalOtros}}</td>
                </tr>
            </tfoot>
        </table>
    </ng-container>
    <mat-divider></mat-divider><br>
    <div *ngFor="let act of datasolicitud.Cruces" id="actividades">
        <!-- encabezdo -->
        <table>
            <tr>
                <td style="text-align:center">
                    <ng-container [ngSwitch]="act.tipo">
                        <ng-container *ngSwitchCase="1">
                            <mat-icon>point_of_sale</mat-icon>
                        </ng-container>
                        <ng-container *ngSwitchCase="2">
                            <mat-icon>construction</mat-icon>
                        </ng-container>
                        <ng-container *ngSwitchCase="3">
                            <mat-icon>emoji_people</mat-icon>
                        </ng-container>
                        <ng-container *ngSwitchCase="4">
                            <mat-icon>apartment</mat-icon>
                        </ng-container>
                    </ng-container>
                </td>
                <th style="text-align:center">
                    Actividad
                    <ng-container [ngSwitch]="act.tipo">
                        <ng-container *ngSwitchCase="1">
                            Comercial
                        </ng-container>
                        <ng-container *ngSwitchCase="2">
                            de Produccion
                        </ng-container>
                        <ng-container *ngSwitchCase="3">
                            de Servicios
                        </ng-container>
                        <ng-container *ngSwitchCase="4">
                            Arriendos
                        </ng-container>
                    </ng-container>

                </th>
                <td style="text-align:center">{{act.nombre}}</td>
            </tr>
        </table>

        <ng-container *ngIf="act.tipo !=4">

            <h3>Cruce #1 Ventas B R M</h3>
            <table>
                <tr>
                    <td colspan="4" style="text-align:center">Ventas</td>
                    <td colspan="2" style="text-align:center">Dias</td>
                    <td colspan="2" style="text-align:center">Numero</td>
                    <td colspan="2" style="text-align:center">Total</td>
                </tr>
                <tr>
                    <th colspan="2" style="text-align:center">Buenas</th>
                    <td colspan="2">{{diaNombre(act.diasB,act.periodoventas)}}</td>
                    <td colspan="2">{{act.diasB.length}}</td>
                    <td colspan="2" style="text-align:right">${{act.valorB}}</td>
                    <td colspan="2" style="text-align:right">${{act.totalB}}</td>
                </tr>
                <tr *ngIf="act.periodoventas != 3">
                    <th colspan="2" style="text-align:center">Regulares</th>
                    <td colspan="2">{{diaNombre(act.diasR,act.periodoventas)}}</td>
                    <td colspan="2">{{act.diasR.length}}</td>
                    <td colspan="2" style="text-align:right">${{act.valorR}}</td>
                    <td colspan="2" style="text-align:right">${{act.totalR}}</td>
                </tr>
                <tr>
                    <th colspan="2" style="text-align:center">Malas</th>
                    <td colspan="2">{{diaNombre(act.diasM,act.periodoventas)}}</td>
                    <td colspan="2">{{act.diasM.length}}</td>
                    <td colspan="2" style="text-align:right">${{act.valorM}}</td>
                    <td colspan="2" style="text-align:right">${{act.totalM}}</td>
                </tr>
                <tr>
                    <th colspan="2">Total</th>
                    <td style="text-align:right" colspan="7">${{act.totalVentas}}</td>
                </tr>
                <tr>
                    <th>Promedio</th>
                    <td style="text-align:right">{{act.promedio}}</td>
                    <th style="text-align:center">Dias</th>
                    <td style="text-align:center">{{act.totalDias}}</td>
                    <th style="text-align:center">Total Promedio</th>
                    <td colspan="4" style="text-align:right">${{act.totalPromedio}}</td>
                </tr>
            </table>

            <h3>Cruce #2</h3>
            <ng-container *ngIf="act.ventasHis">
                <table>
                    <thead>
                        <tr>
                            <ng-container *ngIf="act.periodohistoricas">
                                <th colspan=2>Ventas Historicas {{act.periodohistoricas.name}}</th>
                            </ng-container>
                        </tr>
                        <tr>
                            <th style="text-align:center">{{act.periodohistoricas.name}}</th>
                            <th style="text-align:center">Valor</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let his of act.ventasHis; let cont=index">
                        <tr>
                            <td>{{his.dia}}</td>
                            <td style="text-align:right"> ${{his.valor}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td style="text-align:right">${{act.totalVentasHis}}</td>
                        </tr>
                    </tfoot>

                </table>

            </ng-container>

            <ng-container *ngIf="act.tipo ==2">
                <table>
                    <thead>
                        <tr>
                            <th colspan="4">Producción</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">Nombre</th>
                            <th style="text-align:center">Cantidad</th>
                            <th style="text-align:center">Frecuencia</th>
                            <th style="text-align:center">Valor</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let prod of act.produccion">
                        <tr>
                            <td>{{prod.nombre}}</td>
                            <td>{{prod.cantidad}}</td>
                            <td>
                                <ng-container *ngIf="prod.frecuencia"> {{prod.frecuencia.name}}</ng-container>
                            </td>
                            <td>${{prod.valor}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">Total</td>
                            <td>${{act.totalProduccion}}</td>
                        </tr>
                    </tfoot>
                </table>
            </ng-container>

            <h3>Cruce #3</h3>
            <ng-container *ngIf="act.tipo ==1">
                <!-- costo de venta -->
                <table>
                    <thead>
                        <tr>
                            <th colspan="5">
                                Costo de venta
                            </th>
                        </tr>
                        <tr>
                            <th>Producto</th>
                            <th>Precio Compra</th>
                            <th>Precio Venta</th>
                            <th>%Participación</th>
                            <th>Margen</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let cos of act.costoventa; let cont=index">
                        <tr>
                            <td style="text-align:center"> {{cos.nombre}}</td>
                            <td style="text-align:right">${{cos.precioCompra}}</td>
                            <td style="text-align:right">${{cos.precioVenta}}</td>
                            <td style="text-align:center">{{cos.participacion}} %</td>
                            <td style="text-align:center">{{cos.porcentaje}} %</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">Margen Total</td>
                            <td style="text-align:center">{{act.margen}}%</td>
                        </tr>
                    </tfoot>
                </table>
            </ng-container>
            <!-- materia prima -->
            <ng-container *ngIf="act.tipo ==2">

                <!-- materia prima -->
                <table>
                    <thead>
                        <tr>
                            <th [attr.colspan]="act.materiaprima.length + 1">Costo de Venta</th>
                        </tr>
                        <tr>
                            <th>Nombre Producto</th>
                            <td style="text-align: center;" *ngFor="let item of act.materiaprima">
                                {{item.producto}}
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Materia Prima 1</td>
                            <td *ngFor="let item of act.materiaprima">
                                <div style="float: left;">{{item.materiaprimapri}}</div>
                                <div style="float: right;">${{item.valorMatPri}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Materia Prima 2</td>
                            <td *ngFor="let item of act.materiaprima">
                                <div style="float: left;">{{item.matPrima2}}</div>
                                <div style="float: right;">${{item.valorMatPri2}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Materia Prima 3</td>
                            <td *ngFor="let item of act.materiaprima">
                                <div style="float: left;">{{item.matPrima3}}</div>
                                <div style="float: right;">${{item.valorMatPri3}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Materia Prima 4</td>
                            <td *ngFor="let item of act.materiaprima">
                                <div style="float: left;">{{item.matPrima4}}</div>
                                <div style="float: right;">${{item.valorMatPri4}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Materia Prima 5</td>
                            <td *ngFor="let item of act.materiaprima">
                                <div style="float: left;">{{item.matPrima5}}</div>
                                <div style="float: right;">${{item.valorMatPri5}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Mano de Obra</td>
                            <td *ngFor="let item of act.materiaprima">
                                <div style="float: right;">${{item.valorMao}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>CIF</td>
                            <td *ngFor="let item of act.materiaprima">
                                <div style="float: right;">${{item.valorCif}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Precio de venta</td>
                            <td *ngFor="let item of act.materiaprima">
                                <div style="float: right;">${{item.precioVenta}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Cantidad</td>
                            <td *ngFor="let item of act.materiaprima">
                                <div style="float: right;">{{item.cantidad}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Precio de Compra</td>
                            <td *ngFor="let item of act.materiaprima">
                                <div style="float: right;">${{item.precioCompra}}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Participacion</td>
                            <td style="text-align: center;" *ngFor="let item of act.materiaprima">
                                {{item.participacion}} %
                            </td>
                        </tr>
                        <tr>
                            <td>Margen de Utilidad</td>
                            <td style="text-align: center;" *ngFor="let item of act.materiaprima">
                                {{item.porcentaje}} %
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- materia prima -->
                <table>
                    <thead>
                        <tr>
                            <th colspan="6">Materia Prima</th>
                        </tr>
                        <tr>
                            <th>Unidad</th>
                            <th>Cantidad</th>
                            <th>Frecuencia</th>
                            <th>Materia Prima</th>
                            <th>Valor Unitario</th>
                            <th>Valor Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{act.rendUnidad}}</td>
                            <td>{{act.rendCantidad}}</td>
                            <td *ngIf="act.rendFrecuencia">{{act.rendFrecuencia.name}}</td>
                            <td>{{act.rendMateriaprima}}</td>
                            <td style="text-align: right;">${{act.rendValorU}}</td>
                            <td style="text-align: right;">${{act.rendValorT}}</td>
                        </tr>
                    </tbody>
                </table>

            </ng-container>
        </ng-container>

        <!-- ventas maximas -->
        <table>
            <thead>
                <tr>
                    <th colspan="5">
                        <ng-container *ngIf="act.tipo ==4">
                            Arriendos
                        </ng-container>
                        <ng-container *ngIf="act.tipo ==3">
                            Servicios
                        </ng-container>
                        <ng-container *ngIf="act.tipo ==2">
                            Compras
                        </ng-container>
                        <ng-container *ngIf="act.tipo ==1">
                            Ventas Maximas
                        </ng-container>

                    </th>
                </tr>
                <tr>
                    <th>Cantidad</th>
                    <th>Descripcion</th>
                    <th>Frecuencia</th>
                    <th>Valor Unitario</th>
                    <th>Valor Total</th>
                </tr>
            </thead>
            <tbody *ngFor="let con of act.compras; let cont=index">
                <tr>
                    <td>{{con.cantidad}}</td>
                    <td>{{con.descripcion}}</td>
                    <td *ngIf="con.frecuencia">{{con.frecuencia.name}}</td>
                    <td style="text-align:right">${{con.valor}}</td>
                    <td style="text-align:right">${{con.total}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2">Total</th>
                    <td colspan="3" style="text-align:right">${{act.totalCompras}}</td>
                </tr>
                <tr>
                    <th colspan="2">%Costo</th>
                    <td colspan="3" style="text-align:right">{{act.costo}}%</td>
                </tr>
                <tr>
                    <th colspan="2">Total Cruce</th>
                    <td colspan="3" style="text-align:right">{{act.totalCruce3 | currency:'$': 'symbol' : '1.0-0' }}
                    </td>
                </tr>
            </tfoot>
        </table>
        <mat-divider></mat-divider>
        <br>
    </div>

</div>