table,
td,
th {
  border: 1px solid rgb(104, 104, 104);
}

table {
  page-break-inside: auto
}

tr {
  page-break-inside: avoid;
  page-break-after: auto
}

th {
  background-color: rgb(194, 194, 194);
  color: #313131;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
  margin-bottom: 15px;
}

.content {
  width: 1003px;
}
