<form [formGroup]="propuestaForm">
    <mat-card class="mat-card-content">
        <mat-card-header>
            <mat-card-title>Monto y destino de crédito</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row wrap">
                <div class="gr" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Monto Recomendado" id="monto"
                            formControlName="montorecomendado" autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="gr" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                    Plazo: <span>{{propuestaForm.value.plazo}}</span> meses
                    <mat-slider thumbLabel formControlName="plazo" min="6" max="60" step="1">
                    </mat-slider>
                </div>
                <div class="gr" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                    <b>Activo Fijo</b>
                </div>
                <div class="gr" fxFlex="60%" fxFlex.xs="60%" fxFlex.sm="60%">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Detalle" autocomplete="off" formControlName="detalle">
                    </mat-form-field>
                </div>
                <div class="gr" fxFlex="40%" fxFlex.xs="40%" fxFlex.sm="40%">
                    <mat-form-field>
                        <input type="tel" matInput placeholder="Valor" autocomplete="off" formControlName="valor">
                    </mat-form-field>
                </div>
                <div class="gr" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                    <b>Capital de trabajo</b>
                </div>
                <div class="gr" fxFlex="60%" fxFlex.xs="60%" fxFlex.sm="60%">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Detalle" formControlName="detallecapital">
                    </mat-form-field>
                </div>
                <div class="gr" fxFlex="40%" fxFlex.xs="40%" fxFlex.sm="40%">
                    <mat-form-field>
                        <input type="tel" matInput placeholder="Valor capital" formControlName="valorcapital">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card class="mat-card-content">
        <mat-card-content>
            <div fxLayout="row wrap">
                <div class="gr" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                    <b>Propuesta de crédito</b>
                </div>
                <mat-radio-group fxLayout="row wrap" class="radio-group" formControlName="tipocuota">
                    <mat-radio-button fxFlex="80%" fxFlex.xs="70%" class="radio-button" value="1">
                        Cuota fija
                    </mat-radio-button>
                    <mat-radio-button fxFlex="20%" fxFlex.xs="30%" class="radio-button" value="2">
                        Cuota Irregular
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </mat-card-content>
    </mat-card>

    <ng-container *ngIf="propuestaForm.value.tipocuota==1">
        <mat-card class="mat-card-content">
            <mat-card-header>
                <mat-card-title>Cuota Fija</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="row wrap">
                    <div class="gr" fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="50%">
                        <mat-form-field>
                            <mat-label>Forma Pago</mat-label>
                            <mat-select formControlName="formapgo" required>
                                <mat-option>-Seleccione-</mat-option>
                                <mat-option *ngFor="let pe of periodo" [value]="pe">
                                    {{pe.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="gr" fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="50%">
                        <mat-form-field>
                            <input type="tel" matInput placeholder="Valor Cuota" formControlName="valorcouta"
                                autocomplete="off">
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </ng-container>

    <ng-container *ngIf="propuestaForm.value.tipocuota==2">

        <mat-card class="mat-card-content">
            <mat-card-header>
                <mat-card-title>Cuota Irregular</mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <div fxLayout="row wrap">
                    <div class="gr" fxFlex="80%" fxFlex.xs="80%" fxFlex.sm="80%">
                        <mat-form-field>
                            <input type="number" matInput placeholder="Numero Cuotas" formControlName="numerocuotas"
                                autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="gr" fxFlex="20%" fxFlex.xs="20%" fxFlex.sm="20%">
                        <button mat-mini-fab color="primary"
                            (click)="initCuotas(propuestaForm.value.numerocuotas,propuestaForm.value.plazo)">
                            <mat-icon>expand_more</mat-icon>
                        </button>
                    </div>


                    <div formArrayName="irregular" class="alternate">
                        <div fxLayout="row wrap" class="content"
                            *ngFor="let itemrow of cuotas().controls; let inv=index" [formGroupName]="inv">

                            <div class="gr" fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="50%">
                                <mat-form-field>
                                    <mat-label>Fecha Pago</mat-label>
                                    <input matInput [matDatepicker]="fechacuota" autocomplete="off"
                                        formControlName="fechacuota" [min]="minDate">
                                    <mat-datepicker-toggle matSuffix [for]="fechacuota"></mat-datepicker-toggle>
                                    <mat-datepicker #fechacuota disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="gr" fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="50%">
                                <mat-form-field>
                                    <input type="tel" matInput placeholder="Valor Cuota" formControlName="valorcuota"
                                        autocomplete="off">
                                </mat-form-field>
                            </div>

                        </div>
                    </div>

                </div>

            </mat-card-content>
        </mat-card>
    </ng-container>

</form>