<form [formGroup]="ubicacionForm">
    <mat-card class="mat-card-fases">
        <mat-card-header>
            <mat-card-title>Ubicacion</mat-card-title>
            <mat-card-subtitle>Descripcion de la ubicacion del terreno</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row wrap">
                <div class="gr" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                    Duracion del Recorrido
                </div>
                <div class="gr" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="25%">
                    <mat-form-field appearance="outline">
                        <mat-label>Hora</mat-label>
                        <input type="number" matInput placeholder="Hora" id="tiempohora" formControlName="tiempohora">
                        <mat-icon matSuffix>access_time</mat-icon>
                    </mat-form-field>
                </div>
                <div class="gr" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="25%">
                    <mat-form-field appearance="outline">
                        <mat-label>Minutos</mat-label>
                        <input type="number" matInput placeholder="Minuto" id="tiempomin" formControlName="tiempomin">
                        <mat-icon matSuffix>access_time</mat-icon>
                    </mat-form-field>
                </div>
                <div class="gr" fxFlex="33%" fxFlex.xs="33%" fxFlex.sm="25%">
                    <mat-form-field appearance="outline">
                        <mat-label>Segundos</mat-label>
                        <input type="number" matInput placeholder="Segundo" id="tiemposeg" formControlName="tiemposeg">
                        <mat-icon matSuffix>access_time</mat-icon>
                    </mat-form-field>
                </div>
                <div class="gr" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="25%">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Punto de partida" id="puntopartida"
                            formControlName="puntopartida">
                    </mat-form-field>
                </div>
                <div class="gr" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="25%">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Descripcion punto partida" id="descripcionppartida-"
                            formControlName="descripcionppartida">
                    </mat-form-field>
                </div>
                <div class="gr" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="25%">
                    <ng-container *ngIf="ubicacionForm.controls.fotoppartida.value == ''">
                        <mat-form-field>
                            <div class="myfilebrowser">
                                <mat-toolbar>
                                    <input matInput value="{{myfilename1}}" readonly formControlName="fotoppartida" />
                                    <button mat-mini-fab color="accent" aria-label="Fotico">
                                        <mat-icon>camera_alt</mat-icon>
                                    </button>
                                </mat-toolbar>
                                <input type="file" #UploadFileInput1 id="fileUpload1"
                                    (change)="fileChangeEvent1($event)" name="fileUpload1"
                                    accept="image/x-png,image/jpeg,image/gif" />
                            </div>
                        </mat-form-field>
                    </ng-container>
                    <ng-container *ngIf="ubicacionForm.controls.fotoppartida.value != ''">
                        <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
                            <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                                <mat-card class="mat-elevation-z4">
                                    <mat-card-header>
                                        <mat-card-title>{{ubicacionForm.controls.puntopartida.value}}</mat-card-title>
                                    </mat-card-header>
                                    <img mat-card-image [src]="transform(ubicacionForm.controls.fotoppartida.value)">
                                    <mat-card-content>
                                        <p>
                                            {{ubicacionForm.controls.descripcionppartida.value}}
                                        </p>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button (click)="quitar1()" mat-button>Quitar</button>
                                    </mat-card-actions>
                                </mat-card>
                            </div>
                        </div>
                    </ng-container>

                </div>
                <div class="gr" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="25%">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Punto de Llegada" id="puntollegada"
                            formControlName="puntollegada">
                    </mat-form-field>
                </div>
                <div class="gr" fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="25%">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Descripcion punto llegada" id="descripcionpllegada-"
                            formControlName="descripcionpllegada">
                    </mat-form-field>
                </div>
                <div class="gr" fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="25%">
                    <ng-container *ngIf="ubicacionForm.controls.fotopllegada.value == ''">
                        <mat-form-field>
                            <div class="myfilebrowser">
                                <mat-toolbar>
                                    <input matInput value="{{myfilename2}}" readonly formControlName="fotopllegada" />
                                    <button mat-mini-fab color="accent" aria-label="Fotico">
                                        <mat-icon>camera_alt</mat-icon>
                                    </button>
                                </mat-toolbar>
                                <input type="file" #UploadFileInput id="fileUpload" (change)="fileChangeEvent2($event)"
                                    name="fileUpload" multiple="multiple" accept="image/x-png,image/jpeg,image/gif" />
                            </div>
                        </mat-form-field>
                    </ng-container>
                    <ng-container *ngIf="ubicacionForm.controls.fotopllegada.value != ''">

                        <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
                            <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%">
                                <mat-card class="mat-elevation-z4">
                                    <mat-card-header>
                                        <mat-card-title>{{ubicacionForm.controls.puntollegada.value}}</mat-card-title>
                                    </mat-card-header>
                                    <img mat-card-image [src]="transform(ubicacionForm.controls.fotopllegada.value)">
                                    <mat-card-content>
                                        <p>
                                            {{ubicacionForm.controls.descripcionpllegada.value}}
                                        </p>
                                    </mat-card-content>
                                    <mat-card-actions>
                                        <button (click)="quitar2()" mat-button>Quitar</button>
                                    </mat-card-actions>
                                </mat-card>

                            </div>
                        </div>
                    </ng-container>
                   
                </div>
            </div>
        </mat-card-content>
    </mat-card>

</form>