<form [formGroup]="inventarioForm" (ngSubmit)="onSubmit(inventarioForm.value)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Inventario</mat-card-title>
      <mat-card-subtitle>inventario</mat-card-subtitle>
      <mat-chip-list class="pull-right">
        <mat-chip color="accent" selected>{{summed}}</mat-chip>
      </mat-chip-list>
    </mat-card-header>
    <mat-card-content>
      <input readonly style="display: none;" formControlName="summed" />
      <div formArrayName="itemRows" class="alternate">
        <div fxLayout="row wrap" class="contentinventario" *ngFor="let itemrow of inventarioForm.controls.itemRows['controls']; let i=index"
          [formGroupName]="i">

          <div class="gr" fxFlex="20%" fxFlex.xs="55%" fxFlex.sm="33%">
            <mat-form-field>
              <mat-label>Tipo</mat-label>
              <mat-select formControlName="tipo" id="tipo{{i}}" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let tip of tipoInventario" [value]="tip">
                  {{tip.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="gr" fxFlex="10%" fxFlex.xs="30%" fxFlex.sm="33%">
            <mat-form-field>
              <input type="number" matInput placeholder="Cantidad" id="cantidad{{i}}" formControlName="cantidad">
            </mat-form-field>
          </div>

          <div class="gr" fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-form-field>
              <input type="text" matInput placeholder="descripcion" id="descripcion{{i}}" formControlName="descripcion">
            </mat-form-field>
          </div>
          <div class="gr" fxFlex="15%" fxFlex.xs="70%" fxFlex.sm="33%">
            <mat-form-field>
              <input pattern="[0-9]" matInput placeholder="Valor" id="valor{{i}}" formControlName="valor">
            </mat-form-field>
          </div>
          <div class="gr" fxFlex="10%" fxFlex.xs="10%" fxFlex.sm="10%">
            <button mat-fab type="button" color="warn" mat-mini-fab (click)="deleteRow(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>     
        </div>
      </div>
      <button mat-fab aria-label="add" mat-mini-fab class="btnadd" type="button" color="accent" (click)="addNewRow()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
  <!--<button mat-raised-button type="submit" color="primary">Guardar</button>-->
</form>

