<form [formGroup]="nivelForm" (ngSubmit)="onSave()">
    <div fxLayout="row wrap">

        <div class="gr" fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="50%">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input type="text" matInput placeholder="Nombre" formControlName="nombre">
            </mat-form-field>
        </div>
        <div class="gr" fxFlex="50%" fxFlex.xs="50%" fxFlex.sm="50%">
            <mat-form-field appearance="outline">
                <mat-label>Flujo</mat-label>
                <mat-select formControlName="flujo" [compareWith]="compareFunction">
                    <mat-option disabled>Seleccione </mat-option>
                    <mat-option *ngFor="let fl of aFlujo" [value]="fl">
                        {{fl.Nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="gr" fxFlex="80%" fxFlex.xs="80%" fxFlex.sm="80%">
            <mat-form-field appearance="outline">
                <mat-label>Seleccione Responsable</mat-label>
                <mat-select formControlName="rol" placeholder="">
                    <mat-option disabled>Seleccione </mat-option>
                    <mat-option *ngFor="let ro of aRol" [value]="ro">
                        {{ro.Nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="gr" fxFlex="20%" fxFlex.xs="20%" fxFlex.sm="20%">
            <mat-form-field appearance="outline">
                <mat-label>Orden</mat-label>
                <input type="number" readonly matInput placeholder="Orden" formControlName="orden">
            </mat-form-field>
        </div>

        <br>
        <div class="btnsoli" fxFlex="40%" fxFlex.xs="40%" fxFlex.sm="40%">
            <button type="submit" mat-raised-button [disabled]="!nivelForm.valid" color="primary">Guardar</button>
        </div>
        <div class="btnsoli" fxFlex="40%" fxFlex.xs="40%" fxFlex.sm="40%">
            <button mat-raised-button color="accent" mat-dialog-close>Cerrar</button>
        </div>
    </div>
</form>