table, td, th {
    border: 1px solid black;
  }  
  th{
    background-color: rebeccapurple;
    color: #FFFFFF;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .mediod{
    width: 50%;
    float: right;
    margin-bottom: 15px;
  }
  .medioi{
    width: 47%;
    margin-right: 5px;
    float: left;
    margin-bottom: 15px;
  }

  .content{
    width:1003px;
  }