<!-- <button mat-raised-button color="accent" (click)="download()">Descarga provisional</button> -->
<div #reporte class="content" id="contentPDF">
    <table>
        <tr>
            <td rowspan="3" style="width: 30px;" colspan="1" align="center">
                <img src="assets/pictures/Logo.png">
            </td>
            <td rowspan="3" align="center" colspan="3">Analisis de credito</td>
            <td align="center" colspan="2">COL-FO-006</td>
        </tr>
        <tr>
            <td align="center" colspan="2">Versión 11</td>
        </tr>
        <tr>
            <td align="center" colspan="2">{{fechahoy}}</td>
        </tr>
    </table>

    <table>
        <tr>
            <td>Analisis de credito</td>
            <td>Solicitud</td>
            <td>{{datasolicitud.solicitud}}</td>
            <td>Fecha</td>
            <td>{{fechahoy}}</td>
        </tr>
    </table>
    <ng-container *ngIf="datasolicitud.Balance">
        <table>
            <thead>
                <tr>
                    <th colspan="7" align="center">Balance General</th>
                </tr>
            </thead>
            <tr>
                <td>Efectivo Disponible</td>
                <td align="center" colspan="6">${{datasolicitud.Balance.efectivo}}</td>
            </tr>
            <tr>
                <td rowspan="2">Cuentas por cobrar</td>
                <td>No. clientes</td>
                <td>{{datasolicitud.Balance.clienteCobrar}}</td>
                <td>Valor</td>
                <td align="right">$ {{datasolicitud.Balance.valorCobrar}}</td>
                <td>Incobrable</td>
                <td align="right">$ {{datasolicitud.Balance.incobrableCobrar}}</td>
            </tr>
            <tr>
                <td>Observacion</td>
                <td colspan="3">{{datasolicitud.Balance.observacionesCobrar}}</td>
                <td>Total</td>
                <td align="right">${{datasolicitud.Balance.cobrarTotal}}</td>
            </tr>
        </table>
        <!-- inventario -->
        <table>
            <thead>
                <tr>
                    <th colspan=4>Inventario</th>
                </tr>
                <tr>
                    <th style="text-align:center">Cantidad</th>
                    <th style="text-align:center">Descripcion</th>
                    <th style="text-align:center">Tipo</th>
                    <th style="text-align:center">Valor</th>
                </tr>
            </thead>
            <tbody *ngFor="let inv of datasolicitud.Balance.inventarioRow; let cont=index">
                <tr>
                    <td>{{inv.cantidad}}</td>
                    <td>{{inv.descripcion}}</td>
                    <td>{{inv.tipo}}</td>
                    <td align="right"> ${{inv.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td colspan=3>${{datasolicitud.Balance.inventarioTotal}}</td>
                </tr>
            </tfoot>
        </table>
        <!-- Activos Negocio -->
        <div class="medioi">
            <table>
                <thead>
                    <tr>
                        <th colspan=4>Activos Negocio</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Descripcion</th>
                        <th style="text-align:center">Tipo</th>
                        <th style="text-align:center">Valor</th>
                    </tr>
                </thead>
                <tbody *ngFor="let act of datasolicitud.Balance.actividadNegRows; let cont=index">
                    <tr>
                        <td>{{act.detalle}}</td>
                        <td>{{act.tipo.name}}</td>
                        <td align="right">${{act.valor}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td align="right" colspan=3>${{datasolicitud.Balance.actnegTotal}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- Activos Familiares -->
        <div class="mediod">
            <table>
                <thead>
                    <tr>
                        <th colspan=4>Activos Familiares</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Tipo</th>
                        <th style="text-align:center">Detalle</th>
                        <th style="text-align:center">Valor</th>
                    </tr>
                </thead>
                <tbody *ngFor="let inv of datasolicitud.Balance.activosFamRows; let cont=index">
                    <tr>
                        <td>{{inv.tipo.name}}</td>
                        <td>{{inv.detalle}}</td>
                        <td align="right">${{inv.valor}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td align="right" colspan=3>${{datasolicitud.Balance.inventarioTotal}}</td>
                    </tr>
                </tfoot>
            </table>

        </div>
        <!-- Principales inversiones -->
        <table>
            <thead>
                <tr>
                    <th colspan=4>Principales inversiones de la familia y el negocio en el último año</th>
                </tr>
                <tr>
                    <th style="text-align:center">Descripcion</th>
                    <th style="text-align:center">Mes</th>
                    <th style="text-align:center">Origen</th>
                    <th style="text-align:right">Valor</th>
                </tr>
            </thead>
            <tbody *ngFor="let inv of datasolicitud.Balance.inversiones; let cont=index">
                <tr>
                    <td>{{inv.detalle}}</td>
                    <td>{{MesNombre(inv.mes,'MesNombre')}}</td>
                    <td>{{inv.origen}}</td>
                    <td align="right">${{inv.valor}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td align="right" colspan=3>${{datasolicitud.Balance.inventarioTotal}}</td>
                </tr>
            </tfoot>
        </table>
        <!--Créditos con Fundación delamujer -->
        <div class="medioi">
            <table>
                <thead>
                    <tr>
                        <th>Créditos con Fundación delamujer</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Valor</th>
                    </tr>
                </thead>
                <tbody *ngFor="let inv of datasolicitud.Balance.creditos; let cont=index">
                    <tr>
                        <td align="right">${{inv.valor}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td align="right">Total: ${{datasolicitud.Balance.totalCreditos}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!--Créditos con proveedores -->
        <div class="mediod">
            <table>
                <thead>
                    <tr>
                        <th>Créditos con proveedor</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Valor</th>
                    </tr>
                </thead>
                <tbody *ngFor="let inv of datasolicitud.Balance.creditos; let cont=index">
                    <tr>
                        <td align="right">${{inv.valor}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td align="right">Total: ${{datasolicitud.Balance.totalCreditos}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- pasivos del negocio -->
        <table>
            <thead>
                <tr>
                    <th colspan="6">Pasivos del negocio</th>
                </tr>
                <tr>
                    <th style="text-align:center">Acreedor</th>
                    <th style="text-align:center">Monto original</th>
                    <th style="text-align:center">Destino</th>
                    <th style="text-align:center">Cuota</th>
                    <th style="text-align:center">Corriente</th>
                    <th style="text-align:center">No corriente</th>
                </tr>
            </thead>
            <tbody *ngFor="let pas of datasolicitud.Balance.pasivosRows; let cont=index">
                <tr *ngIf="pas.clase==1">

                    <td>{{pas.acreedor}}</td>
                    <td>{{pas.monto}}</td>
                    <td>{{pas.destino}}</td>
                    <td>{{pas.cuotaN}}</td>
                    <td>{{pas.corrienteN}}</td>
                    <td>{{pas.nocorrienteN}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total</td>
                    <td>{{datasolicitud.Balance.tcuotan}}</td>
                    <td>${{datasolicitud.Balance.tcorrienten}}</td>
                    <td>{{datasolicitud.Balance.tnocorrienten}}</td>
                </tr>
            </tfoot>
        </table>
    </ng-container>
    <ng-container *ngIf="datasolicitud.Gastos">
        <!-- gatos del negocio -->
        <table>
            <thead>
                <tr>
                    <th colspan="9">Gastos del Negocio</th>
                </tr>
                <tr>
                    <th>Alquiler</th>
                    <th>Servicios</th>
                    <th>Transporte</th>
                    <th>Flete</th>
                    <th>Impuestos</th>
                    <th>Mantenimiento</th>
                    <th>Imprevistos</th>
                    <th>Otros</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="datasolicitud.Gastos">
                    <tr>
                        <td style="text-align:right">${{datasolicitud.Gastos.alquilerN}}</td>
                        <td style="text-align:right">${{datasolicitud.Gastos.serviciosN}}</td>
                        <td style="text-align:right">${{datasolicitud.Gastos.transporteN}}</td>
                        <td style="text-align:right">${{datasolicitud.Gastos.fletesN}}</td>
                        <td style="text-align:right">${{datasolicitud.Gastos.impuestosN}}</td>
                        <td style="text-align:right">${{datasolicitud.Gastos.mantenimientoN}}</td>
                        <td style="text-align:right">${{datasolicitud.Gastos.imprevistosN}}</td>
                        <td style="text-align:right">${{datasolicitud.Gastos.otrosN}}</td>
                        <td style="text-align:right">${{datasolicitud.Gastos.totalN}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <!-- gatos de la familia -->
        <table>
            <thead>
                <tr>
                    <th colspan="10">Gastos de la Familia</th>
                </tr>
                <tr>
                    <th>Arriendo</th>
                    <th>Alimentación</th>
                    <th>Educación</th>
                    <th>Vestuario</th>
                    <th>Salud</th>
                    <th>Transporte</th>
                    <th>Servicios</th>
                    <th>Entretanimiento</th>
                    <th>Otros</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>${{datasolicitud.Gastos.arriendoF}}</td>
                    <td>${{datasolicitud.Gastos.alimentacionF}}</td>
                    <td>${{datasolicitud.Gastos.educacionF}}</td>
                    <td>${{datasolicitud.Gastos.vestuarioF}}</td>
                    <td>${{datasolicitud.Gastos.saludF}}</td>
                    <td>${{datasolicitud.Gastos.transporteF}}</td>
                    <td>${{datasolicitud.Gastos.serviciosF}}</td>
                    <td>${{datasolicitud.Gastos.entretenimientoF}}</td>
                    <td>${{datasolicitud.Gastos.otrosF}}</td>
                    <td>${{datasolicitud.Gastos.totalF}}</td>
                </tr>
            </tbody>
        </table>
        <!-- Remuneración de personal -->
        <div class="medioi">
            <table>
                <thead>
                    <tr>
                        <th colspan="2">Remuneración de personal</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Cargo</th>
                        <th style="text-align:center">Valor</th>

                    </tr>
                </thead>
                <tbody *ngFor="let rem of datasolicitud.Gastos.remuneracionRow; let cont=index">
                    <tr>
                        <td>{{rem.cargo}}</td>
                        <td style="text-align:right">${{rem.valor}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td align="right" colspan=3>${{datasolicitud.Gastos.totalRemuneracion}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- Otros Ingresos Familiares -->
        <div class="mediod">
            <table>
                <thead>
                    <tr>
                        <th colspan="3">Otros Ingresos Familiares</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Concepto</th>
                        <th style="text-align:center">Valor</th>
                        <th style="text-align:center">Observacion</th>
                    </tr>
                </thead>
                <tbody *ngFor="let otr of datasolicitud.Gastos.otrosIngresosRow; let cont=index">
                    <tr>
                        <td>{{TipoIngreso(otr.ingreso,'tipoingreso')}}</td>
                        <td style="text-align:right">${{otr.valor}}</td>
                        <td>{{otr.observacion}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td style="text-align:right" colspan="2">${{datasolicitud.Gastos.totalOtros}}</td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </ng-container>


    <div *ngFor="let act of datasolicitud.Cruces" id="actividades">
        <h3>Cruce #1 Ventas B R M</h3>
        <table>
            <thead>
                <tr>
                    <th style="text-align:center">Ventas</th>
                    <th style="text-align:center">Valor</th>
                    <th style="text-align:center">Total</th>
                </tr>
            </thead>
            <tr>
                <td>{{act.diasB}}</td>
                <td>${{act.valorB}}</td>
                <td>${{act.totalB}}</td>
            </tr>
            <tr>
                <td>{{act.diasR}}</td>
                <td>${{act.valorR}}</td>
                <td>${{act.totalR}}</td>
            </tr>
            <tr>
                <td>{{act.diasM}}</td>
                <td>${{act.valorM}}</td>
                <td>${{act.totalM}}</td>
            </tr>
        </table>

        <h3>Cruce #2</h3>
        <ng-container *ngIf="act.ventasHis">
            <div class="medio">
                <table>
                    <thead>
                        <tr>
                            <ng-container *ngIf="act.periodohistoricas">
                                <th colspan=2>Ventas Historicas {{act.periodohistoricas.name}}</th>
                            </ng-container>
                        </tr>
                        <tr>
                            <th style="text-align:center">Semana</th>
                            <th style="text-align:center">Valor</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let his of act.ventasHis; let cont=index">
                        <tr>
                            <td>{{cont}}</td>
                            <td>${{his.valor}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td>${{act.totalVentasHis}}</td>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </ng-container>

        <div class="medio">
            <table>
                <thead>
                    <tr>
                        <th colspan="4">Producción</th>
                    </tr>
                    <tr>
                        <th style="text-align:center">Nombre</th>
                        <th style="text-align:center">Cantidad</th>
                        <th style="text-align:center">Frecuencia</th>
                        <th style="text-align:center">Valor</th>
                    </tr>
                </thead>
                <tbody *ngFor="let prod of act.produccion">
                    <tr>
                        <td>{{prod.nombre}}</td>
                        <td>{{prod.cantidad}}</td>
                        <td>
                            <ng-container *ngIf="prod.frecuencia"> {{prod.frecuencia.name}}</ng-container>
                        </td>
                        <td>${{prod.valor}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Total</td>
                        <td>${{act.totalProduccion}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <!--     
    <table>
        <tr>
            <th colspan="2" style="text-align:center">Logo</th>
            <th colspan="6" style="text-align:center">FLUJO DE CAJA AGROPECUARIO</th>
        </tr>
        <tr>
            <td>Numero de Solicitud </td>
            <td>1</td>
            <td>Actividad Principal y Otras Agro</td>
            <td>1</td>
            <td>Producto Solicitado </td>
            <td>1</td>
            <td>Fecha del Estudio</td>
            <td>Hoy</td>
        </tr>
    </table>
    <br>
    <table class="table table-bordered">
        <tr>
            <th colspan="14" style="text-align:center">FLUJO DE CAJA AGROPECUARIO PROYECTADO</th>
        </tr>
        <tr>
            <td> Plazo Total del Crédito Actual (MESES) </td>
            <td>1</td>
            <td>Forma de Pago</td>
            <td>1</td>
            <td>Propuesta del crédito</td>
            <td>1</td>
            <td>Efectivo disponible</td>
            <td>1</td>
            <td> Ctas x Cobrar</td>
            <td>1</td>
            <td> Plan de Inversión (Activos Fijos)</td>
            <td>1</td>
            <td> Plan de Inversión (capital de trabajo)</td>
            <td>1</td>
        </tr>
    </table>
    <br>
    <table class="table table-bordered">
        <tr>
            <th colspan="2">Fecha Hoy</th>
            <th colspan="6" style="text-align:center">INGRESOS Act Agropecuaria</th>
            <th colspan="6" style="text-align:center">EGRESOS Act Agropecuaria</th>
            <th colspan="3" style="text-align:center">Actividades comerciales</th>
        </tr>
        <tr>
            <th rowspan="2" colspan="2">DETALLE</th>
            <td>Act1</td>
            <td>Act2</td>
            <td>Act3</td>
            <td>Act4</td>
            <td>Act5</td>
            <th rowspan="2">TOTAL</th>
            <td>Costo 1</td>
            <td>Costo 2</td>
            <td>Costo 3</td>
            <td>Costo 4</td>
            <td>Costo 5</td>
            <th rowspan="2">TOTAL</th>
            <td>Ingreso</td>
            <td>Egreso</td>
            <td>Otros Ingresos Independientes)</td>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>1</td>
            <td>2</td>
            <td> </td>
        </tr>
        <tr>
            <td>1</td>
            <td>mes</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td> Ing </td>
            <td> Egr </td>
            <td>Otro</td>
        </tr>
        <tr>
            <td>2</td>
            <td>mes</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td> Ing </td>
            <td> Egr </td>
            <td>Otro</td>
        </tr>
        <tr>
            <td>3</td>
            <td>mes</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td>Ing </td>
            <td>Egr </td>
            <td>Otro</td>
        </tr>
        <tr>
            <td>4</td>
            <td>mes</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td> Ing </td>
            <td> Egr </td>
            <td>Otro</td>
        </tr>
        <tr>
            <td>5</td>
            <td>mes</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td>Ing </td>
            <td>Egr </td>
            <td>Otro</td>
        </tr>
        <tr>
            <td>6</td>
            <td>mes</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td>Ing </td>
            <td>Egr </td>
            <td>Otro</td>
        </tr>
        <tr>
            <td>7</td>
            <td>mes</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td>Ing </td>
            <td>Egr </td>
            <td>Otro</td>
        </tr>
        <tr>
            <td>8</td>
            <td>mes</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td>Ing </td>
            <td>Egr </td>
            <td>Otro</td>
        </tr>
        <tr>
            <td>9</td>
            <td>mes</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td>Ing </td>
            <td>Egr </td>
            <td>Otro</td>
        </tr>
        <tr>
            <td>10</td>
            <td>mes</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td>Ing </td>
            <td>Egr </td>
            <td>Otro</td>
        </tr>
        <tr>
            <td>11</td>
            <td>mes</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td>Ing </td>
            <td>Egr </td>
            <td>Otro</td>
        </tr>
        <tr>
            <td>12</td>
            <td>mes</td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td>Total </td>
            <td>Ing </td>
            <td>Egr </td>
            <td>Otro</td>
        </tr>
        <tr>
            <th colspan="2">TOTAL AÑO 1</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th colspan="2">TOTAL/PLAZO</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
    </table>
    <br>
    <table class="table table-bordered">
        <tr>
            <th colspan="18">GASTOS</th>
        </tr>
        <tr>
            <th colspan="3">Fecha Hoy</th>
            <th>0</th>
            <th>enero</th>
            <th>febrero</th>
            <th>marzo</th>
            <th>abril </th>
            <th>mayo </th>
            <th>junio </th>
            <th>julio </th>
            <th>agosto </th>
            <th>septiembre </th>
            <th>octubre </th>
            <th>noviembre </th>
            <th>TOTAL</th>
            <th>TOTAL/PLAZO</th>
        </tr>
        <tr>
            <th colspan="3">Plan de inversión (Capital de trabajo)</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th colspan="3">Imprevistos</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th colspan="3">CtsxPagar/Proveedores</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th colspan="3">Gastos Familiares otros</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th colspan="3">Cuota Otros Créditos Incluidos FDLM</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th colspan="3">TOTAL GASTOS</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th colspan="3">TOTAL EGRESOS CRÉDITO</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>

        <tr>
            <th colspan="3">Flujo de caja sin acumular</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th colspan="3">Flujo de caja acumulado</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th colspan="3">Proyección Cuota Crédito</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th colspan="3">Flujo de caja sin acumular(+cuota)</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th colspan="3">RELACION CUOTA/LIQUIDEZ</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th colspan="3">Flujo de caja acumulado (+cuota)</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <th colspan="3">RELACION CUOTA/LIQUIDEZ</th>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
    </table> -->

</div>