.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  mat-form-field {
    width: 100%;
  }
  
  .gr {
    padding-right: 10px;
  }

  