<h2>Datos de la zonificacion</h2>
<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                1. ARC-FO-003
            </mat-panel-title>
            <mat-panel-description>
                Novedades de asesores y barrios
                <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="mat-elevation-z8 table-sol">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- Position Column -->
                <ng-container matColumnDef="asesor">
                    <th mat-header-cell *matHeaderCellDef> Asesor </th>
                    <td mat-cell *matCellDef="let element"> {{element.asesor}} </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="CodigoDepartamento">
                    <th mat-header-cell *matHeaderCellDef> Codigo Depto</th>
                    <td mat-cell *matCellDef="let element"> {{element.CodigoDepartamento}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="NombreDepartamento">
                    <th mat-header-cell *matHeaderCellDef> Nombre Departamento </th>
                    <td mat-cell *matCellDef="let element"> {{element.NombreDepartamento}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="CodigoCiudadoMunicipio">
                    <th mat-header-cell *matHeaderCellDef> Codigo Ciudad</th>
                    <td mat-cell *matCellDef="let element"> {{element.CodigoCiudadoMunicipio}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="NombreCiudadoMunicipio">
                    <th mat-header-cell *matHeaderCellDef> Nombre Ciudad </th>
                    <td mat-cell *matCellDef="let element"> {{element.NombreCiudadoMunicipio}} </td>
                </ng-container>

                <ng-container matColumnDef="CodigoBarrioVereda">
                    <th mat-header-cell *matHeaderCellDef> Codigo Barrio</th>
                    <td mat-cell *matCellDef="let element"> {{element.CodigoBarrioVereda}} </td>
                </ng-container>

                <ng-container matColumnDef="NombredelBarrioVereda">
                    <th mat-header-cell *matHeaderCellDef> Nombre Barrio</th>
                    <td mat-cell *matCellDef="let element"> {{element.NombredelBarrioVereda}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                2. Adjuntos
            </mat-panel-title>
            <mat-panel-description>
                POT-EOT-Recibos Publicos-UPZ
                <mat-icon>attach_file</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-adjuntos [idSolicitud]="id"></app-adjuntos>

    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                3. Zona Oficina - Mapa
            </mat-panel-title>
            <mat-panel-description>
                Type the country name
                <mat-icon>map</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-mapa></app-mapa>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                4. Limite de la Oficina
            </mat-panel-title>
            <mat-panel-description>
                Inform the date you wish to travel
                <mat-icon>date_range</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>
    </mat-expansion-panel>
</mat-accordion>